<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-24">
    <div class="lg:w-1/2 lg:pl-12 lg:ml-auto">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-36 md:pl-12">
            <nav aria-label="Sidebar" class="bg-slate-50 rounded-lg p-4 lg:p-8">
              <div>
                <p>
                  <a
                    href="/contact"
                    class="text-blue-600 hover:text-purple-900 font-semibold text-sm"
                    >Contact support</a
                  >
                </p>
                <p class="text-xs text-slate-500">
                  24x7 help from our support staff
                </p>
              </div>
              <div class="mt-8 pt-8 border-t border-slate-200">
                <h3
                  class="font-medium text-slate-500 text-sm"
                  id="projects-headline">
                  Projects
                </h3>
                <div class="mt-1 space-y-1" aria-labelledby="projects-headline">
                  <div class="space-y-2 mt-6">
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Website redesign</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">GraphQL API</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Customer migration guides</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Profit sharing program</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Conexions</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Deployments</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Payments</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Payouts</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Invoices</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Account</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-slate-500 hover:text-blue-500">
                      <span class="truncate">Privacy</span>
                    </a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0">
        <div>
          <p
            class="text-purple-900 font-semibold mt-6 text-4xl tracking-tighter">
            How can we help?
          </p>
          <label for="search" class="sr-only">Quick search</label>
          <div class="relative flex items-center mt-12">
            <input
              type="text"
              name="search"
              id="search"
              class="pr-12 w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
            />
            <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
              <kbd
                class="inline-flex items-center px-2 font-sans text-sm font-medium text-purple-900"
                >⌘K</kbd
              >
            </div>
          </div>
        </div>

        <div class="mt-24">
          <div>
            <p class="text-purple-900 font-medium">Popular articles</p>
          </div>
          <ul role="list" class="grid grid-cols-1 gap-12 list-none mt-6">
            <li>
              <a href="/single-topic">
                <div class="inline-flex items-start gap-3">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5 text-blue-500">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <span
                      class="text-blue-600 hover:text-purple-900 text-sm font-medium">
                      Trouble signing in
                    </span>
                    <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                      How to regain access to your Spaziobianco account if you
                      can no longer sign in or have forgotten some of your log
                      in information.
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/single-topic">
                <div class="inline-flex items-start gap-3">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5 text-blue-500">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <span
                      class="text-blue-600 hover:text-purple-900 text-sm font-medium">
                      1099-K forms issued by Spaziobianco
                    </span>
                    <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                      What is the 1099-K Form? Every year, the United States’
                      IRS requires that Spaziobianco provide a form called a
                      1099-K for each Spaziobianco account that meets all.
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/single-topic">
                <div class="inline-flex items-start gap-3">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5 text-blue-500">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <span
                      class="text-blue-600 hover:text-purple-900 text-sm font-medium">
                      How to handle disputes
                    </span>
                    <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                      Each card network has its own formal, structured process
                      for handling disputes between cardholders and merchants,
                      but at a high level they are all.
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/single-topic">
                <div class="inline-flex items-start gap-3">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5 text-blue-500">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <span
                      class="text-blue-600 hover:text-purple-900 text-sm font-medium">
                      Waiting period for first payout on Spaziobianco
                    </span>
                    <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                      Your first payout is typically available 7 days after you
                      add your bank account and take your first successful
                      payment on Spaziobianco. This waiting period…
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/single-topic">
                <div class="inline-flex items-start gap-3">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5 text-blue-500">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <span
                      class="text-blue-600 hover:text-purple-900 text-sm font-medium">
                      Waiting period for first payout on Spaziobianco
                    </span>
                    <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                      Your first payout is typically available 7 days after you
                      add your bank account and take your first successful
                      payment on Spaziobianco. This waiting period…
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/single-topic">
                <div class="inline-flex items-start gap-3">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5 text-blue-500">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <span
                      class="text-blue-600 hover:text-purple-900 text-sm font-medium">
                      Unknown charge from Spaziobianco
                    </span>
                    <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                      This page contains information intended for customers of
                      businesses that use Spaziobianco. If you see
                      “Spaziobianco” on your bank statement and you’re unsure…
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a href="/single-topic">
                <div class="inline-flex items-start gap-3">
                  <div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-5 h-5 text-blue-500">
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                      ></path>
                    </svg>
                  </div>
                  <div>
                    <span
                      class="text-blue-600 hover:text-purple-900 text-sm font-medium">
                      Unknown charge from Spaziobianco
                    </span>
                    <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                      This page contains information intended for customers of
                      businesses that use Spaziobianco. If you see
                      “Spaziobianco” on your bank statement and you’re unsure…
                    </p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
