<section aria-labelledby="feature-five" id="feature-five" class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 lg:flex py-24">
    <div class="lg:w-1/2 lg:pl-12 lg:ml-auto">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-36 md:pl-12">
            <nav
              aria-label="Sidebar"
              class="bg-mercury-50 rounded-lg p-4 lg:p-8"
            >
              <div>
                <p>
                  <a
                    href="/contact"
                    class="text-orange hover:text-tangaroa-500 font-semibold text-sm"
                    >Contact support</a
                  >
                </p>
                <p class="text-xs text-tangaroa-400">
                  24×7 help from our support staff
                </p>
              </div>
              <div class="mt-8 pt-8 border-t border-mercury-400">
                <h3
                  class="font-medium text-mercury-500 text-sm"
                  id="projects-headline"
                >
                  Projects
                </h3>
                <div class="mt-1 space-y-1" aria-labelledby="projects-headline">
                  <div class="space-y-2 mt-6">
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Website redesign</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">GraphQL API</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Customer migration guides</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Profit sharing program</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Conexions</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Deployments</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Payments</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Payouts</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Invoices</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Account</span>
                    </a>
                    <a
                      href="/single-topic"
                      class="group flex items-center rounded-md text-sm font-medium text-tangaroa-400 hover:text-orange"
                    >
                      <span class="truncate">Privacy</span>
                    </a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:order-first">
      <section>
        <div>
          <div
            class="prose-3xl prose-p:text-tangaroa-400 prose-h1:text-3xl prose text-tangaroa-500 prose-h1:text-tangaroa-500 prose-h1:font-semibold prose-h2:text-tangaroa-500 prose-h2:font-medium prose-h2:text-lg prose-a:font-semibold prose-a:text-orange hover:prose-a:text-tangaroa-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint prose-li:marker:text-tangaroa-500 prose-ol:list-decimal"
          >
            <h1>Trouble signing in</h1>
            <p>
              How to regain access to your supreme account if you can no longer
              sign in or have forgotten some of your log in information.
            </p>
            <h2>Forgotten username or email address</h2>
            <p>
              The username for your supreme account is the email address that
              was used to register the account. Check your inbox for any supreme
              emails to confirm the email address you signed up with.
            </p>
            <h2>Forgotten password</h2>
            <p>
              If you’ve forgotten your password, you can reset it at
              <a href="/help-center">dashboard.supreme.com/reset.</a>
            </p>
            <p>
              If you have two-step authentication enabled, you’ll need to
              confirm it’s you by also completing two-step authentication (for
              example, by entering the verification code that we’ll send to your
              mobile device) in order to complete the reset.
            </p>
            <p>
              Once you’ve successfully reset your password, you’ll receive a
              confirmation email in your inbox.
            </p>
            <h2>Can’t complete two-step authentication</h2>
            <p>
              If you remember your password but can’t complete two-step
              authentication, you can temporarily disable two-step
              authentication to recover your account by visiting
              dashboard.supreme.com/recover.
            </p>
            <p>
              As a best practice, we recommend enabling multiple options for
              two-step authentication, e.g., backup code, touch ID, etc.
              Enabling multiple options makes it easier to log in into your
              account in the future (for example, when you update your phone
              number and can’t authenticate with your old phone number). More on
              how to set up these other options here.
            </p>
            <h2>Still can’t sign in</h2>
            <p>
              If you’ve followed the steps above but you still can’t sign in,
              contact our support team for help. Select the most relevant
              question for your issue from the dropdown, and use the email
              address that you signed up with to help us locate your account
              more easily.
            </p>
          </div>
          <div>
            <div class="max-w-xl mt-12 border-b pb-5 border-mercury-200">
              <div class="items-center inline-flex rounded-md py-4 w-full">
                <p class="text-tangaroa-500">
                  Did this answer your question? ?
                </p>

                <div class="items-center inline-flex gap-3 ml-auto">
                  <button
                    class="items-center flex bg-mercury-50 hover:text-orange h-8 justify-center rounded-lg text-tangaroa-400 w-12"
                    >Yes
                  </button>
                  <button
                    class="items-center flex bg-mercury-50 hover:text-orange h-8 justify-center rounded-lg text-tangaroa-400 w-12"
                    >No</button
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="mt-24">
            <div>
              <p class="text-tangaroa-500 font-medium">Related articles</p>
            </div>
            <ul role="list" class="grid grid-cols-1 gap-12 list-none mt-6">
              <li>
                <a href="/single-topic">
                  <div class="inline-flex items-start gap-3">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 text-orange"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <span
                        class="text-orange hover:text-tangaroa-500 text-sm font-medium"
                      >
                        Trouble signing in
                      </span>
                      <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                        How to regain access to your Spaziobianco account if you
                        can no longer sign in or have forgotten some of your log
                        in information.
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/single-topic">
                  <div class="inline-flex items-start gap-3">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 text-orange"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <span
                        class="text-orange hover:text-tangaroa-500 text-sm font-medium"
                      >
                        1099-K forms issued by Spaziobianco
                      </span>
                      <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                        What is the 1099-K Form? Every year, the United States’
                        IRS requires that Spaziobianco provide a form called a
                        1099-K for each Spaziobianco account that meets all.
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/single-topic">
                  <div class="inline-flex items-start gap-3">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 text-orange"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <span
                        class="text-orange hover:text-tangaroa-500 text-sm font-medium"
                      >
                        How to handle disputes
                      </span>
                      <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                        Each card network has its own formal, structured process
                        for handling disputes between cardholders and merchants,
                        but at a high level they are all.
                      </p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="/single-topic">
                  <div class="inline-flex items-start gap-3">
                    <div>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 text-orange"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <span
                        class="text-orange hover:text-tangaroa-500 text-sm font-medium"
                      >
                        Waiting period for first payout on Spaziobianco
                      </span>
                      <p class="text-slate-500 leading-relaxed mt-2 text-sm">
                        Your first payout is typically available 7 days after
                        you add your bank account and take your first successful
                        payment on Spaziobianco. This waiting period…
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<section aria-labelledby="feature-six" id="feature-six">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24 items-center"
  >
    <div>
      <ul
        role="list"
        class="grid grid-cols-2 lg:grid-cols-4 gap-4 list-none lg:gap-6 mt-6"
      >
        <li>
          <a href="/help-center" class="group">
            <div>
              <p
                class="font-semibold text-tangaroa-500 text-sm group-hover:text-orange"
              >
                Prebuilt integrations
              </p>
            </div>
            <div class="mt-2 text-tangaroa-400 text-sm">
              Municipal management performance corporate investment grade bonds.
            </div>
          </a>
        </li>
        <li>
          <a href="/help-center" class="group">
            <div>
              <p
                class="font-semibold text-tangaroa-500 text-sm group-hover:text-orange"
              >
                Tools for every stack
              </p>
            </div>
            <div class="mt-2 text-tangaroa-400 text-sm">
              Corporate bonds debt fiat risk return municipal bonds retirement
              interest rate benchmark.
            </div>
          </a>
        </li>
        <li>
          <a href="/help-center" class="group">
            <div>
              <p
                class="font-semibold text-tangaroa-500 text-sm group-hover:text-orange"
              >
                Prebuilt integrations
              </p>
            </div>
            <div class="mt-2 text-tangaroa-400 text-sm">
              Municipal management performance corporate investment grade bonds.
            </div>
          </a>
        </li>
        <li>
          <a href="/help-center" class="group">
            <div>
              <p
                class="font-semibold text-tangaroa-500 text-sm group-hover:text-orange"
              >
                Tools for every stack
              </p>
            </div>
            <div class="mt-2 text-tangaroa-400 text-sm">
              Corporate bonds debt fiat risk return municipal bonds retirement
              interest rate benchmark.
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
