<section aria-labelledby="header-one" id="header-one" class="relative">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 my-24 items-center"
  >
    <div
      class="px-8 lg:mx-auto lg:max-w-7xl lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24"
    >
      <div class="lg:pr-24 md:pr-12">
        <span class="text-orange uppercase text-xs font-semibold"
          >Feature One</span
        ><h2 class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl">
          Includes Astro.js prismic
        </h2>
        <p class="text-tangaroa-400 mt-5">
          Receive dividends bull investment mutual funds rise federal funds
          strategy substantially treasury municipal public index funds.
        </p>
        <p class="text-tangaroa-400 mt-5">
          Fall volatile rates funds Standard & Poor's market index upswing
          financial health growth bear. Treasury 401k potential.
        </p>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div
          class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full"
        >
          <img
            class="w-full border lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
            src="../images/placeholderRectangle.svg"
            alt="Inbox user interface"
          />
        </div>
      </div>
    </div>
  </div>
</section>
