<section
  aria-labelledby="header-one"
  id="header-one"
  class="relative overflow-hidden">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-12 my-24 items-center">
    <div
      class="lg:mx-auto lg:max-w-7xl lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="lg:pr-24 md:pr-12">
        <span class="text-orange uppercase text-xs font-semibold"
          >Header One</span
        >
        <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl">
          Swap sections and create your landing page in minutes, not hours.
        </h2>
        <p class="text-tangaroa-400 mt-5">
          Receive dividends bull investment mutual funds rise federal funds
          strategy substantially treasury municipal public index funds.
        </p>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div
          class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img
            class="w-full shadow-card rounded-xl lg:absolute lg:left-0 lg:h-[30rem] lg:w-auto lg:max-w-none"
            src="/images/dashboard.jpg"
            alt="Inbox user interface"
          />
        </div>
      </div>
    </div>
  </div>
</section>
