<section
  aria-labelledby="header-one"
  id="header-one"
  class="relative overflow-hidden border-b">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div class="lg:pr-24 md:pr-12">
          <h2
            class="inline-flex items-center text-blue-600"
            id="table-of-contents-title">
            <span class="font-mono text-sm" aria-hidden="true">03</span><span
              class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
              class="ml-3 text-base font-medium tracking-tight">Header</span
            >
          </h2>
          <h2
            class="text-purple-900 font-semibold mt-6 text-4xl lg:text-7xl tracking-tighter">
            Swap sections and create your landing page in minutes
          </h2>
        </div>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            href="/overview">
            Explor all pages
          </a>
        </div>
      </div>
      <div class="lg:mt-0 lg:ml-auto">
        <div
          class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
          <div class="flex items-center space-x-6 lg:space-x-8">
            <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
              <div class="h-full w-44 osm:opacity-0 lg:opacity-100">
                <img
                  src="/images/appScreen1.png"
                  alt="thumbnail"
                  class="drop-shadow-2xl"
                />
              </div>
              <div class="h-full w-44">
                <img
                  src="/images/appScreen7.png"
                  alt="thumbnail"
                  class="drop-shadow-2xl"
                />
              </div>
            </div>
            <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
              <div class="h-full w-44">
                <img
                  src="/images/appScreen2.png"
                  alt="thumbnail"
                  class="drop-shadow-2xl"
                />
              </div>
              <div class="h-full w-44">
                <img
                  src="/images/appScreen6.png"
                  alt="thumbnail"
                  class="drop-shadow-2xl"
                />
              </div>
              <div class="h-full w-44">
                <img
                  src="/images/appScreen3.png"
                  alt="thumbnail"
                  class="drop-shadow-2xl"
                />
              </div>
            </div>
            <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
              <div class="h-full w-44">
                <img
                  src="/images/appScreen6.png"
                  alt="thumbnail"
                  class="drop-shadow-2xl"
                />
              </div>
              <div class="h-full w-44">
                <img
                  src="/images/appScreen3.png"
                  alt="thumbnail"
                  class="drop-shadow-2xl"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
