---
// Assets
import { Image } from "astro:assets";
import LimeStripe from "@/images/assets/LimeStripe.png";
// Components
import ValuationTool from "@/components/dashboard/ValuationTool.astro";
---

<section>
  <div class="relative overflow-hidden py-32 flex flex-col items-center justify-center min-h-dvh">
    <Image
      src={LimeStripe}
      alt="Lime Stripe"
      class="absolute inset-0 size-full scale-150"
    />
    
    <div class="relative z-10 w-full">
      <ValuationTool />
    </div>
  </div>
</section>
