---

import uno from "/public/images/uno.png";
import two from "/public/images/two.png";
import three from "/public/images/three.png";
import four from "/public/images/four.png";
import { Image } from "@astrojs/image/components";
---

<section
  aria-labelledby="header-one"
  id="header-one"
  class="relative overflow-hidden"
>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 my-24 items-center"
  >
    <div class="items-start">
      <div>
        <div class="max-w-xl">
          <h2
            class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl"
          >
            Spaziobianco UI Kit
          </h2>
          <p class="text-tangaroa-400 mt-5">
            Spaziobianco. is a beautifully design UI Kit that allows you to put
            togheter pages from different categories and customize them to your
            needs to create a landing page or a whole website in hours, not
            months.
          </p>
        </div>
        <div class="mt-10 flex flex-col lg:flex-row gap-3 lg:gap-6">
          <a
            class="group w-full lg:w-auto inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-tangaroa-500 text-white hover:bg-tangaroa-700 hover:text-tangaroa-100 active:bg-tangaroa-800 active:text-tangaroa-300 focus-visible:outline-tangaroa-900"
            href="/overview"
          >
            Explora all pages
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-5 h-5 ml-3"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div>
      <ul
        role="list"
        class="grid grid-cols-2 lg:grid-cols-3 gap-4 list-none lg:gap-12 mt-24"
      >
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              Built with Astro.js
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            Astro is an all-in-one web framework for building fast,
            content-focused websites.
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              Styled with Tailwind CSS
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            Tailwind CSS works by scanning all of your HTML files, JavaScript
            components, and any other templates for class names, generating the
            corresponding styles and then writing them to a static CSS file.
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              Relived with Alpine.js
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            Alpine is a rugged, minimal tool for composing behavior directly in
            your markup. Think of it like jQuery for the modern web. Plop in a
            script tag and get going.
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              Keyboard accessible.
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            Everything I build is keyboard accessible, and I meticulously write
            the markup to deliver the best screenreader experience I can
            provide.
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              Production-ready
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            I tested the template in the latest versions of all browsers to
            handle lots of edge-cases you might encounter.
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              Simple deploys
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            The template is production-ready and easily deployed anywhere that
            you can deploy a static wbsites, like Vercel, Netlify, GitHub pages,
            a bounch of options..
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 my-24 items-center"
  >
    <div class="items-start">
      <div>
        <div class="max-w-xl">
          <h2
            class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl"
          >
            Plugins, integrations and stack.
          </h2>
          <p class="text-tangaroa-400 mt-5">
            Supreme templates are thoughtfully crafted with the latest Astro,
            Tailwind and Alpine.js integrations and versions to keep it simple
            and easy to maintain.
          </p>
        </div>
      </div>
    </div>
    <div>
      <ul
        role="list"
        class="grid grid-cols-2 lg:grid-cols-3 gap-4 list-none lg:gap-12 mt-24"
      >
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">Astro.js</p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">Tailwind</p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              @astro/alpinejs
            </p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">@astro/Seo</p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">@astro/image</p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">@astro/image</p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              @astro/compress
            </p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              @astro/sitemap
            </p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              @astro/partytown
            </p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              @tailwindcss/forms
            </p>
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-sm">
              @tailwindcss/typography
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section>
  <div class="mx-auto lg:flex px-8 md:px-12 lg:px-16 xl:px-36 max-w-7xl mb-24">
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-3">
      <div>
        <div class="">
          <Image
            class="rounded-t-xl"
            src={uno}
            alt="#"
            width={768}
            height={588}
          />
        </div>
      </div>
      <div>
        <div class="">
          <Image
            class="rounded-t-xl"
            src={two}
            alt="#"
            width={768}
            height={588}
          />
        </div>
      </div>
      <div>
        <div class="">
          <Image
            class="rounded-t-xl"
            src={three}
            alt="#"
            width={768}
            height={588}
          />
        </div>
      </div><div>
        <div class="">
          <Image
            class="rounded-t-xl"
            src={four}
            alt="#"
            width={768}
            height={588}
          />
        </div>
      </div>
    </div>
  </div>
</section>
