<section class="bg-tangaroa-600 transform skew-y-6">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24 lg:pt-42 pb-52 items-center transform -skew-y-6"
  >
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 lg:grid-cols-3 pt-10">
      <h2 class="text-white text-xl">What you get</h2><div
        class="grid grid-cols-1 gap-8 lg:col-span-2"
      >
        <div>
          <span class="text-white font-display font-medium leading-6 text-lg"
            >Buio</span
          ><p class="text-mercury-400 text-base">
            A dark modern and clean landing page template for your next SaaS
            idea, built with Tailwind CSS and Astro and designed and built by
            Michael Andreuzza. It’s production-ready and easy to customize, the
            perfect starting point for your own project.
          </p>
        </div><div>
          <span class="text-white font-display font-medium leading-6 text-lg"
            >Structure</span
          ><p class="text-mercury-400 text-base">
            spaziobianco's structre has been built with a combination of the
            100+ elements. 20+ demo pages pages and 70+ sections!
          </p>
        </div><div>
          <span class="text-white font-display font-medium leading-6 text-lg"
            >Publishing</span
          ><p class="text-mercury-400 text-base">
            spaziobianco. can be perfectly deployed to Vercel, Netlify and much
            more!
          </p>
        </div>
        <div class="mt-10 flex flex-col lg:flex-row gap-3 lg:gap-6">
          <a
            class="group w-full lg:w-auto inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-mint hover:bg-orange text-tangaroa-500 active:bg-tangaroa-800 active:text-tangaroa-300 focus-visible:outline-tangaroa-900"
            href=" "
          >
            Buy Spaziobianco
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
