<section>
  <div class="mx-auto relative px-8 py-24 max-w-7xl lg:py-36 lg:px-24 md:px-12">
    <div>
      <div class="mx-auto text-center">
        <h1
          class="text-purple-900 font-semibold mt-6 text-4xl lg:text-7xl tracking-tighter">
          Ready to experience a live stage?
        </h1>
        <div class="mx-auto max-w-xl lg:mt-8">
          <p class="text-slate-500">Submit your details below to enter</p>
        </div>
        <form class="mt-8 sm:flex max-w-xl mx-auto">
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900˚"
            placeholder="Enter your email to join the event"
          />
          <div class="mt-3 rounded-md sm:mt-0 sm:ml-3 sm:flex-shrink-0">
            <button
              type="submit"
              class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
              >Join</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 lg:pb-24 items-center">
    <div class="max-w-xl mx-auto">
      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        Schedule
      </h2>
      <p class="text-slate-500 mt-5">
        Be a part of the first official Lexington event.
      </p>
      <a href="/speaker">
        <div class="space-y-3 mt-12">
          <h2 class="inline-flex items-center text-blue-600">
            <span class="text-base font-medium tracking-tight"
              >Jan 1 - 9:00am PST
            </span>
          </h2>
          <div>
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="flex items-center justify-center w-8 h-8 text-blue-500 object-cover rounded-full bg-slate-100">
                <img
                  src="https://images.unsplash.com/photo-1527423460268-0b3795a97e7f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                  class="shrink-0 rounded-full object-cover"
                  alt=""
                />
              </div>
              <div>
                <p class="font-semibold text-black">
                  Will your finances survive ?
                </p>
                <p class="text-base text-slate-500">Juana Ban Annha</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="/speaker">
        <div class="space-y-3 mt-12">
          <h2 class="inline-flex items-center text-blue-600">
            <span class="text-base font-medium tracking-tight"
              >8:30pm – 9:10pm
            </span>
          </h2>
          <div>
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="flex items-center justify-center w-8 h-8 text-blue-500 object-cover rounded-full bg-slate-100">
                <img
                  src="/images/writer2.jpg"
                  class="shrink-0 rounded-full object-cover"
                  alt=""
                />
              </div>
              <div>
                <p class="font-semibold text-black">Is crypto the new black?</p>
                <p class="text-base text-slate-500">Mariola Smith</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="/speaker">
        <div class="space-y-3 mt-12">
          <h2 class="inline-flex items-center text-blue-600">
            <span class="text-base font-medium tracking-tight"
              >7:50pm – 8:30pm
            </span>
          </h2>
          <div>
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="flex items-center justify-center w-8 h-8 text-blue-500 object-cover rounded-full bg-slate-100">
                <img
                  src="/images/writer3.jpg"
                  class="shrink-0 rounded-full object-cover"
                  alt=""
                />
              </div>
              <div>
                <p class="font-semibold text-black">Using Spazio SDKs</p>
                <p class="text-base text-slate-500">Jean Claude Marieu</p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="/speaker">
        <div class="space-y-3 mt-12">
          <h2 class="inline-flex items-center text-blue-600">
            <span class="text-base font-medium tracking-tight"
              >6:30pm – 7:10pm
            </span>
          </h2>
          <div>
            <div class="gap-3 lg:inline-flex lg:items-center">
              <div
                class="flex items-center justify-center w-8 h-8 text-blue-500 object-cover rounded-full bg-slate-100">
                <img
                  src="/images/writer4.jpeg"
                  class="shrink-0 rounded-full object-cover"
                  alt=""
                />
              </div>
              <div>
                <p class="font-semibold text-black">
                  Serverless databases at the edge of glory
                </p>
                <p class="text-base text-slate-500">Sabina Inna</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
