<section class="relative overflow-hidden">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 lg:py-48 items-center">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-24">
      <div class="lg:col-span-2">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="font-medium tracking-tight"
            >Event 2023 ⏤ Registration opens May 28th 2023
          </span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          Connect 2023
        </h2>
        <p class="text-slate-500 mt-5">
          Be a part of the first official Lexington event.
        </p>
        <p class="text-slate-500 mt-5">
          Join us for the first official Lexington Themes event, where you can
          connect with more than 2000 developers and designers, discuss ideas,
          enjoy some drinks, and get an exclusive preview of all the exciting
          new developments the Lexington Themes team has been working on.
        </p>
        <p class="text-slate-500 mt-5">
          Broadcasted live from
          <a class="text-blue-500 hover:blue-600" target="_blank" href="#"
            >Music House</a
          >
          is going to be the ultimate celebration of Lexington Themes for anyone
          who has been using it to create amazing websites over the past year. Don't
          miss out on this opportunity to be a part of it!
        </p>
      </div>
      <div class="space-y-6">
        <div>
          <p
            class="font-semibold text-purple-900 inline-flex items-center gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-map-pin"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
              <path
                d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
              ></path>
            </svg>
            Location
          </p>
          <p class="mt-2 text-slate-500 text-sm">
            Grand Ballroom <br /> 34 Princes Street, Auckland Central, Auckland 1010
            New Zealand
          </p>
        </div>
        <div>
          <p
            class="font-semibold text-purple-900 inline-flex items-center gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-clock"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
              <path d="M12 7v5l3 3"></path>
            </svg>
            Date & time
          </p>
          <p class="mt-2 text-slate-500 text-sm">
            Monday, May 28, 2030 <br /> 12:30 PM - 10:00 PM EDT
          </p>
        </div>
        <div>
          <p
            class="font-semibold text-purple-900 inline-flex items-center gap-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-badge-down-filled"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M16.375 6.22l-4.375 3.498l-4.375 -3.5a1 1 0 0 0 -1.625 .782v6a1 1 0 0 0 .375 .78l5 4a1 1 0 0 0 1.25 0l5 -4a1 1 0 0 0 .375 -.78v-6a1 1 0 0 0 -1.625 -.78z"
                stroke-width="0"
                fill="currentColor"></path>
            </svg>Admission
          </p>
          <p class="mt-2 text-slate-500 text-sm">
            $500000 per person <br />
            Registration opens May 28, 2023
          </p>
        </div>
      </div>
    </div>
    <div class="mt-24 max-w-xl">
      <ol role="list" class="overflow-hidden">
        <li class="relative pb-10">
          <div
            class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-blue-600"
            aria-hidden="true">
          </div>
          <a href="#" class="group relative flex items-start">
            <span class="flex h-9 items-center">
              <span
                class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full bg-blue-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler text-white icon-tabler-circle-dot"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                </svg>
              </span>
            </span>
            <span class="ml-4 flex min-w-0 flex-col">
              <span class="font-semibold text-purple-900"
                >6:00 PM - 6:45 PM ⏤ Settle in</span
              >
              <span class="text-sm text-slate-500"
                >Get comfortable, collect some complimentary merchandise, and
                have a drink with other community members in advance of the
                keynote.
              </span>
            </span>
          </a>
        </li>
        <li class="relative pb-10">
          <div
            class="absolute left-4 top-4 -ml-px mt-0.5 h-full w-0.5 bg-blue-600"
            aria-hidden="true">
          </div>
          <a href="#" class="group relative flex items-start">
            <span class="flex h-9 items-center">
              <span
                class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full bg-blue-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler text-white icon-tabler-circle-dot"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                </svg>
              </span>
            </span>
            <span class="ml-4 flex min-w-0 flex-col">
              <span class="font-semibold text-purple-900"
                >6:45 PM - 8:00 PM ⏤ Presentation</span
              >
              <span class="text-sm text-slate-500"
                >Featuring a keynote presentation from Michael Andreuzza and
                live demos from community members like Volkan Kaja.
              </span>
            </span>
          </a>
        </li>
        <li class="relative pb-10">
          <a href="#" class="group relative flex items-start">
            <span class="flex h-9 items-center">
              <span
                class="relative z-10 flex h-8 w-8 items-center justify-center rounded-full bg-blue-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler text-white icon-tabler-circle-dot"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  stroke-width="3"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                </svg>
              </span>
            </span>
            <span class="ml-4 flex min-w-0 flex-col">
              <span class="font-semibold text-purple-900"
                >8:00 PM - 10:00 PM ⏤ Evening social</span
              >
              <span class="text-sm text-slate-500"
                >Spend the rest of the evening making connections with other
                community members over canapés, snacks, and refreshments.
              </span>
            </span>
          </a>
        </li>
      </ol>
      <div class="mt-24">
        <h3
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          FAQs
        </h3>
        <div class="gap-x-2 gap-y-14 space-y-6 mt-12">
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  Is this an online event?
                </p>
              </div>
              <p class="text-slate-500 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed. management
                district stocks. Potential funds consulting expenses.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  Will the event be live streamed?
                </p>
              </div>
              <p class="text-slate-500 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  Are there any recommended accommodations near the venue?
                </p>
              </div>
              <p class="text-slate-500 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  Is it refundable?
                </p>
              </div>
              <p class="text-slate-500 mt-5">
                Nope, not really because it takes a lot of work to get there
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
