---
// Icons
import InfoCircle from "@/components/fundations/icons/InfoCircle.astro";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
//Sections
import HelpCenterFaq from "@/components/helpcenter/HelpCenterFaq.astro";
import TicketCta from "@/components/helpcenter/TicketCta.astro";
// Components
import HelpCenterSearch from "@/components/helpcenter/HelpCenterSearch.astro";
import HelpCenterEntries1 from "@/components/helpcenter/HelpCenterEntries1.astro";
// Content
import { getCollection } from "astro:content";
// Content
const allEntries = await getCollection("helpcenter");
---

<BaseLayout>
  <section
    class="relative overflow-hidden  bg-linear-45 from-base-800 via-base-900 to-base-950"
  >
    <Wrapper variant="standard" class="relative z-20 pt-32  lg:pt-48 pb-80">
      <div class="max-w-2xl mx-auto text-center">
        <Text
          class="span"
          variant="textXS"
          data-aos="fade-down"
          data-aos-duration="1000"
          class="flex items-center justify-center font-medium uppercase text-base-400 gap-2"
        >
          <InfoCircle size="sm" class="text-yellow-600" />
          Help center
        </Text>
        <Text
          tag="h3"
          variant="displayMD"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="mt-8 font-semibold tracking-tight text-base-300 md:text-balance"
        >
          Explore our Help Center for answers to your questions and assistance.
        </Text>
        <HelpCenterSearch />
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="pt-24 pb-12">
      <div
        class="z-40 items-start grid grid-cols-1 gap-4 -mt-30 lg:-mt-40 lg:grid-cols-4"
      >
        {allEntries.map((post) => <HelpCenterEntries1 post={post} />)}
      </div>
    </Wrapper>
  </section>
  <TicketCta />
  <HelpCenterFaq />
</BaseLayout>
