<section aria-labelledby="pricing-one" id="pricing-one">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-6 my-24">
    <div
      class="mx-auto relative grid grid-cols-1 items-end gap-y-12 lg:static lg:grid-cols-2">
      <div>
        <span class="text-tangaroa-400 uppercase text-xs font-semibold"
          >Cta One</span
        >
        <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl">
          Ready to get started?
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-tangaroa-400 text-xl lg:text-2xl">
            Get in touch or create an account.
          </p>
        </div>
      </div>
      <div
        class="mt-10 flex flex-col lg:flex-row justify-center gap-x-6 lg:ml-auto">
        <a
          class="group w-full lg:w-auto inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-tangaroa-500 text-white hover:bg-tangaroa-700 hover:text-tangaroa-100 active:bg-tangaroa-800 active:text-tangaroa-300 focus-visible:outline-tangaroa-900"
          href="/overview">
          Explora all pages
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 ml-3">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12.75 15l3-3m0 0l-3-3m3 3h-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
        </a><a
          class="group w-full lg:w-auto inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm focus:outline-none ring-tangaroa-200 text-tangaroa-500 hover:text-tangaroa-900 hover:ring-tangaroa-300 active:bg-tangaroa-100 active:text-tangaroa-600 focus-visible:outline-blue-600 focus-visible:ring-tangaroa-300"
          href="#">
          <span>Buy spaziobianco for $89</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="w-4 h-4 ml-3">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
