<section
  id="cta"
  aria-labelledby="footer-heading"
  class="border-t border-tangaroa-300"
>
  <div class="mx-auto max-w-7xl px-8 sm:px-6 lg:px-24 my-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-between">
      <div>
        <div>
          <h2 class="text-3xl text-tangaroa-500 font-display">
            Apply now and I will let you know if I am the right fit for you in
            48 hours.
          </h2>
        </div>
        <div class="lg:inline-flex lg:items-center gap-3 mt-12">
          <div class="mt-3 sm:mt-0">
            <a
              href="./schedule"
              class="inline-flex items-center rounded-xl bgCta px-6 py-3 text-base font-medium text-tangaroa-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 w-full lg:w-auto justify-center"
            >
              Schedule a call
            </a>
          </div>
          <div class="mt-3 sm:mt-0">
            <a
              href="mailto:michael@andreuzza.com"
              class="inline-flex items-center rounded-xl bg-tangaroa-200 px-6 py-3 text-base font-medium text-tangaroa-500 shadow-sm hover:bg-tangaroa-50 focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-2 w-full lg:w-auto justify-center"
            >
              Send me a message
            </a>
          </div>
        </div>
      </div>
      <div class="lg:ml-auto lg:col-span-2">
        <div class="mt-12 lg:mt-0 flex flex-wrap gap-8">
          <a
            class="rounded-l-3 text-sm text-tangaroa-500 hover:text-tangaroa-600"
            href="/#process"
            ><span>Process</span>
          </a>
          <a
            class="text-sm text-tangaroa-500 hover:text-tangaroa-600"
            href="/services"
            ><span>Services</span>
          </a>
          <a
            class="relative rounded-lg text-sm text-tangaroa-500 hover:text-tangaroa-600"
            href="/case-studies"
            ><span>Case studies</span>
          </a>
          <a
            class="text-sm text-tangaroa-500 hover:text-tangaroa-600"
            href="/team"
            ><span> The team</span>
          </a>

          <a
            class="text-sm text-tangaroa-500 hover:text-tangaroa-600"
            href="https://twitter.com/Mike_Andreuzza"
            ><span>Social</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
