<section aria-labelledby="intro" class="relative">
  <h2 class="sr-only" id="intro">intro</h2><div
    class="mx-auto relative px-8 lg:px-20 my-24 max-w-7xl"
  >
    <div class="lg:text-center">
      <h2
        class="text-tangaroa-500 font-semibold lg:text-6xl text-4xl tracking-tighter"
      >
        Subscribe to get the he <span class="lg:block"
          >latest in your inbox everyday
        </span>
      </h2><div class="mx-auto max-w-xl mt-6">
        <p class="text-zinc-600 text-lg">
          Design quicker and don't waste time with cluttered wireframes. Combine
          layouts and customize them as you wish.
        </p>
      </div>
    </div>
    <form
      action=""
      class="lg:mx-auto duration-500 ease-in-out bg-white mt-8 p-1 rounded-2xl sm:flex sm:max-w-lg transform transition"
      id="revue-form"
      method="post"
      name="revue-form"
      target="_blank"
    >
      <div class="flex-1 lg:border-0 min-w-0">
        <label class="sr-only" for="member_email">Email address</label>
        <input
          class="ease-in-out transform transition duration-500 focus:ring-2 focus:ring-white py-3 w-full bg-transparent block border border-transparent focus:border-transparent focus:outline-none text-tangaroa--500 focus:ring-offset-2 focus:ring-offset-gray-300 placeholder-zinc-500 px-5 rounded-xl text-base"
          id="cta-email"
          placeholder="Enter your best email..."
          type="email"
        />
      </div>
      <div class="mt-4 revue-form-actions sm:ml-3 sm:mt-0">
        <button
          class="text-white duration-500 ease-in-out focus:ring-2 focus:ring-offset-4 focus:ring-white lg:mt-0 lg:text-base mt-2 px-6 py-3 rounded-xl text-xs transform transition bg-black hover:bg-tangaroa--600 lg:w-auto w-full"
          type="submit"
          id="member_submit"
          name="member[subscribe]"
          value="Subscribe">Subscribe me</button
        >
      </div>
    </form>
  </div>
</section>
