section aria-labelledby="header-four" id="header-four">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 mt-24 z-50 items-center">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div class="lg:pr-24 md:pr-12">
          <span class="text-orange uppercase text-xs font-semibold"
            >Header Four</span
          >
          <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl">
            Our customers are building the future
          </h2>
          <p class="text-tangaroa-400 mt-5">
            Lexingtonbuilds financial infrastructure that ambitious companies
            use to launch their boldest products. Our customers range from
            hours-old startups to complex global businesses. Collectively, they
            are growing the GDP of the internet. You can help.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="h-64 justify-center lg:px-0 max-h-full md:px-12 overflow-hidden relativ -skew-y-[16deg] transform mb-24">
    <div class="bg-white block lg:flex-1 lg:relative sm:contents">
      <div class="bg-white absolute h-full inset-0 object-cover w-full">
        <video
          autoplay=""
          class="bg-white absolute max-w-none min-h-full min-w-full w-auto z-10"
          loop=""
          muted=""
          ><source src="/images/gradientA.mp4" type="video/mp4" />Your browser
          does not support the video tag.</video
        >
      </div>
    </div>
  </div>
</section>
