<section aria-labelledby="header-four" id="header-four">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 mt-24 z-50 items-center">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div class="lg:pr-24 md:pr-12 pb-12 lg:pb-0">
          <h2
            class="inline-flex items-center text-blue-600"
            id="table-of-contents-title">
            <span class="font-mono text-sm" aria-hidden="true">01</span><span
              class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
              class="ml-3 text-base font-medium tracking-tight">About</span
            >
          </h2>
          <h2
            class="text-purple-900 font-semibold mt-6 text-4xl lg:text-7xl tracking-tighter">
            Spazio bianco
          </h2>
          <p class="text-slate-500 mt-5">
            Lexingtonbuilds financial infrastructure that ambitious companies
            use to launch their boldest products. Our customers range from
            hours-old startups to complex global businesses. Collectively, they
            are growing the GDP of the internet. You can help.
          </p>
        </div>
      </div>
    </div>
  </div>

  <section>
    <div
      class="h-64 justify-center lg:px-0 max-h-full md:px-12 overflow-hidden relativ -skew-y-[16deg] transform mb-24">
      <div class="bg-white block lg:flex-1 lg:relative sm:contents">
        <div class="bg-white absolute h-full inset-0 object-cover w-full">
          <video
            autoplay=""
            class="bg-white absolute max-w-none min-h-full min-w-full w-auto z-10"
            loop=""
            muted=""
            ><source src="/images/gradientA.mp4" type="video/mp4" />Your browser
            does not support the video tag.</video
          >
        </div>
      </div>
    </div>
  </section>
</section>
