<div class="w-full mx-auto">
  <div
    x-data="{ open: false }"
    class="relative flex flex-col w-full p-5 mx-auto md:items-center md:justify-between md:flex-row max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 "
  >
    <div class="flex flex-row items-center justify-between lg:justify-start">
      <a
        href="/"
        class="text-xl text-tangaroa-500 font-semibold font-display tracking-tighter"
      >
        spaziobianco.
      </a>
      <button
        @click="open = !open"
        class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-tangaroa-500 focus:outline-none focus:text-tangaroa-500 lg:hidden"
      >
        <svg
          class="w-6 h-6"
          stroke="currentColor"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            :class="{'hidden': open, 'inline-flex': !open }"
            class="inline-flex"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
          <path
            :class="{'hidden': !open, 'inline-flex': open }"
            class="hidden"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <nav
      :class="{'flex': open, 'hidden': !open}"
      class="flex-col flex-grow hidden py-12 lg:py-0 md:flex md:justify-end md:flex-row"
    >
      <ul
        class="space-y-2 list-none lg:space-y-0 lg:items-center lg:inline-flex"
      >
        <li>
          <a
            href="/overview"
            class="px-2 lg:px-6 py-10 md:px-3 text-sm font-semibold text-mercury-600 hover:text-tangaroa-500"
          >
            Overview
          </a>
        </li>

        <li>
          <a
            href="#"
            class="px-2 lg:px-6 py-10 md:px-3 text-sm font-semibold text-mercury-600 hover:text-tangaroa-500"
          >
            Style guideline
          </a>
        </li>
        <li>
          <a
            href="https://supreme.lemonsqueezy.com/checkout/buy/99afe682-cc70-4d85-b19a-debb968441b1"
            class="items-center shadow inline-flex text-tangaroa-500 border focus:outline-none bg-mint border-transparent focus:ring-2 focus:ring-tangaroa-600 focus:ring-offset-2 font-medium hover:bg-orange hover:text-white lg:px-6 rounded-full px-4 py-1.5 text-sm"
          >
            Buy spaziobianco. for $89
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
