<section class="bg-white">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
        Accounts Receivable / Monetization Operations Manager
      </h2>
      <div class="mt-10 flex">
        <a
          class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
          href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-linkedin"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path>
            <path d="M8 11l0 5"></path>
            <path d="M8 8l0 .01"></path>
            <path d="M12 16l0 -5"></path>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
          </svg>
          Apply with Linkedin
        </a>
      </div>
    </div>
    <form>
      <div class="space-y-12 sm:space-y-16">
        <div
          class="mt-10 space-y-8 border-b border-slate-900/10 pb-12 sm:space-y-0 sm:border-t sm:pb-0">
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label
              for="first-name"
              class="block text-xl text-purple-900 sm:pt-1.5">First name</label
            >
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <input
                type="text"
                name="first-name"
                id="first-name"
                placeholder="Your name"
                autocomplete="given-name"
                class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900 sm:max-w-xs"
              />
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label
              for="last-name"
              class="block text-xl text-purple-900 sm:pt-1.5">Last name</label
            >
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <input
                type="text"
                name="last-name"
                id="last-name"
                placeholder="Your last name"
                autocomplete="family-name"
                class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900 sm:max-w-xs"
              />
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label for="email" class="block text-xl text-purple-900 sm:pt-1.5"
              >Email address</label
            >
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <input
                id="email"
                name="email"
                type="email"
                autocomplete="email"
                placeholder="Your email"
                class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900 sm:max-w-xs"
              />
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-3 sm:items-start sm:gap-4 sm:py-6">
            <label for="phone" class="block text-xl text-purple-900 sm:pt-1.5"
              >Phone</label
            >
            <div class="mt-2 sm:col-span-2 sm:mt-0">
              <input
                id="phone"
                name="phone"
                type="tel"
                autocomplete="email"
                placeholder="Your email"
                class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900 sm:max-w-xs"
              />
            </div>
          </div>
        </div>
        <div>
          <h2 class="text-xl text-purple-900">Resume/CV</h2>
          <a href="#" class="text-blue-500 hover:text-700">Attach</a>
          <a href="#" class="text-blue-500 hover:text-700">Drop Box</a>
          <a href="#" class="text-blue-500 hover:text-700">Enter manually</a>

          <p>
            <small class="text-slate-500"
              >(File types: pdf, doc, docx, txt, rtf)</small
            >
          </p>
        </div>

        <div>
          <h2 class="text-xl text-purple-900">Cover letter</h2>
          <a href="#" class="text-blue-500 hover:text-700">Attach</a>
          <a href="#" class="text-blue-500 hover:text-700">Drop Box</a>
          <a href="#" class="text-blue-500 hover:text-700">Enter manually</a>

          <p>
            <small class="text-slate-500"
              >(File types: pdf, doc, docx, txt, rtf)</small
            >
          </p>
        </div>
        <div>
          <h2 class="text-xl text-purple-900">
            Who is your current employer? *
          </h2>

          <div class="mt-4 sm:col-span-2">
            <input
              type="text"
              name="first-name"
              id="first-name"
              placeholder="Your employee"
              autocomplete="given-name"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900 sm:max-w-xs"
            />
          </div>
        </div>
        <div>
          <h2 class="text-xl text-purple-900">Where do you reside?</h2>

          <div class="mt-4 sm:col-span-2">
            <input
              type="text"
              name="first-name"
              id="first-name"
              placeholder="Your country of residence"
              autocomplete="given-name"
              class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900 sm:max-w-xs"
            />
          </div>
        </div>
        <div class="mt-10 flex">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            href="/job-application">
            Submit application
          </a>
        </div>
      </div>
    </form>
  </div>
</section>
