<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-24">
    <div class="lg:w-1/2 lg:pl-12 lg:ml-auto">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-36 md:pl-12">
            <nav
              aria-label="Sidebar"
              class="bg-slate-50 rounded-lg divide-y space-y-3 p-4 lg:p-8">
              <div>
                <h3 class="text-lg text-purple-900">Office location</h3>
                <p class="text-slate-500">Barcelona</p>
              </div>
              <div>
                <h3 class="mt-3 text-lg text-purple-900">Team</h3>
                <p class="text-slate-500">Controllership</p>
              </div>
              <div>
                <h3 class="mt-3 text-lg text-purple-900">Job type</h3>
                <p class="text-slate-500">Full time</p>
                <div class="mt-10 flex">
                  <a
                    class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-full"
                    href="/job-application">
                    Apply now
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0">
        <div>
          <p
            class="text-purple-900 font-semibold mt-6 text-4xl tracking-tighter">
            Accounts Receivable / Monetization Operations Manager
          </p>
        </div>

        <div
          class="prose-lg hover:prose-a:text-blue-500 prose prose-a:font-semibold prose-a:text-blue-300 prose-blockquote:text-blue-600 prose-h3:text-purple-900 text-slate-500 mt-24">
          <h3>About Spazio Bianco</h3>
          <p>
            Spazio bianco is a financial infrastructure platform for businesses.
            Millions of companies—from the world’s largest enterprises to the
            most ambitious startups—use Spazio bianco to accept payments, grow
            their revenue, and accelerate new business opportunities. Our
            mission is to increase the GDP of the internet, and we have a
            staggering amount of work ahead. That means you have an
            unprecedented opportunity to put the global economy within
            everyone’s reach while doing the most important work of your career.
          </p>
          <h3>About the team</h3>
          <p>
            The Finance Operations (FinOps) team provides and enhances core
            business services that are the backbone for Spazio bianco. FinOps
            uses data and operational excellence to deliver technology
            solutions, procurement, billing and payroll services, strategic
            sourcing, and supplier relationship management to Spazio bianco.
          </p>
          <h3>What you’ll do</h3>
          <p>
            We're looking for a Monetization Operations Lead to join our growing
            team. This individual will help us improve user experience through
            accurate and timely onboarding of contracts, workflows and deliver
            improvements in our integrated financial systems with business
            partners, financial colleagues, and engineers.
          </p>
          <ul>
            <li>
              Build, develop and lead a team to support global monetization
              deliverables.
            </li>
            <li>
              Participate in building scalable processes to support global
              growth.
            </li>
            <li>
              Partner with User Billing, Internal Systems, Treasury, Tax and/or
              Legal to investigate issues that arise during reporting cycles or
              while performing the standard processes.
            </li>
          </ul>
          <h3>We are looking for:</h3>
          <ul>
            <li>
              Demonstrated knowledge of key business financial metrics,
              providing metrics inputs to various reporting venues, and
              communicating key performance indicators to stakeholders in
              support of business objectives
            </li>
            <li>
              Advanced finance operations experience of leading large
              operational processes
            </li>
            <li>
              Ability to set goals, financial plans and effectively influence
              leaders across Spazio Bianco
            </li>
          </ul>
          <h3>Who you are</h3>
          <p>
            We’re looking for someone who meets the minimum requirements to be
            considered for the role. If you meet these requirements, you are
            encouraged to apply. The preferred qualifications are a bonus, not a
            requirement.
          </p>
          <h3>Minimum requirements</h3>
          <ul>
            <li>
              10-12 years of experience in revenue and monetization including
              exposure to ASC606.
            </li>
            <li>
              Led teams in multi location and exposure to working in
              multicultural, location and dynamic business environment
            </li>
            <li>
              B.A. or B.S degree in Accounting or Finance with fluency in the
              U.S. GAAP
            </li>
          </ul>
          <h3>Preferred qualifications</h3>
          <ul>
            <li>35 Years of Tailwind knowledge</li>
            <li>50 years of Typescript</li>
            <li>
              Experience with written and verbal communications for both
              technical and non-technical audiences at the senior leadership
              level
            </li>
          </ul>
          <h3>Pay and benefits</h3>
          <p>
            Spazio Bianco does not yet include pay ranges in job postings in
            every country. Spazio Bianco strongly values pay transparency and is
            working toward pay transparency globally in 2023.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-white">
  <div class="lg:p-8">
    <div class="bg-purple-900 max-w-7xl mx-auto lg:rounded-3xl">
      <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
        <div>
          <h2
            class="text-white font-semibold tracking-tighter lg:text-5xl text-3xl">
            We look forward to hearing from you
          </h2>
          <p class="text-slate-400 mt-5">
            At Spazio Bianco, we're looking for people with passion, grit, and
            integrity. You're encouraged to apply even if your experience
            doesn't precisely match the job description. Your skills and passion
            will stand out—and set you apart—especially if your career has taken
            some extraordinary twists and turns. At Spazio Bianco, we welcome
            diverse perspectives and people who think rigorously and aren't
            afraid to challenge assumptions. Join us.
          </p>
          <div class="mt-10 flex">
            <a
              class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
              href="/job-application">
              Apply now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
