<section class="bg-white">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
        Reinforce economic inclusion worldwide.
      </h2>
    </div>
    <div class="mt-12">
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div
            class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full">
              <thead>
                <tr>
                  <th
                    scope="col"
                    class="py-3.5 text-left text-sm font-slate-500">Role</th
                  >
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-slate-500"
                    >Team</th
                  >
                  <th
                    scope="col"
                    class="px-3 py-3.5 text-left text-sm font-semibold text-slate-500"
                    >Location</th
                  >
                </tr>
              </thead>
              <tbody class="bg-white divide-y">
                <!-- Odd row -->
                <tr>
                  <td class="whitespace-nowrap text-sm"
                    ><a
                      href="/job-details"
                      class="text-blue-500 hover:text-blue-600 font-medium"
                      >Accounts Receivable / Monetization Operations Manager</a
                    >
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
                    >Controllership
                  </td>
                  <td
                    class="whitespace-nowrap inline-flex items-center gap-3 px-3 py-4 text-sm text-slate-500">
                    <span>
                      <img src="/images/flags/spain.svg" alt="" />
                    </span>
                    Barcelona</td
                  >
                </tr>
                <tr>
                  <td class="whitespace-nowrap text-sm"
                    ><a
                      href="/job-details"
                      class="text-blue-500 hover:text-blue-600 font-medium"
                      >Account Executive, Existing Business (Startups)</a
                    >
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
                    >Sales
                  </td>
                  <td
                    class="whitespace-nowrap inline-flex items-center gap-3 px-3 py-4 text-sm text-slate-500">
                    <span>
                      <img src="/images/flags/italy.svg" alt="" />
                    </span>
                    Milano</td
                  >
                </tr>
                <tr>
                  <td class="whitespace-nowrap text-sm"
                    ><a
                      href="/job-details"
                      class="text-blue-500 hover:text-blue-600 font-medium"
                      >Account Executive, Platforms</a
                    >
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
                    >Sales
                  </td>
                  <td
                    class="whitespace-nowrap inline-flex items-center gap-3 px-3 py-4 text-sm text-slate-500">
                    <span>
                      <img src="/images/flags/italy.svg" alt="" />
                    </span>
                    Milano</td
                  >
                </tr>
                <tr>
                  <td class="whitespace-nowrap text-sm"
                    ><a
                      href="/job-details"
                      class="text-blue-500 hover:text-blue-600 font-medium"
                      >Account Executive, Platforms</a
                    >
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
                    >Sales
                  </td>
                  <td
                    class="whitespace-nowrap inline-flex items-center gap-3 px-3 py-4 text-sm text-slate-500">
                    <span>
                      <img src="/images/flags/italy.svg" alt="" />
                    </span>
                    Milano</td
                  >
                </tr>
                <tr>
                  <td class="whitespace-nowrap text-sm"
                    ><a
                      href="/job-details"
                      class="text-blue-500 hover:text-blue-600 font-medium"
                      >Account Executive, Startups &SMB
                    </a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
                    >Sales
                  </td>
                  <td
                    class="whitespace-nowrap inline-flex items-center gap-3 px-3 py-4 text-sm text-slate-500">
                    <span>
                      <img src="/images/flags/sweden.svg" alt="" />
                    </span>
                    Stockholm</td
                  >
                </tr>
                <tr>
                  <td class="whitespace-nowrap text-sm"
                    ><a
                      href="/job-details"
                      class="text-blue-500 hover:text-blue-600 font-medium"
                      >Advisory Solution Architect - Strategic Accounts,
                      Northern Europe
                    </a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
                    >Technical Services
                  </td>
                  <td
                    class="whitespace-nowrap inline-flex items-center gap-3 px-3 py-4 text-sm text-slate-500">
                    <span>
                      <img src="/images/flags/usa.svg" alt="" />
                    </span>
                    Boston</td
                  >
                </tr>
                <tr>
                  <td class="whitespace-nowrap text-sm"
                    ><a
                      href="/job-details"
                      class="text-blue-500 hover:text-blue-600 font-medium"
                      >Advisory Solution Architect - Strategic Accounts,
                      Northern Europe
                    </a>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-500"
                    >Technical Services
                  </td>
                  <td
                    class="whitespace-nowrap inline-flex items-center gap-3 px-3 py-4 text-sm text-slate-500">
                    <span>
                      <img src="/images/flags/canada.svg" alt="" />
                    </span>
                    Remote in Montreal</td
                  >
                </tr>

                <!-- More roles... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
