<section>
  <div class="px-8 max-w-7xl lg:px-36 mx-auto py-12">
    <div
      class="relative mx-auto py-2 grid grid-cols-1 items-start lg:grid-cols-6 w-full"
    >
      <div class="mt-3 lg:mt-0">
        <p>
          <a
            href="/"
            class="text-xl text-tangaroa-500 uppercase font-bold font-display"
          >
            Changelog
          </a>
        </p>
      </div>
      <div class="w-full lg:col-span-5">
        <div
          class="prose-3xl prose text-tangaroa-500 prose-h2:text-tangaroa-500 prose-a:font-semibold prose-a:text-tangaroa-500 hover:prose-a:text-tangaroa-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint"
        >
          <p class="font-semibold text-tangaroa-500 font-display">
            <a href="/contact">Contact us</a>
            <span class="font-normal">
              with any questions about these agreements.</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-tangaroa-500">
  <div class="px-8 max-w-7xl lg:px-36 py-4 mx-auto">
    <div class="relative mx-auto gap-3 grid grid-cols-1 lg:grid-cols-6 w-full">
      <div class="w-full lg:col-start-2 lg:col-span-5">
        <p class="uppercase text-white font-bold text-sm">
          spaziobianco changelog
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-mercury-50">
  <div class="px-8 max-w-7xl lg:px-36 py-6 mx-auto">
    <div class="relative mx-auto gap-3 grid grid-cols-1 lg:grid-cols-6 w-full">
      <div
        class="w-full lg:col-start-2 lg:col-span-5 space-y-12 divide-y divide-mercury-400 py-12"
      >
        <div
          class="prose-3xl prose text-tangaroa-500 prose-h2:text-tangaroa-500 prose-a:font-semibold prose-a:text-tangaroa-500 hover:prose-a:text-tangaroa-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint"
        >
          <h2>Version 4.4</h2>
          <p>28 May, 2023</p>
          <a
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            class="inline-flex items-center"
          >
            Watch update video</a
          >
          <ul>
            <li>
              Introducing Capture History - easily access and restore recent
              captures
            </li>
            <li>Added Auto-Scroll option to Scrolling Capture</li>
            <li>Added option to copy/paste objects in Annotate</li>
            <li>
              New OCR language support in macOS Ventura - Korean, Japanese,
              Russian, Ukrainian
            </li>
            <li>Improved Annotate compatiblity with some trackpads</li>
            <li>Disabled cursor when capturing full screen with All-In-One</li>
            <li>Fixed bug causing misaligned scrolling captures</li>
            <li>Fixed bug with auto-expanding canvas</li>
            <li>
              Fixed bug with freezing screen after starting screen recordings
              multiple ps
            </li>
            <li>
              Fixed bug with showing recording controls on specific display
              setups
            </li>
            <li>Fixed bug with using "Expire After" option in upload dialog</li>
            <li>Minor changes in URL Scheme API</li>
            <li>Small bug fixes and UX improvements</li>
          </ul>
        </div>
        <div
          class="prose-3xl prose text-tangaroa-500 prose-h2:text-tangaroa-500 prose-a:font-semibold prose-a:text-tangaroa-500 hover:prose-a:text-tangaroa-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint pt-12"
        >
          <h2>Version 3.11</h2>
          <p>16 March, 2023</p>
          <a
            href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
            class="inline-flex items-center"
          >
            Watch update video</a
          >
          <ul>
            <li>
              Added new setting that allows to change behavior of "Capture Area
              &..." shortcuts
            </li>
            <li>Improved combining images in Annotate after cropping</li>
            <li>
              Fixed bug with using Command+/Command- shortcuts on some keyboard
              layouts
            </li>
            <li>Minor bug fixes and improvements</li>
          </ul>
        </div>
        <div
          class="prose-3xl prose text-tangaroa-500 prose-h2:text-tangaroa-500 prose-a:font-semibold prose-a:text-tangaroa-500 hover:prose-a:text-tangaroa-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint pt-12"
        >
          <h2>Version 2.3.3</h2>
          <p>8 January, 2023</p>

          <ul>
            <li>
              Added new setting that allows to change behavior of "Capture Area
              &..." shortcuts
            </li>
            <li>Improved combining images in Annotate after cropping</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
