<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2><div
    class="mx-auto relative px-8 my-24 max-w-7xl lg:my-36 lg:px-36 md:px-12"
  >
    <div>
      <div class="mx-auto text-center">
        <h1
          class="text-tangaroa-500 mt-4 font-bold lg:text-9xl sm:text-5xl text-5xl tracking-tighter font-display"
        >
          spaziobianco. is coming soon
        </h1>
        <div class="mx-auto max-w-xl lg:mt-8">
          <p class="text-tangaroa-600">
            Subscribe and we will let you know when we are up and running
          </p>
        </div>
        <form
          action=""
          class="lg:mx-auto duration-500 ease-in-out bg-white mt-8 p-1 rounded-2xl sm:flex sm:max-w-lg transform transition"
          id="revue-form"
          method="post"
          name="revue-form"
          target="_blank"
        >
          <div class="flex-1 lg:border-0 min-w-0">
            <label class="sr-only" for="member_email">Email address</label>
            <input
              class="ease-in-out transform transition duration-500 focus:ring-2 focus:ring-white py-3 w-full bg-transparent block border border-transparent focus:border-transparent focus:outline-none text-tangaroa-500 focus:ring-offset-2 focus:ring-offset-gray-300 placeholder-tangaroa-500 px-5 rounded-xl text-base"
              id="cta-email"
              placeholder="Enter your best email..."
              type="email"
            />
          </div>
          <div class="mt-4 revue-form-actions sm:ml-3 sm:mt-0">
            <button
              class="text-white duration-500 ease-in-out focus:ring-2 focus:ring-offset-4 focus:ring-white lg:mt-0 lg:text-base mt-2 px-6 py-3 rounded-xl text-xs transform transition bg-black hover:bg-tangaroa-600 lg:w-auto w-full"
              type="submit"
              id="member_submit"
              name="member[subscribe]"
              value="Subscribe">Subscribe me</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
