<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2><div
    class="mx-auto relative px-8 my-24 max-w-7xl lg:my-36 lg:px-36 md:px-12"
  >
    <div>
      <div class="mx-auto text-center">
        <h1
          class="text-tangaroa-500 mt-4 font-bold lg:text-9xl sm:text-5xl text-5xl tracking-tighter font-display"
        >
          spaziobianco. is coming soon
        </h1>
        <div class="mx-auto max-w-xl lg:mt-8">
          <p class="text-tangaroa-600">
            Subscribe and we will let you know when we are up and running
          </p>
        </div>
        <form class="mt-8 sm:flex max-w-xl mx-auto">
          <label for="email-address" class="sr-only">Email address</label>
          <input
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            required
            class="w-full focus:outline-none border py-2 appearance-none block border-mint focus:bg-white bg-mercury-50 focus:border-mint focus:shadow-xl focus:shadow-mint/20 focus:ring-tangaroa-500 placeholder-mercury-500 px-3 rounded-xl sm:text-sm text-tangaroa-500"
            placeholder="Enter your email"
          />
          <div class="mt-3 rounded-md sm:mt-0 sm:ml-3 sm:flex-shrink-0">
            <button
              type="submit"
              class="inline-flex items-center justify-center rounded-xl w-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-tangaroa-500 text-white hover:bg-orange hover:text-tangaroa-500 active:bg-tangaroa-600 active:text-white focus-visible:outline-tangaroa-900"
              >Notify me</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
