<section
  aria-labelledby="error-404"
  id="error-404"
  class="relative overflow-hidden">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-12 my-24 items-center">
    <div
      class="lg:mx-auto lg:max-w-7xl lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div>
        <span class="text-orange uppercase text-xs font-semibold"
          >Error 404</span
        >
        <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl">
          Page not found!
        </h2>
        <p class="text-tangaroa-400 mt-5 text-base">
          Sorry, but the page you were looking for could not be found.
        </p>
        <p class="text-tangaroa-400 mt-5">
          You can return to <a
            href="/index"
            class="text-orange hover:text-tangroa-500">our front page</a
          >, or <a href="/contact" class="text-orange hover:text-tangroa-500"
            >drop us a line</a
          > if you can't find what you're looking for.
        </p>
      </div>
    </div>
  </div>
</section>
