<section class="relative overflow-hidden">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 lg:py-48 items-center">
    <div class="max-w-xl">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
         
          <span class="ml-3 font-medium tracking-tight">Error</span>
        </h2>

        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          Page not found!
        </h2>
        <p class="text-slate-500 mt-5">
          Sorry, but the page you were looking for could not be found.
        </p>
        <p class="text-slate-500 mt-5">
          You can return to <a
            href="/index"
            class="text-blue-600 hover:text-tangroa-500">our front page</a
          >, or <a href="/contact" class="text-blue-600 hover:text-tangroa-500"
            >drop us a line</a
          > if you can't find what you're looking for.
        </p>
      </div>
    </div>
  </div>
</section>
