<section aria-labelledby="pricing-one" id="pricing-one" class="bg-white">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24 items-center"
  >
    <div>
      <span class="text-tangaroa-400 uppercase text-xs font-semibold"
        >Faq One</span
      >
      <h2 class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl">
        Frequent questions and answers
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-tangaroa-400">Because we wonder all day around</p>
      </div>
    </div>
    <div class="mx-auto text-left mt-12">
      <h2 class="sr-only">intro.</h2><div>
        <div
          class="text-sm gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3"
        >
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-start lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg>
                </div>
                <p class="mt-5 font-semibold text-tangaroa-500 text-sm lg:mt-0">
                  Can I used spaziobianco for my site?
                </p>
              </div>
              <p class="text-sm text-tangaroa-400 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed. Receive
                bondholders called capitalization investment grade bonds bills
                management district stocks. Potential funds consulting expenses.
              </p>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-start lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg>
                </div>
                <p class="mt-5 font-semibold text-tangaroa-500 text-sm lg:mt-0">
                  Will i get updates?
                </p>
              </div>
              <p class="text-sm text-tangaroa-400 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-start lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg>
                </div>
                <p class="mt-5 font-semibold text-tangaroa-500 text-sm lg:mt-0">
                  How much do disputes cost?
                </p>
              </div>
              <p class="text-sm text-tangaroa-400 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-start lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg>
                </div>
                <p class="mt-5 font-semibold text-tangaroa-500 text-sm lg:mt-0">
                  How do refunds work?
                </p>
              </div>
              <p class="text-sm text-tangaroa-400 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-start lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg>
                </div>
                <p class="mt-5 font-semibold text-tangaroa-500 text-sm lg:mt-0">
                  How long do payouts take?
                </p>
              </div>
              <p class="text-sm text-tangaroa-400 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-start lg:gap-3">
                <div
                  class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg>
                </div>
                <p class="mt-5 font-semibold text-tangaroa-500 text-sm lg:mt-0">
                  Is there a fee to use Google Pay?
                </p>
              </div>
              <p class="text-sm text-tangaroa-400 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
