<section aria-labelledby="pricing-one" id="pricing-one" class="bg-white">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2
        class="inline-flex items-center text-blue-600"
        id="table-of-contents-title">
        <span class="font-mono text-sm" aria-hidden="true">01</span><span
          class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
          class="ml-3 text-base font-medium tracking-tight">FAQ</span
        >
      </h2>
      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        Frequent questions and answers
      </h2>
    </div>
    <div class="mx-auto text-left mt-12">
      <div>
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  Can I used spaziobianco for my site?
                </p>
              </div>
              <p class="text-sm text-slate-500 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed. management
                district stocks. Potential funds consulting expenses.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  Will i get updates?
                </p>
              </div>
              <p class="text-sm text-slate-500 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  How much do disputes cost?
                </p>
              </div>
              <p class="text-sm text-slate-500 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  How do refunds work?
                </p>
              </div>
              <p class="text-sm text-slate-500 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  How long do payouts take?
                </p>
              </div>
              <p class="text-sm text-slate-500 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="font-semibold text-purple-900 lg:mt-0">
                  Is there a fee to use Google Pay?
                </p>
              </div>
              <p class="text-sm text-slate-500 mt-5">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
