<section>
  <div class="px-8 max-w-7xl lg:px-24 mx-auto py-12">
    <div
      class="relative mx-auto py-2 grid grid-cols-1 items-start lg:grid-cols-6 w-full"
    >
      <div class="mt-3 lg:mt-0">
        <p>
          <a
            href="/"
            class="text-xl text-tangaroa-500 font-semibold font-display tracking-tighter"
          >
            spaziobianco.
          </a>
        </p>
      </div>
      <div class="w-full lg:col-span-5">
        <div
          class="prose-3xl prose text-tangaroa-500 prose-h2:text-tangaroa-500 prose-a:font-semibold prose-a:text-tangaroa-500 hover:prose-a:text-tangaroa-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint"
        >
          <h3>Effective as of August 21, 2021.</h3>
          <p>
            This agreement constitutes a binding legal contract between
            Unwrapped AB (sometimes referred to as “we”, “us” or “our”) and you,
            with respect to your use of this site and all websites, applications
            and communications that post a link to this agreement (collectively,
            the “Site”)(“Terms and Conditions”). We reserve our right to change
            these Terms and Conditions in the future. Except as explicitly
            stated otherwise, your continued use of the Site will constitute
            deemed acceptance of our updated Terms and Conditions.
          </p>
          <p class="font-semibold text-tangaroa-500 font-display">
            <a href="/contact"> Contact us</a>
            <span class="font-normal">
              with any questions about these agreements.</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-tangaroa-500">
  <div class="px-8 max-w-7xl lg:px-24 py-4 mx-auto">
    <div class="relative mx-auto gap-3 grid grid-cols-1 lg:grid-cols-6 w-full">
      <div class="w-full lg:col-start-2 lg:col-span-5">
        <p class="uppercase text-white font-bold text-sm">
          spaziobianco Privacy Policy
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-mercury-50">
  <div class="px-8 max-w-7xl lg:px-24 py-6 mx-auto">
    <div class="relative mx-auto gap-3 grid grid-cols-1 lg:grid-cols-6 w-full">
      <div
        class="w-full lg:col-start-2 lg:col-span-5 space-y-12 divide-y divide-y-2 divide-mercury-400 py-12"
      >
        <div
          class="prose-3xl prose text-tangaroa-500 prose-h2:text-tangaroa-500 prose-a:font-semibold prose-a:text-tangaroa-500 hover:prose-a:text-tangaroa-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint prose-li:marker:text-tangaroa-500 prose-ol:list-decimal"
        >
          <p>
            Unless otherwise indicated, the Website is the property of
            spaziobianco. and all source code, databases, functionality,
            software, website designs, audio, video, text, photographs and
            graphics of any nature and regardless of format (herein,
            collectively or individually, the “Content”) and the trademarks,
            service marks, and logos contained there (the “Marks”) are owned and
            controlled by spaziobianco. and are protected by copyright and
            trademark laws and any other applicable intellectual property law or
            regulation of Finland, foreign jurisdictions and international
            conventions.
          </p>
          <ol>
            <li>
              <h3>Intellectual Property Rights</h3>
              <p>
                Unless otherwise indicated, the Website is the property of
                spaziobianco. and all source code, databases, functionality,
                software, website designs, audio, video, text, photographs and
                graphics of any nature and regardless of format (herein,
                collectively or individually, the “Content”) and the trademarks,
                service marks, and logos contained there (the “Marks”) are owned
                and controlled by spaziobianco. and are protected by copyright
                and trademark laws and any other applicable intellectual
                property law or regulation of Finland, foreign jurisdictions and
                international conventions. The Content and Marks are provided
                “As-Is” for your information and personal use only. Except as
                expressly provided herein, no part of the Website and no Content
                may be copied, reproduced, aggregated, republished, uploaded,
                posted, displayed, encoded, translated, transmitted,
                distributed, sold, licensed, or otherwise exploited for any
                commercial purpose whatsoever, without spaziobianco.’s express
                prior written permission. spaziobianco. reserves all rights in
                the Website, Content and Marks.
              </p>
            </li>
            <li>
              <h3>Ownership of Materials</h3>
              <p>
                Notwithstanding spaziobianco.'s ownership of submited tasks, as
                described in Paragraph 4 (“Client Feedback”), all design and
                original source files created on Client’s behalf (“Projects”)
                belong to Client, and Client shall be the sole owner of the
                copyright for all Projects. In the event that any operation of
                law would cause spaziobianco. to become the owner of a Project,
                in whole or in part, rather than Client, spaziobianco.
                irrevocably and perpetually assigns its entire interest in the
                Project to Client, without limitation. Client warrants that any
                and all materials provided to spaziobianco. as examples or as
                material to be incorporated into a project during the design
                process are owned by Client and do not infringe on or
                misappropriate any third party’s rights, including, but not
                limited to, all intellectual property rights and any right of
                publicity. spaziobianco. always reserves the right to share the
                Client's design work publicy (social media, website, etc.)
                unless agreed upon as stated in section 18 of this document.
              </p>
            </li>
            <li>
              <h3>Third-Party Fonts</h3>
              <p>
                In the event that any Project incorporates fonts that are not
                owned by spaziobianco. and require a commercial license in order
                for Client to legally reproduce, distribute, or publicly display
                the Project (“Third-Party Font(s)”), spaziobianco. will inform
                Client in writing that one or more Third-Party Fonts have been
                incorporated into the Project and that Client will need to
                purchase one or more licenses for the Third-Party Fonts from the
                rights-holder(s) of said Third Party Fonts in order to legally
                reproduce, distribute, or publicly display the Project. Said
                notice will include information sufficient for Client to
                identify which licenses are required and who to contact in order
                to purchase said licenses.So long as spaziobianco. has informed
                Client of the incorporation of Third-Party Fonts as described
                above, Client assumes all responsibility for any consequences as
                a result of a failure by Client to purchase one or more licenses
                for any Third-Party Fonts incorporated into a Project.
              </p>
            </li>
            <li>
              <h3>User Representations</h3>
              <p>
                By using the Website, Client represents and warrants that:Client
                has the legal capacity and agrees to comply with these Terms of
                Use;Client is not a minor in the jurisdiction of their
                domicile;Client will not access the Website through automated or
                non-human means;Client will not use the Website for any illegal
                or unauthorized purpose;Client’s use of the Website will not
                violate any applicable law or regulation.
              </p>
            </li>
            <li>
              <h3>Prohibited Activities</h3>
              <p>
                Client shall not access or use the Website for any purpose other
                than that for which the Website is made available to the Client.
                The Website may not be used in connection with any commercial
                endeavors except those related to the work performed by
                spaziobianco. on behalf of the Client. Further, Client agrees to
                refrain from the following:Make any unauthorized use of the
                Website;Retrieve data or content for the purposes of creating or
                compiling a database or directory;Circumvent, disable, or
                otherwise interfere with security-related features on the
                Website;Engage in unauthorized framing or linking of the
                Website;Trick, defraud or mislead spaziobianco. or other
                users;Interfere with, disrupt or create an undue burden on the
                Website or spaziobianco.’s networks or servers;Use the Website
                in an effort to compete with spaziobianco.;Decipher, decompile,
                disassemble, or reverse engineer any of the software comprising
                or in any way making up a part of the Website;Bypass any
                measures on the Website designed to prevent or restrict access
                to the Website or any portion thereof;Harass, annoy, intimidate
                or threaten any of spaziobianco.’s employees, independent
                contractors or agents providing services through the
                Website;Delete the copyright or other rights notice from any
                Content;Copy or adapt the Website’s softwareUpload or transmit,
                or attempt to do so, viruses, Trojan horses, or other material
                including anything that interferes with any party’s use of the
                Website or modifies, impairs, disrupts, alters, or interferes
                with the use, features, functions, operations or maintenance of
                the Website;Upload or transmit, or attempt to do so, any
                material that acts as a passive or active information collection
                or transmission mechanism;Disparage, tarnish or otherwise harm
                spaziobianco.;Use the Website in a manner inconsistent with any
                applicable laws, statutes or regulations.
              </p>
            </li>
            <li>
              <h3>Client Feedback</h3>
              <p>
                Client acknowledges and agrees that any questions, comments,
                suggestions or other feedback or submited task (each a “submited
                task”) shall be the sole property of spaziobianco. and
                spaziobianco. is under no obligation to keep a submited task
                confidential or take steps necessary to ensure the
                confidentiality of a submited task. spaziobianco. shall be the
                sole and exclusive owner of all rights related to the submited
                task except to the extent that rights are granted to Client
                under Paragraph 2 (“Ownership of Materials”),&nbsp;and shall at
                its sole and unrestricted discretion use and disseminate a
                submited task for any lawful purpose without permission,
                acknowledgment or compensation of or to the Client. Client
                agrees that it has the right to articulate and put forth the
                submited task and Client hereby waives all claims and recourse
                against spaziobianco. for its use of the submited task in
                accordance with the terms hereof and in its sole discretion
                hereafter.
              </p>
            </li>
            <li>
              <h3>Management and Oversite</h3>
              <p>spaziobianco. uses friendlier, privacy-focused analytics.</p>
            </li>
            <li>
              <h3>Privacy Policy</h3>
              <p>
                By using the Website, Client agrees to be bound and abide by the
                Privacy Policy and the terms more particularly set forth therein
                and adopted and incorporated herein. The Website is hosted on
                Netlify. Access of the Website from USA, EU, Asia or other
                region of the world may result in the applicability of laws,
                statutes or regulations differing from those of the Europe which
                govern personal data collection, use or disclosure. Client’s
                continued use of the Website and transfer of data to the Europe
                constitutes express consent of Client to the transfer and
                processing of data in the Europe. spaziobianco. does not
                knowingly accept or solicit information from individuals under
                the age of 18.
              </p>
            </li>
            <li>
              <h3>Returns and Refunds</h3>
              <p>
                spaziobianco. reserves the right to deny refunds based on its
                own self discretion and without notice or liability to Client.
                Refund requests are assessed on a case by case basis. Should
                Client request a refund during the first month of use, all
                materials produced by spaziobianco. are ownership of the company
                and are prohibited from being used by the Client in any way.
                spaziobianco. reserves the right to take appropriate legal
                actions against Client for breach of this paragraph.
              </p>
            </li>
            <li>
              <h3>Modification</h3>
              <p>
                spaziobianco. reserves the right to change, alter, modify, amend
                or remove anything or any content on the Website for any reason
                at its sole discretion. spaziobianco. reserves the right to
                modify or discontinue all or part of the Website without notice
                and without liability to Client.
              </p>
            </li>
            <li>
              <h3>Connection Interruptions</h3>
              <p>
                spaziobianco. does not guaranty or warrant the Website will be
                available and accessible at all times. Issues with hardware,
                software or other items may result in interruption delays or
                errors beyond spaziobianco.’s control. Client agrees that
                spaziobianco. shall not be liable to Client for any loss, damage
                or inconvenience caused by Client’s inability to access or use
                the Website during any interruption in the connection or
                service.
              </p>
            </li>
            <li>
              <h3>&nbsp;Governing Law</h3>
              <p>
                These Terms of Use shall be governed by and construed in
                accordance with the laws of Finland without regard to conflict
                of law principals.
              </p>
            </li>
            <li>
              <h3>&nbsp;Litigation</h3>
              <p>
                Any legal action of whatever nature shall be brought in the
                state courts of Mariehhamn, Finland or in the Helsinki, Finland.
                The parties hereto consent to personal jurisdiction in said
                courts and waive all defenses of lack of personal jurisdiction
                and forum non conveniens with respect to venue and jurisdiction.
                Application of the United Nations Convention on Contracts for
                the International Sale of Goods and the Uniform Computer
                Information Transaction Act are excluded from these Terms of
                Use.
              </p>
            </li>
            <li>
              <h3>&nbsp;Disclaimer</h3>
              <p>
                The Website is provided on an as-is, as-available basis. Client
                agrees that its use of the Website and Services are at Client’s
                sole risk. spaziobianco. disclaims all warranties, express or
                implied, in connection with the Website and Client’s use
                thereof, including the implied warranties of merchantability,
                fitness for a particular purpose and non-infringement.
                spaziobianco. makes no warranties or representations about the
                accuracy or completeness of the Website or any content thereon
                or content of any websites linked to the Website and
                spaziobianco. assumes no liability for any errors, mistakes or
                inaccuracies of content and materials, personal injury or
                property damage,&nbsp;of any nature whatsoever, any unauthorized
                access to or use of spaziobianco.’s secure servers and/or any
                personal information and/or financial information stored
                therein, any interruption or cessation of transmission to or
                from the site, any bugs, viruses, Trojan horses or the like
                which may be transmitted to or through the Website by any third
                party and/or any errors or omissions in content and materials or
                for any loss or damage of any kind incurred as a result of the
                use of any content posted, transmitted or otherwise made
                available through the Website. spaziobianco. does not warrant,
                endorse, guarantee or assume responsibility for any product or
                service advertised or offered by a third party either through
                the Website, a hyperlinked website or any website or mobile
                application featured in any advertising.
              </p>
            </li>
            <li>
              <h3>&nbsp;Limitations of Liability and Indemnification</h3>
              <p>
                spaziobianco. and its directors, employees, members, independent
                contractors or agents shall not be liable to Client or any third
                party for any direct, indirect, consequential, incidental,
                special or punitive damages, including lost profit, lost
                revenue, lost data, attorneys’ fees, court costs, fines,
                forfeitures or other damages or losses arising from Client’s use
                of the Website.Client agrees to defend, indemnify and hold
                harmless, spaziobianco. and its subsidiaries, affiliates and all
                respective officers, members, agents, partners, employees and
                independent contractors from and against any loss, damage,
                liability, claim or demand including reasonable attorneys’ fees
                and expenses, made by any third party due to or arising out of:
                (1) use of the Website; (2) breach of these Terms of Use; (3)
                any breach of Client’s representations and warranties set forth
                herein; (4) Client’s violation of the rights of any third party,
                including but not limited to intellectual property rights.
                Notwithstanding the foregoing, spaziobianco. reserves the right,
                at Client’s expense, to assume control and defense of any matter
                for which Client shall be required to indemnify spaziobianco.
                hereunder. Client agrees to cooperate with the defense of such
                claims.
              </p>
            </li>
            <li>
              <h3>&nbsp;User Data</h3>
              <p>
                Client is solely responsible for all data transmitted to or that
                relates to any activity Client has undertaken using the Website.
                spaziobianco. shall have no liability to Client for any loss or
                corruption of any such data and Client hereby waives any right
                of action against spaziobianco. from any such loss or
                corruption.
              </p>
            </li>
            <li>
              <h3>
                17.&nbsp;Electronic communications, transactions and signatures
              </h3>
              <p>
                Client hereby consents to receive electronic communications from
                spaziobianco. and Client agrees that all agreements, notices,
                disclosures and other communications sent via email or through
                the Website satisfy any legal requirement that such
                communication be in writing. Client hereby agrees to the use of
                electronic signatures, contracts, orders and other records, and
                to electronic delivery of notices, policies and records of
                transactions initiated or completed by spaziobianco. or through
                the Website. Client hereby waives any rights or requirements
                under any statutes, regulations, rules, ordinances or other laws
                in any jurisdiction which require an original signature or
                delivery or retention of non-electronic records or to payments
                or the granting of credits by any means other than electronic.
              </p>
            </li>
            <li>
              <h3>&nbsp;Showcasing Design Work</h3>
              <p>
                spaziobianco. reserves the right to share work on digital
                channels including social media, website, etc. unless otherwise
                agreed upon. The Client reserves the right to issue an NDA
                between themselves and spaziobianco., which in turn would void
                the right of spaziobianco. to share or discuss Client's work
                publicly.
              </p>
            </li>
            <li>
              <h3>&nbsp;Miscellaneous</h3>
              <p>
                These Terms of Use and any policies posted on the Website or
                regarding the Website constitute the entire agreement and
                understanding between the Client and spaziobianco.. Failure of
                spaziobianco. to enforce any right or provision of these Terms
                of Use shall not operate as a waiver of such right or provision.
                If any provision or part of these Terms of Use is determined to
                be unlawful, void or unenforceable, that provision shall be
                severed from these Terms of Use but shall not otherwise affect
                the validity or unenforceability of the remaining provisions
                herein. Nothing in these Terms of Use, the Privacy Policy or on
                the Website shall be construed to constitute the forming of a
                joint venture, partnership, employment or agency relationship
                between Client and spaziobianco..
              </p>
            </li>
            <li>
              <h3>Contact Information</h3>
              <p>
                For any questions or complaints regarding the Website, please
                contact spaziobianco. at:
                <a
                  class="text-tangaroa-500 underline hover:text-tangaroa-400"
                  href="mailto:michael@andreuzza.com"
                >
                  michael@andreuzza.com
                </a>
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
