<section>
  <div class="px-8 max-w-7xl lg:px-24 mx-auto py-12">
    <div
      class="relative mx-auto py-2 grid grid-cols-1 items-start lg:grid-cols-6 w-full"
    >
      <div class="mt-3 lg:mt-0">
        <p>
          <a
            href="/"
            class="text-xl text-tangaroa-500 font-semibold font-display tracking-tighter"
          >
            spaziobianco.
          </a>
        </p>
      </div>
      <div class="w-full lg:col-span-5">
        <div
          class="prose-3xl prose text-tangaroa-500 prose-h2:text-tangaroa-500 prose-a:font-semibold prose-a:text-tangaroa-500 hover:prose-a:text-tangaroa-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint"
        >
          <p>
            Last updated: Sun 17. Jul THIS Privacy policy a legally binding
            agreement by and between Michael Alexander Web Agency AB (
            Aktiebolag: "limited company" or "corporation") AKA Unwrapped, a
            limited liability company organized under the laws of Finland and
            the client, whether personally or on behalf of an entity (“Client”),
            with regard to access and use of spaziobianco. website:
            https://www.spaziobianco..studio/ (the “Website”) and any other
            media form, channel, mobile website or mobile application related,
            linked or otherwise connected thereto. Failure to agree and adhere
            to all of the terms, conditions and obligations contained herein
            results in the express prohibition of the Client’s use of the
            Website, and the Client is ordered to discontinue use immediately.
            Thereafter the relationship between Client and spaziobianco. shall
            cease and be of no further force and effect between the parties,
            except that any obligation of Client to pay spaziobianco. for
            services rendered shall remain and continue to be an ongoing
            obligation owed by Client to spaziobianco..
          </p>
          <p class="font-semibold text-tangaroa-500 font-display">
            <a href="/contact"> Contact us</a>
            <span class="font-normal">
              with any questions about these agreements.</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-tangaroa-500">
  <div class="px-8 max-w-7xl lg:px-24 py-4 mx-auto">
    <div class="relative mx-auto gap-3 grid grid-cols-1 lg:grid-cols-6 w-full">
      <div class="w-full lg:col-start-2 lg:col-span-5">
        <p class="uppercase text-white font-bold text-sm">
          spaziobianco legal terms
        </p>
      </div>
    </div>
  </div>
</section>
<section class="bg-mercury-50">
  <div class="px-8 max-w-7xl lg:px-24 py-6 mx-auto">
    <div class="relative mx-auto gap-3 grid grid-cols-1 lg:grid-cols-6 w-full">
      <div
        class="w-full lg:col-start-2 lg:col-span-5 space-y-12 divide-y divide-y-2 divide-mercury-400 py-12"
      >
        <div
          class="prose-3xl prose text-tangaroa-500 prose-h2:text-tangaroa-500 prose-a:font-semibold prose-a:text-tangaroa-500 hover:prose-a:text-tangaroa-500 prose-a:decoration-mercury-400 hover:prose-a:decoration-mint prose-li:marker:text-tangaroa-500 prose-ol:list-decimal"
        >
          <h3>Effective as of August 21, 2021.</h3>
          <p>
            This agreement constitutes a binding legal contract between
            Unwrapped AB (sometimes referred to as “we”, “us” or “our”) and you,
            with respect to your use of this site and all websites, applications
            and communications that post a link to this agreement (collectively,
            the “Site”)(“Terms and Conditions”). We reserve our right to change
            these Terms and Conditions in the future. Except as explicitly
            stated otherwise, your continued use of the Site will constitute
            deemed acceptance of our updated Terms and Conditions.
          </p>
          <ol>
            <li>
              <h3>Site</h3>
              <ul class="prose-li:marker:text-mercury-400">
                <li>
                  We may from time to time, at our sole and absolute discretion
                  and without notice to you, update the Site (or any part of
                  it). We will not be liable to you or any third party for any
                  modification, variation, interruption, suspension or
                  discontinuation of the Site.
                </li>
                <li>
                  The Site may provide links to third party websites that are
                  not owned, managed or controlled by us. You expressly
                  acknowledge and agree that we are not responsible for the
                  content of those third party websites. You are encouraged to
                  read that third party’s terms and conditions, privacy policy
                  and any other document that governs your relationship with
                  that third party.
                </li>
                <li>The Site uses no cookies at all.</li>
              </ul>
            </li>
            <li>
              <h3>Communications</h3>
              <p>
                By using the Site and providing your e-mail address, you agree
                to subscribe to newsletters, marketing or promotional materials
                and other information we may send. You may unsubscribe from
                these emails at any time.
              </p>
            </li>
            <li>
              <h3>Prohibited Uses</h3>
              <p>
                Unless explicitly agreed by us, you acknowledge and agree that
                you may not use our Site for the following purposes:
              </p>
              <ul class="prose-li:marker:text-mercury-400">
                <li>
                  se the Site in any way that violates any applicable local,
                  national or international law or regulation
                </li>
                <li>
                  impersonate or attempt to impersonate any person or entity
                </li>
                <li>
                  engage in any conduct that restricts or inhibits anyone’s use
                  or enjoyment of the Site
                </li>
                <li>
                  monitor or copy any of the material on the Site for any
                  unauthorized purpose without our prior written consent
                </li>
                <li>
                  attempt to gain unauthorized access to, interfere with, damage
                  or disrupt any parts of the Site
                </li>
                <li>
                  use the Site in any manner that could disable, overburden,
                  damage, or impair the Site
                </li>
                <li>
                  attempt to interfere with the proper working of the Site in
                  any way whatsoever
                </li>
              </ul>
            </li>
            <li>
              <h3>Fees and Payment</h3>
              <ul class="prose-li:marker:text-mercury-400">
                <li>
                  You may be required to purchase or pay a fee to access some
                  features of the Site. You agree to pay all fees due and
                  payable to us (including all applicable taxes) at the prices
                  then in effect for your purchases.
                </li>
                <li>
                  You represent and warrant that the information you provide to
                  us is true, correct and complete.
                </li>
                <li>
                  Where payments are processed through our Site using third
                  party payment processors, you also agree to any terms and
                  conditions set by those payment processors.
                </li>
              </ul>
            </li>
            <li>
              <h3>Free Trial</h3>
              <p>
                Where we provide you with a free trial to use the Site, for the
                duration of the free trial period, we may at our sole
                discretion: (i) limit your ability to access certain features;
                (ii) limit any technical support to you that may usually be
                available to paying users; (iii) without notice to you, stop
                your free trial.
              </p>
            </li>
            <li>
              <h3>Specifications</h3>
              <ul class="prose-li:marker:text-mercury-400">
                <li>
                  We may, from time to time, set certain minimum specifications
                  required to access our Site to ensure all users have the best
                  possible experience. You are solely responsible to obtain,
                  keep and maintain all equipment and other software that meets
                  our minimum specifications to enable you to have the best
                  possible experience of our Site.
                </li>
                <li>
                  We may from time to time, at our sole discretion and without
                  notice to you, make variations, modifications, alterations or
                  updates to our Site (“Enhancements”). These Enhancements may
                  be made to improve our Site to you or to comply with relevant
                  legal requirements.
                </li>
                <li>
                  We will use reasonable endeavors to notify you of any
                  scheduled disruptions to our Site, including those due to any
                  Enhancements. However, regardless of whether a disruption is
                  scheduled or not, we are not liable to you or any third party
                  for any loss or damage caused by any disruption to our Site.
                </li>
              </ul>
            </li>
            <li>
              <h3>Copyrights and Trademarks</h3>
              <ul class="prose-li:marker:text-mercury-400">
                <li>
                  Except as expressly stated otherwise, you acknowledge and
                  agree that the original content on the Site, and the software,
                  features and functionality comprising the Site are the
                  exclusive property of Unwrapped AB (the “Materials”) and its
                  licensors.
                </li>
                <li>
                  You agree you will not copy, reproduce, create derivative
                  works from, transmit or distribute the Materials in any way
                  without our prior written consent.
                </li>
              </ul>
            </li>
            <li>
              <h3>Limitation of Liability, Indemnities and Warranties</h3>
              <ul class="prose-li:marker:text-mercury-400">
                <li>
                  Except as expressly provided by law, we shall not be liable to
                  you or any third parties for any loss, damage, expenses or any
                  other liability arising directly or indirectly from the
                  performance of our services to you. To the fullest extent
                  permitted by law, all warranties or conditions implied by
                  statute, at law, by trade, custom or otherwise are excluded.
                </li>
                <li>
                  ou acknowledge and agree that you assume sole and entire
                  responsibility for, and indemnify and hold us harmless from,
                  any and all claims, liabilities, losses, expenses,
                  responsibilities and damages by reason of any claim,
                  proceedings, action, liability or injury arising out of or as
                  a result of (i) your conduct in relation to these Terms and
                  Conditions; (ii) your use of any material, advice or other
                  results of the services provided to you; (iii) your relations
                  with your clients and/or other third parties; or (iv) any
                  breach of these Terms and Conditions by you.
                </li>
              </ul>
            </li>
            <li>
              <h3>Term and Termination</h3>
              <ul class="prose-li:marker:text-mercury-400">
                <li>
                  These Terms and Conditions will remain in full force and
                  effect while you use the Site.
                </li>
                <li>
                  We may, without notice to you, immediately stop providing any
                  services to you at our sole discretion for any reason
                  whatsoever.
                </li>
                <li>
                  Where these Terms and Conditions are terminated in accordance
                  with these Terms and Conditions, they will terminate without
                  prejudice to any rights either party may have had against the
                  other prior to termination. Further, all provisions of which
                  by their nature should survive termination shall survive
                  termination, including, without limitation: (i) all
                  intellectual property you have granted us under these Terms
                  and Conditions; and (ii) your obligation to pay any fees due
                  to us at the time of termination; and (iii) warranty
                  disclaimers, indemnity and limitations of liability.
                </li>
              </ul>
            </li>
            <li>
              <h3>Assignment</h3>
              <ul class="prose-li:marker:text-mercury-400">
                <li>
                  These Terms and Conditions will bind and inure for the benefit
                  of the parties, including their respective successors,
                  permitted assigns and legal representatives.
                </li>
                <li>
                  We may, without notice to you, immediately stop providing any
                  services to you at our sole discretion for any reason
                  whatsoever.
                </li>
                <li>
                  Provided your rights are not affected under these Terms and
                  Conditions, we will be permitted to assign our interest in
                  these Terms and Conditions without prior notice to you.
                  However, you may not assign, transfer, novate or other dispose
                  of your rights and obligations under these Terms and
                  Conditions without our express written approval (which we may
                  withhold in our sole discretion).
                </li>
              </ul>
            </li>
            <li>
              <h3>Privacy</h3>
              <p>
                You acknowledge that you have read and understood the terms of
                Unwrapped AB Privacy Policy, which can be found
                <a href="./privacy">here.</a>
                You agree that we may use your information (including disclosure
                to third parties) in accordance with the terms of our Privacy Policy.
              </p>
            </li>
            <li>
              <h3>Non-Waiver</h3>
              <p>
                Our failure to exercise, or delay in exercising, our rights
                under these Terms and Conditions does not operate as a waiver of
                that right.
              </p>
            </li>
            <li>
              <h3>Exclusion of Implied Relationships</h3>
              <p>
                Nothing in these Terms and Conditions shall be deemed or
                construed to constitute any party a partner, agent,
                representative, employer or employee of another party or to
                create any trust or commercial partnership unless specifically
                otherwise provided. We do not owe you any duty of good faith
                under these Terms and Conditions.
              </p>
            </li>
            <li>
              <h3>Severability</h3>
              <p>
                If any part of these Terms and Conditions are held to be
                illegal, invalid, or unenforceable, then that part shall be
                deemed deleted and shall not affect the validity and
                enforceability of the remaining provisions of these Terms and
                Conditions.
              </p>
            </li>
            <li>
              <h3>Entire Agreement</h3>
              <p>
                These Terms and Conditions constitute the entire agreement
                between the parties with respect to the Company’s services and
                supersede all previous versions of the Terms and Conditions,
                understandings, arrangements, agreements, and communications,
                whether verbal or written, between the parties.
              </p>
            </li>
            <li>
              <h3>Applicable Law and Jurisdiction</h3>
              <p>
                These Terms and Conditions shall be governed by and construed in
                accordance with Ålands Islands law. Both parties agree to submit
                to the jurisdiction of the courts of Ålands Islands with respect
                to any claim or dispute arising out of these Terms and
                Conditions.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
