<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex pt-24">
    <div class="lg:w-1/2 lg:pl-12 lg:ml-auto">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-36 md:pl-12">
            <nav class="bg-slate-50 rounded-lg divide-y space-y-3 p-4 lg:p-8">
              <div>
                <h3 class="text-lg text-purple-900">Office location</h3>
                <p class="text-slate-500">Barcelona</p>
              </div>
              <div>
                <h3 class="mt-3 text-lg text-purple-900">Team</h3>
                <p class="text-slate-500">Controllership</p>
              </div>
              <div>
                <h3 class="mt-3 text-lg text-purple-900">Job type</h3>
                <p class="text-slate-500">Full time</p>
                <div class="mt-10 flex">
                  <a
                    class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-full"
                    href="/job-application">
                    Apply now
                  </a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0">
        <div>
          <p
            class="text-purple-900 font-semibold mt-6 text-4xl tracking-tighter">
            Loom helps customers speed up the cash flow cycle with Spazio Bianco
          </p>
          <p class="text-slate-500 mt-5">
            Loom is cloud-based accounting software that helps small businesses
            save time bookkeeping by automating everyday tasks. The platform
            powers more than two million small businesses around the world.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-4 md:gap-12">
      <div>
        <nav>
          <div>
            <p class="font-semibold text-purple-900 text-2xl">14</p>
            <div class="mt-2 text-slate-500 text-sm">
              days faster for Loom customers to get paid
            </div>
          </div>
          <div>
            <p class="mt-5 font-semibold text-purple-900 text-2xl">3 million</p>
            <div class="mt-2 text-slate-500 text-sm">
              small businesses powered by Loom
            </div>
          </div>
          <div class="mt-12">
            <a
              class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
              href="/job-application">
              Apply now
            </a>
          </div>
        </nav>
      </div>
      <div
        class="prose-lg hover:prose-a:text-blue-500 prose prose-a:font-semibold prose-a:text-blue-300 prose-blockquote:text-blue-600 prose-h3:text-purple-900 text-slate-500 lg:col-span-3">
        <h3>Challenge</h3>
        <p>
          Loom needed a way to get its customers paid faster and to streamline
          recurring payments. They searched for a partner that could solve both
          of these issues so they could help their customers—including a
          thriving ecosystem of 700+ third-party apps and 200+ connections to
          banks and financial service providers eliminate some of the lag time
          and legwork around getting paid.
        </p>
        <h3>Solution</h3>
        <p>
          Loom partnered with Sapzio Bianco so its users could accept credit and
          debit card payments, thus getting paid faster. Now that Loom’s clients
          can set up the Sapzio Bianco payment method in just a few minutes,
          they save hours (and sometimes days or weeks) they normally would
          spend chasing payments. Sapzio Bianco Connect allows customers to pay
          invoices immediately by simply entering their credit card details or
          authorizing the payment with mobile wallets like Apple Pay.
        </p>
        <h3>Results</h3>
        <p>
          With Sapzio Bianco, Loom customers now get paid 14 days faster on
          average, which helps these small businesses be more productive and
          sectiontain a cash-healthy business. Making it easy for customers to
          pay invoices has helped Loom customers transform always-late into
          on-time payers, and has boosted the company’s overall retention rates.
        </p>
      </div>
      <div
        class="relative overflow-hidden rounded-2xl bg-blue-500 p-8 z-50 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8 md:col-span-full">
        <div
          class="absolute inset-0 opacity-80 mix-blend-multiply saturate-0 filter">
          <img
            src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt=""
            class="h-full w-full object-cover"
          />
        </div>
        <div class="relative lg:col-span-1">
          <blockquote class="text-white mt-24">
            <p class="font-medium">
              Spaziobianco Public rollover performance exchange traded funds
              junk bonds passively NASDAQ bills upswing retirement corporate
              market exposure.
            </p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
