<section aria-labelledby="pricing-three" id="pricing-three" class="bg-white">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24 items-center"
  >
    <div>
      <span class="text-tangaroa-400 uppercase text-xs font-semibold"
        >pricing three</span
      >
      <h2
        class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl lg:mx-auto"
      >
        Flexible pricing that scales as you grow
      </h2>
      <div class="mt-12 space-y-4 border-mercury-200">
        <div class="grid grid-cols-1 lg:grid-cols-5 border border-mercury-200">
          <div class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:col-span-2">
            <div class="p-2">
              <span class="font-semibold text-tangaroa-500 text-xl"
                >Pay-as-you-go
              </span>
            </div>
          </div>
          <div class="lg:col-span-3">
            <div class="grid grid-cols-1 lg:grid-cols-3">
              <div
                class="lg:col-span-2 p-2 border-t border-mercury-200 border-l-0 lg:border-l lg:border-t-0"
              >
                <p class="font-semibold text-tangaroa-500 text-sm">
                  Instant bank account verifications
                </p>
                <p class="mt-2 text-tangaroa-400 text-sm">
                  Obtain bank names and tokenized account numbers to connect a
                  user’s bank account and verify that it’s open.
                </p>
              </div>
              <div class="bg-mercury-50 border-l-2 border-orange">
                <div class="p-2 border-t border-mercury-200 lg:border-t-0">
                  <p class="font-semibold text-tangaroa-500 text-sm">$1.50</p>
                  <p class="mt-2 text-tangaroa-400 text-sm">
                    Per verified account
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="lg:col-span-3 lg:col-start-3">
            <div class="grid grid-cols-1 lg:grid-cols-3">
              <div
                class="lg:col-span-2 p-2 border-t border-mercury-200 lg:border-l border-l-0"
              >
                <p class="font-semibold text-tangaroa-500 text-sm">Balances</p>
                <p class="mt-2 text-tangaroa-400 text-sm">
                  Retrieve account balances for underwriting, financial
                  management, or preventing payment failures due to insufficient
                  funds.
                </p>
              </div>
              <div class="bg-mercury-50 border-l-2 border-orange">
                <div class="p-2 border-t border-mercury-200">
                  <p class="font-semibold text-tangaroa-500 text-sm">10¢</p>
                  <p class="mt-2 text-tangaroa-400 text-sm">
                    Per successful API call
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="lg:col-span-3 lg:col-start-3">
            <div class="grid grid-cols-1 lg:grid-cols-3">
              <div
                class="lg:col-span-2 p-2 border-t border-mercury-200 lg:border-l border-l-0"
              >
                <p class="font-semibold text-tangaroa-500 text-sm">
                  Account owners
                </p>
                <p class="mt-2 text-tangaroa-400 text-sm">
                  Pull account owner information, such as first name, last name,
                  and address.
                </p>
              </div>
              <div class="bg-mercury-50 border-l-2 border-orange">
                <div class="p-2 border-t border-mercury-200">
                  <p class="font-semibold text-tangaroa-500 text-sm">$4.50</p>
                  <p class="mt-2 text-tangaroa-400 text-sm">
                    Per successful API call
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-5 border border-mercury-200">
          <div class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:col-span-2">
            <div class="p-2">
              <span class="font-semibold text-tangaroa-500 text-xl"
                >Custom pricing
              </span>
            </div>
          </div>
          <div class="lg:col-span-3">
            <div
              class="lg:col-span-2 p-2 border-t border-mercury-200 border-l-0 lg:border-l lg:border-t-0"
            >
              <p class="mt-2 text-tangaroa-400 text-sm">
                Custom pricing is available for companies with a high volume of
                API calls or unique business models.
              </p>
              <p>
                <a
                  href="/sales-form"
                  class="text-orange font-semibold hover:text-tangaroa-500 text-sm inline-flex items-center group"
                >
                  Contact sales
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
