<section aria-labelledby="pricing-six" id="pricing-six">
  <div
    x-data="{annual: false}"
    class="items-center px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
    <div class="max-w-3xl mx-auto space-y-2 text-center lg:max-w-none">
      <div
        class="items-center px-8 my-12 lg:my-32 mx-auto md:px-12 lg:px-16 xl:px-36 2xl:max-w-7xl">
        <div class="lg:text-center max-w-xl lg:mx-auto">
          <span class="text-tangaroa-500 uppercase text-xs font-semibold"
            >Pricing Six</span
          >
          <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl lg:mx-auto">
            Always know what you’ll pay,<span class="lg:block">
              transparent pricing for everyone.</span
            >
          </h2>
        </div>

        <div
          class="relative z-0 inline-flex mt-6 divide-x border border-mint rounded-xl divide-mint overflow-hidden">
          <button
            class="transition rounded-l-xl w-full block bg-white text-tangaroa-500 px-8 py-2 text-sm font-medium"
            :class="annual == false ? 'bg-mint text-tangaroa-500 ' : 'text-tangaroa-500'"
            @click="annual = false"
            type="button">Monthly</button
          >
          <button
            class="transition rounded-r-xl w-full block bg-white text-tangaroa-500 px-8 py-2 text-sm font-medium"
            :class="annual == true ? 'bg-mint text-tangaroa-500' : ''"
            @click="annual = true"
            type="button">Annual</button
          >
        </div>
      </div>
    </div>
    <div
      class="mt-12 space-y-4 sm:mt-16 lg:bg-white lg:rounded-5xl lg:p-10 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:grid-cols-2">
      <div>
        <div
          class="grid items-center justify-center w-full grid-cols-1 p-6 lg:p-8 lg:grid-cols-2 bg-mercury-100 rounded-3xl">
          <div>
            <h2 class="text-lg text-tangaroa-500">Basic plan</h2>
            <p class="mt-4 text-sm text-tangaroa-400">
              Suitable for those that want to grow steadily.
            </p>
          </div>
          <div class="lg:ml-auto flex-col text-right">
            <p class="text-5xl font-light tracking-tight text-tangaroa-500">
              $<span x-text="annual ? '8.00' : '15.00'">15.00</span>
            </p>
            <p class="text-sm text-tangaroa-400">
              per month <span x-cloak x-show="annual">(billed annually)</span>
            </p>
          </div>
        </div>
        <div class="px-6 pb-8 bg-mercury-100 rounded-3xl mt-2">
          <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-12">
            <ul
              role="list"
              class="order-last mt-10 flex flex-col gap-y-3 text-sm text-tangaroa-400">
              <li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Connect unlimited websites</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">15 bank accounts</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Track 200 credit cards</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Analytics support</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Export 24 months data</span>
              </li>
            </ul>
            <ul
              role="list"
              class="order-last mt-3 lg:mt-10 flex flex-col gap-y-3 text-sm text-tangaroa-400">
              <li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Connect unlimited websites</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">15 bank accounts</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Track 200 credit cards</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Analytics support</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Export 24 months data</span>
              </li>
            </ul>
          </div>
          <a
            class="group inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm focus:outline-none w-full ring-mint text-tangaroa-500 hover:ring-tangaroa-400 active:ring-orange active:text-mercury-200 focus-visible:outline-white mt-8"
            aria-label="Big fish tier"
            href="/register">Get started</a
          >
        </div>
      </div>
      <div>
        <div
          class="grid items-center justify-center w-full grid-cols-1 p-6 lg:p-8 lg:grid-cols-2 bg-tangaroa-600 rounded-3xl">
          <div>
            <h2 class="text-lg text-white">
              Advanced plan <span
                class="inline-flex items-center ml-3 px-2.5 py-0.5 rounded-full text-xs font-medium bg-mint text-tangaroa-500">
                Popular
              </span>
            </h2>
            <p class="mt-4 text-sm text-mercury-400">
              Suitable for those that want to grow like a rocket.
            </p>
          </div>
          <div class="lg:ml-auto flex-col text-right">
            <p class="text-5xl font-light tracking-tight text-white">
              $<span x-text="annual ? '28.00' : '35.00'">35.00</span>
            </p>
            <p class="text-sm text-mercury-400">
              per month <span x-cloak x-show="annual">(billed annually)</span>
            </p>
          </div>
        </div>
        <div class="px-6 pb-8 bg-tangaroa-600 rounded-3xl mt-2">
          <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-12">
            <ul
              role="list"
              class="order-last mt-10 flex flex-col gap-y-3 text-sm text-mercury-400">
              <li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Connect unlimited websites</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">15 bank accounts</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Track 200 credit cards</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Analytics support</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Export 24 months data</span>
              </li>
            </ul>
            <ul
              role="list"
              class="order-last mt-3 lg:mt-10 flex flex-col gap-y-3 text-sm text-mercury-400">
              <li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Connect unlimited websites</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">15 bank accounts</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Track 200 credit cards</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Analytics support</span>
              </li><li class="flex items-start">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"></path>
                </svg><span class="ml-4">Export 24 months data</span>
              </li>
            </ul>
          </div>
          <a
            class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-mint text-mercury-900 hover:bg-white active:bg-orange active:text-mercury-600 focus-visible:outline-white mt-8 w-full"
            aria-label="Indie hacker tier"
            href="/register">Get started</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
