<section class="flex items-center justify-center bg-white lg:h-screen">
  <div
    class="relative items-center w-full px-4 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="grid grid-cols-1 mx-auto lg:grid-cols-3 items-start">
      <div class="lg:pr-12">
        <div class="flex flex-col p-8 lg:p-0">
          <span class="text-tangaroa-500 uppercase text-xs font-semibold"
            >Pricing Five</span
          >
          <h1 class="text-tangaroa-500 font-semibold mt-6 text-3xl">
            Always know what you’ll pay, transparent pricing for everyone.
          </h1>
          <div class="max-w-lg mt-3">
            <p class="text-sm text-tangaroa-400">
              Choose a plan that works the best for you and your team. Start
              small, upgrade when you need to.
            </p>
          </div>
          <div>
            <div class="justify-start max-w-sm space-y-6 pt-12">
              <article>
                <div class="space-y-3">
                  <div class="lg:inline-flex lg:items-start lg:gap-3">
                    <div
                      class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                        ></path>
                      </svg>
                    </div>
                    <p
                      class="mt-5 font-semibold text-tangaroa-500 text-sm lg:mt-0">
                      Can I used spaziobianco for my site?
                    </p>
                  </div>
                  <p class="text-sm text-tangaroa-400 mt-5">
                    Upswing securities passively index inverse bondholders
                    capitalization financial health Moody's debt managed.
                  </p>
                </div>
              </article>
              <article>
                <div class="space-y-3">
                  <div class="lg:inline-flex lg:items-start lg:gap-3">
                    <div
                      class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5">
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                        ></path>
                      </svg>
                    </div>
                    <p
                      class="mt-5 font-semibold text-tangaroa-500 text-sm lg:mt-0">
                      Will i get updates?
                    </p>
                  </div>
                  <p class="text-sm text-tangaroa-400 mt-5">
                    Upswing securities passively index inverse bondholders
                    capitalization financial health Moody's debt managed.
                  </p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <section class="flex flex-col rounded-3xl px-6 sm:px-8 lg:py-8">
        <h3 class="mt-5 text-lg text-tangaroa-500">Big fish</h3><p
          class="mt-2 text-sm text-tangaroa-400">
          For even the biggest enterprise companies.
        </p><p
          class="order-first text-5xl font-light tracking-tight text-tangaroa-500">
          $99
        </p>
        <ul
          role="list"
          class="order-last mt-10 flex flex-col gap-y-3 text-sm text-tangaroa-400">
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Connect unlimited websites</span>
          </li><li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Connect up to 15 bank accounts</span>
          </li><li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Track up to 200 credit cards</span>
          </li><li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Analytics support</span>
          </li><li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Export up to 24 months data</span>
          </li>
        </ul><a
          class="group inline-flex ring-1 items-center justify-center rounded-full py-2 px-4 text-sm focus:outline-none ring-mint text-tangaroa-500 hover:ring-tangaroa-400 active:ring-orange active:text-mercury-200 focus-visible:outline-white mt-8"
          aria-label="Big fish tier"
          href="/register">Get started</a
        >
      </section>
      <section
        class="flex flex-col rounded-3xl px-6 sm:px-8 order-first bg-gradient-to-t from-tangaroa-600 to-tangaroa-500 py-8 lg:order-none">
        <h3 class="mt-5 text-lg text-white">Indie Hacker</h3><p
          class="mt-2 text-sm text-mercury-400">
          Perfect for those leaving 9-5 and working 24/7.
        </p>
        <p class="order-first text-5xl font-light tracking-tight text-white">
          $29
        </p>
        <ul
          role="list"
          class="order-last mt-10 flex flex-col gap-y-3 text-sm text-white">
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Connect 80 websites</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Connect up to 5 bank accounts</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Track up to 50 credit cards</span>
          </li>
          <li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Analytics support</span>
          </li><li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Export up to 12 months data</span>
          </li><li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Cloud service 24/7</span>
          </li><li class="flex items-start">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-4 h-4">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg><span class="ml-4">Track in multiple users</span>
          </li>
        </ul>
        <a
          class="group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-mint text-mercury-900 hover:bg-white active:bg-orange active:text-mercury-600 focus-visible:outline-white mt-8"
          aria-label="Indie hacker tier"
          href="/register">Get started</a
        >
      </section>
    </div>
  </div>
</section>
