---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper
      variant="standard"
      class="flex flex-col items-center justify-center h-full py-24 min-h-dvh"
    >
      <div
        data-aos="fade-up"
        data-aos-duration="1000"
        class="max-w-lg p-8 mx-auto shadow bg-base-100 lg:p-20 rounded-2xl"
      >
        <div class="flex">
          <div
            data-aos="fade-up"
            data-aos-duration="1000"
            class="flex items-center justify-center p-8 bg-white shadow aspect-square rounded-2xl"
          >
            <Text
              tag="h3"
              variant="displaySM"
              class="font-bold tracking-tight text-base-800"
            >
              404
            </Text>
          </div>
        </div>
        <Text
          tag="p"
          variant="textBase"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="mt-8 text-base text-base-500"
        >
          Sorry, but the page you were looking for could not be found. You can
          return to <a href="/" class="text-teal-700 hover:text-teal-800"
            >our front page</a
          >, or <a href="/forms/contact" class="text-teal-700 hover:text-teal-800"
            >drop us a line</a
          > if you can't find what you're looking for.
        </Text>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
