lexingtonthemes.comlexingtonthemes.comLexingtonlexingtonthemes.comlexingtonthemes.com<section aria-labelledby="footer-one" id="footer-one" class="bg-white">
  <footer>
    <div
      class="items-center max-w-7xl lg:px-16 md:px-12 mx-auto px-8 xl:px-36 py-24"
    >
      <div class="w-full">
        <div class="lg:inline-flex items-start w-full justify-between">
          <div class="items-center flex w-full">
            <div class="lg:inline-flex items-center">
              <div class="lg:pr-6">
                <p
                  class="italic font-black lg:mx-auto text-xl text-tangaroa-500"
                >
                  spaziobianco.
                </p>
              </div>
              <nav
                class="flex flex-row gap-3 lg:gap-8 lg:mt-0 mt-12 lg:pl-6 border-t-4 lg:border-t-0 lg:border-l-4 border-mint lg:py-2"
              >
                <a
                  class="text-mercury-500 hover:text-tangaroa-500 font-semibold py-2 lg:py-0 rounded-lg text-sm"
                  href="/overview"
                  ><span class="relative z-10">Overview</span>
                </a>
                <a
                  class="text-mercury-500 hover:text-tangaroa-500 font-semibold py-2 lg:py-0 rounded-lg text-sm"
                  href="https://supremeui.dev/license.html"
                  ><span class="relative z-10">License</span>
                </a><a
                  class="text-mercury-500 hover:text-tangaroa-500 font-semibold py-2 lg:py-0 rounded-lg text-sm"
                  href="https://supremeui.dev/faq.html"
                  ><span class="relative z-10">Faq</span>
                </a><a
                  class="text-mercury-500 hover:text-tangaroa-500 font-semibold py-2 lg:py-0 rounded-lg text-sm"
                  href="https://supremeui.dev"
                  ><span class="relative z-10">Supreme</span>
                </a><a
                  class="text-mercury-500 hover:text-tangaroa-500 font-semibold py-2 lg:py-0 rounded-lg text-sm"
                  href="https://twitter.com/Mike_Andreuzza"
                  ><span class="relative z-10">Social</span>
                </a>
              </nav>
            </div>
          </div>
          <div class="space-y-3">
            <div class="w-10 h-0.5 bg-tangaroa-500"></div>
            <p class="mt-12 text-sm lg:mt-0 text-mercury-500">
              Designed and built in the Åland Islands by Michael Andreuzza.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
