<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>csv.domains - Manage and Export Your Domain Portfolio with Ease</title>
<meta
  name="description"
  content="Manage your domains in one place. Bulk upload, set prices, fix errors, and export CSV files ready for Afternic, Spaceship, and SEDO."
/>
<meta name="keywords" content="Domain, Portfolio, Afternic, Spaceship, SEDO, Download Domain CSV" />
<meta name="author" content="Will" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#ffffff" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
