---
import chart from "/public/images/chart.png";

import { Image } from "@astrojs/image/components";
---

<section
  aria-labelledby="feature-eight"
  id="feature-eight"
  class="overflow-hidden"
>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 pt-24 items-center"
  >
    <div>
      <span class="text-tangaroa-400 uppercase text-xs font-semibold"
        >Feature Eight</span
      >
      <h2 class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl">
        Create a website is easy to use
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-tangaroa-400">
          Build quicker and don't waste time building your website. Combine
          layouts and customize them as you wish.
        </p>
      </div>
    </div>
    <div class="mx-auto text-left mt-12">
      <h2 class="sr-only">intro.</h2><div>
        <div
          class="text-sm gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-2"
        >
          <article>
            <div class="space-y-3">
              <div>
                <div
                  class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg>
                </div>
                <p class="mt-5 font-semibold text-tangaroa-500 text-sm">
                  Tools to build optimized checkout flows
                </p>
              </div>

              <div class="mt-5">
                <ul
                  role="list"
                  class="order-last flex flex-col gap-y-2 text-sm text-tangaroa-400"
                >
                  <li class="flex items-start">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                        clip-rule="evenodd"></path>
                    </svg>

                    <span class="ml-4"> Embeddable checkout</span>
                  </li>
                  <li class="flex items-start">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                        clip-rule="evenodd"></path>
                    </svg>

                    <span class="ml-4"> Custom UI toolkit</span>
                  </li>
                  <li class="flex items-start">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                        clip-rule="evenodd"></path>
                    </svg>

                    <span class="ml-4"> Invoice support</span>
                  </li>
                </ul>
              </div>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div>
                <div
                  class="flex items-center justify-center w-8 h-8 text-tangaroa-500 rounded-full bg-mint"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-5 h-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
                    ></path>
                  </svg>
                </div>
                <p class="mt-5 font-semibold text-tangaroa-500 text-sm">
                  Global payments with a single integration
                </p>
              </div>
              <div class="mt-5">
                <ul
                  role="list"
                  class="order-last flex flex-col gap-y-2 text-sm text-tangaroa-400"
                >
                  <li class="flex items-start">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                        clip-rule="evenodd"></path>
                    </svg>

                    <span class="ml-4"> Embeddable checkout</span>
                  </li>
                  <li class="flex items-start">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                        clip-rule="evenodd"></path>
                    </svg>

                    <span class="ml-4"> Custom UI toolkit</span>
                  </li>
                  <li class="flex items-start">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="w-6 h-6"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                        clip-rule="evenodd"></path>
                    </svg>

                    <span class="ml-4"> Invoice support</span>
                  </li>
                </ul>
              </div>
            </div>
          </article>
        </div>
        <div class="w-full -mb-12 mt-12 object-fit">
          <Image
            src={chart}
            alt="supreme thumbnail"
            class="shadow-card rounded-2xl"
            width={1032}
            height={456}
          />
        </div>
      </div>
    </div>
  </div>
</section>
