---
import creditcard from "/public/images/creditcard.png";
import creditcardTwo from "/public/images/creditcardTwo.png";
import creditcardThree from "/public/images/creditcardThree.png";
import creditcardFour from "/public/images/creditcardFour.png";
import { Image } from "@astrojs/image/components";
---

<section aria-labelledby="feature-seven" id="feature-seven" class="bg-white">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24 items-center"
  >
    <div class="max-w-xl">
      <span class="text-tangaroa-400 uppercase text-xs font-semibold"
        >Feature Seven</span
      >
      <h2 class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl">
        Build better products and processes with spaziobianco ui kit
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-tangaroa-400">
          Secure access to users’ financial data enables you to streamline
          common processes, such as onboarding and creditcard, and build new
          products to help users manage their finances. Because Financial
          Connections is fully interoperable with the rest of Supreme, it’s easy
          to connect to users’ accounts to improve creditcard and product
          experiences.
        </p>
      </div>
    </div>
    <div>
      <ul
        role="list"
        class="grid grid-cols-2 lg:grid-cols-2 gap-4 list-none lg:gap-24 mt-6 lg:mt-24"
      >
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-2xl">
              Clever layouts
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            Debt bills lucrative capitalization municipal bonds government 401k
            bear bull credit corporate bonds called NYSE finance. Managed prices
            bondholders federal risk NASDAQ hedge fund expenses municipal bonds
            management.
          </div>
          <Image
            src={creditcard}
            alt="supreme thumbnail"
            class="shadow-card rounded-4xl mt-12"
            width={1011}
            height={638}
          />
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-2xl">
              100% responsive
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            Debt bills lucrative capitalization municipal bonds government 401k
            bear bull credit corporate bonds called NYSE finance. Managed prices
            bondholders federal risk NASDAQ hedge fund expenses municipal bonds
            management.
          </div>
          <Image
            src={creditcardTwo}
            alt="supreme thumbnail"
            class="shadow-card rounded-4xl mt-12"
            width={1011}
            height={638}
          />
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-2xl">
              100% responsive
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            Debt bills lucrative capitalization municipal bonds government 401k
            bear bull credit corporate bonds called NYSE finance. Managed prices
            bondholders federal risk NASDAQ hedge fund expenses municipal bonds
            management.
          </div>
          <Image
            src={creditcardThree}
            alt="supreme thumbnail"
            class="shadow-card rounded-4xl mt-12"
            width={1011}
            height={638}
          />
        </li>
        <li>
          <div>
            <p class="font-semibold text-tangaroa-500 text-2xl">
              100% responsive
            </p>
          </div>
          <div class="mt-2 text-tangaroa-400 text-sm">
            Debt bills lucrative capitalization municipal bonds government 401k
            bear bull credit corporate bonds called NYSE finance. Managed prices
            bondholders federal risk NASDAQ hedge fund expenses municipal bonds
            management.
          </div>
          <Image
            src={creditcardFour}
            alt="supreme thumbnail"
            class="shadow-card rounded-4xl mt-12"
            width={1011}
            height={638}
          />
        </li>
      </ul>
    </div>
  </div>
</section>
