<section aria-labelledby="feature-four" id="feature-four">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2
        class="inline-flex items-center rounded-full text-blue-600"
        id="table-of-contents-title">
        <span class="font-mono text-sm" aria-hidden="true">04</span><span
          class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
          class="ml-3 text-base font-medium tracking-tight">Feature</span
        >
      </h2>
      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        Spaziobianco is a well crafted
        <span class="lg:block">multipage UI Kit for your SaaS</span>
      </h2>
      <div class="mx-auto text-left mt-12">
        <h2 class="sr-only">intro.</h2><div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            <div>
              <p class="text-slate-500">
                Use blockchain technology to create decentralized autonomous
                organizations and manage them with ease. Control and added
                security. With decentralization, users have more control over
                their data and transactions, and the platform is less
                susceptible.
              </p>
            </div>
            <div>
              <p class="text-slate-500">
                Our platform is built on blockchain technology, which allows for
                decentralized control and added security. With decentralization,
                users have more control over their data and transactions, and
                the platform is less susceptible to malicious attacks.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
        <div>
          <img
            src="/images/creditcardTwo.png"
            alt="thumbnail"
            class="rounded-2xl drop-shadow-2xl"
          />
          <img
            src="/images/balance.png"
            alt="thumbnail"
            class="drop-shadow-2xl mt-6"
          />
        </div>
        <div class="lg:col-span-2">
          <img
            src="/images/notification.png"
            alt="thumbnail"
            class="drop-shadow-2xl"
          />
          <img
            src="/images/miniNotification.png"
            alt="thumbnail"
            class="drop-shadow-2xl mt-6"
          />
          <img
            src="/images/payments.png"
            alt="thumbnail"
            class="drop-shadow-2xl mt-6 lg:hidden block"
          />
        </div>
        <div class="hidden lg:block">
          <img
            src="/images/payments.png"
            alt="thumbnail"
            class="drop-shadow-2xl"
          />
          <img
            src="/images/creditcardTwo.png"
            alt="thumbnail"
            class="rounded-2xl drop-shadow-2xl mt-6"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
    <div>
      <h2
        class="inline-flex items-center text-white"
        id="table-of-contents-title">
        <span class="font-mono text-sm" aria-hidden="true">04</span><span
          class="ml-3 h-3.5 w-px bg-white/20"></span><span
          class="ml-3 text-base font-medium tracking-tight">Feature</span
        >
      </h2>
      <h2
        class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
        Sapziobianco includes everything you need to <span class="lg:block"
          >build a beautiful website for your SaaS</span
        >
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-white">
          Receive dividends bull investment mutual funds rise federal funds
          strategy substantially treasury municipal public index funds.
        </p>
      </div>
    </div>
    <div class="mx-auto text-left mt-12">
      <h2 class="sr-only">intro.</h2><div>
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
          <div>
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  Conect your SaaS
                </p>
              </div>
              <p class="text-sm text-white">
                Debt bills lucrative capitalization municipal bonds government
                401k bear bull credit corporate bonds called NYSE finance.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  Conect your SaaS
                </p>
              </div>
              <p class="text-sm text-white">
                Debt bills lucrative capitalization municipal bonds government
                401k bear bull credit corporate bonds called NYSE finance.
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  Conect your SaaS
                </p>
              </div>
              <p class="text-sm text-white">
                Debt bills lucrative capitalization municipal bonds government
                401k bear bull credit corporate bonds called NYSE finance.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
