<section class="relative overflow-hidden">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div>
          <h2 class="inline-flex items-center text-blue-600">
            <span class="text-base font-medium tracking-tight">Feature</span>
          </h2>

          <h2
            class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
            Top notch company
          </h2>
          <p class="text-slate-500 mt-5">
            Receive dividends bull investment mutual funds rise federal funds
            strategy substantially treasury municipal public index funds.
          </p>
        </div>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            href="/overview">
            Apply now &nbsp; &rarr;
          </a>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 lg:ml-auto">
        <div class="">
          <img
            src="/images/creditcardTwo.png"
            alt="thumbnail"
            class="drop-shadow-2xl"
          />
        </div>
      </div>
    </div>
    <div>
      <ul
        role="list"
        class="grid grid-cols-2 lg:grid-cols-4 gap-4 list-none lg:gap-6 mt-24">
        <li>
          <div>
            <div
              class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
              1
            </div>
            <p class="mt-5 font-semibold text-purple-900">
              Tools for every stack
            </p>
          </div>
          <div class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
            Corporate bonds debt fiat risk return municipal bonds retirement
            interest.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
              2
            </div>
            <p class="mt-5 font-semibold text-purple-900">
              Prebuilt integrations
            </p>
          </div>
          <div class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
            Municipal management performance corporate investment grade bonds.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
              3
            </div>
            <p class="mt-5 font-semibold text-purple-900">
              Tools for every stack
            </p>
          </div>
          <div class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
            Corporate bonds debt fiat risk return municipal bonds retirement
            interest.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
              4
            </div>
            <p class="mt-5 font-semibold text-purple-900">Use Shiki for code</p>
          </div>
          <div class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
            Corporate bonds debt fiat risk return municipal bonds retirement
            interest.
          </div>
        </li>
      </ul>
    </div>
    <div class="mt-24">
      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        A more efficient way to accept wire transfers and ACH
      </h2>
      <div>
        <p class="text-slate-500 mt-6">
          While often more effective for larger invoice amounts, supporting
          payment methods like ACH and wires can require tedious and manual
          accounts receivable efforts. LexingtonBilling automates how businesses
          support B2B payment methods.
        </p>
      </div>
    </div>
    <div
      class="grid grid-cols-1 gap-12 lg:gap-24 items-start md:grid-cols-2 mt-12 lg:mt-24">
      <div>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          Premium creditcards
        </h2>
        <p class="text-slate-500 mt-5">
          Your implementation includes relevant deep dive workshops so we can
          understand your requirements and create tailored integration guides
          for your teams to build faster.
        </p>
        <p class="text-slate-500 mt-5">
          LexingtonBilling automates how businesses support B2B payment.
        </p>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            href="/overview">
            Explor all pages
          </a>
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full">
        <img
          src="/images/creditcardTwo.png"
          alt="thumbnail"
          class="drop-shadow-2xl"
        />
      </div>
    </div>
    <div>
      <ul
        role="list"
        class="grid grid-cols-2 lg:grid-cols-4 gap-4 list-none lg:gap-6 mt-24">
        <li>
          <div>
            <div
              class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
              5
            </div>
            <p class="mt-5 font-semibold text-purple-900">
              Tools for every stack
            </p>
          </div>
          <div class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
            Corporate bonds debt fiat risk return municipal bonds retirement
            interest.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
              6
            </div>
            <p class="mt-5 font-semibold text-purple-900">
              Prebuilt integrations
            </p>
          </div>
          <div class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
            Municipal management performance corporate investment grade bonds.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
              7
            </div>
            <p class="mt-5 font-semibold text-purple-900">
              Tools for every stack
            </p>
          </div>
          <div class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
            Corporate bonds debt fiat risk return municipal bonds retirement
            interest.
          </div>
        </li>
        <li>
          <div>
            <div
              class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
              8
            </div>
            <p class="mt-5 font-semibold text-purple-900">
              Tools for every stack
            </p>
          </div>
          <div class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
            Corporate bonds debt fiat risk return municipal bonds retirement
            interest.
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
