---
import { Code } from "astro/components";
---

<section
  class="relative overflow-hidden bg-white">
  <div class="bg-purple-900 max-w-7xl mx-auto rounded-3xl">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 lg:gap-24 items-start">
        <div>
          <h2 class="inline-flex items-center text-white">
            <span class="text-base font-medium tracking-tight">Feature</span>
          </h2>
          <h2
            class="text-white font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
            Style code snippets with Shiki and CSS Variables
          </h2>
          <p class="text-slate-400 mt-5">
            Receive dividends bull investment mutual funds rise federal funds
            strategy substantially treasury municipal public index funds.
          </p>
          <p class="text-slate-400 mt-3">
            Municipal management performance corporate investment grade bonds.
            Fall volatile rates funds Standard & Poor's market index upswing
            financial health growth bear. Treasury 401k potential.
          </p>
          <ul
            role="list"
            class="grid grid-cols-2 gap-4 list-none lg:gap-6 mt-12">
            <li>
              <div>
                <p class="font-semibold text-white text-base">
                  Prebuilt integrations
                </p>
              </div>
              <div class="mt-2 text-slate-400 text-sm">
                Municipal management performance corporate investment grade
                bonds.
              </div>
            </li>
            <li>
              <div>
                <p class="font-semibold text-white text-base">
                  Tools for every stack
                </p>
              </div>
              <div class="mt-2 text-slate-400 text-sm">
                Municipal management performance corporate investment grade
                bonds.
              </div>
            </li>
          </ul>
        </div>
        <div class="lg:mt-0 mt-12 h-full">
          <div x-data x-tabs class="mx-auto">
            <div x-tabs:list class="-mb-px flex items-stretch gap-1">
              <button
                x-tabs:tab
                type="button"
                :class="$tab.isSelected ? ' bg-blue-500 focus:bg-blue-500 text-white' : 'bg-blue-50 text-blue-600'"
                class="inline-flex rounded-full font-semibold px-6 py-2 text-xs"
                >Open accounts</button
              >
              <button
                x-tabs:tab
                type="button"
                :class="$tab.isSelected ? ' bg-blue-500 focus:bg-blue-500 text-white' : 'bg-blue-50 text-blue-600'"
                class="inline-flex rounded-full font-semibold px-6 py-2 text-xs"
                >Create cards
              </button>
            </div>
            <div x-tabs:panels class="rounded-b-md mt-6 relative">
              <section
                x-tabs:panel
                class="text-xs leading-relaxed font-mono mt-4 rounded-2xl p-4 bg-purple-800">
                <Code
                  code={`import { defineConfig } from 'astro/config';
  import tailwind from "@astrojs/tailwind";
  import image from "@astrojs/image";
  import compress from "astro-compress";
  import sitemap from "@astrojs/sitemap";
  import mdx from "@astrojs/mdx";
  // https://astro.build/config
  export default defineConfig({
  markdown: {
      drafts: true,
      shikiConfig: { theme: "css-variables" }
    },
    shikiConfig: {
      wrap: true,
      skipInline: false,
      drafts: true,
    },
     site: 'https://lexingtonthemes.com',
    integrations: [tailwind(), image(),
    compress(), sitemap(), mdx()]
  });`}
                  lang="js"
                  theme="css-variables"
                />
              </section>
              <section
                x-tabs:panel
                class="text-xs leading-relaxed font-mono mt-4 rounded-2xl p-4 bg-purple-800">
                <Code
                  code={`import { defineConfig } from 'astro/config';
  import tailwind from "@astrojs/tailwind";
  import image from "@astrojs/image";
  import compress from "astro-compress";
  import partytown from "@astrojs/mdx";
  import sitemap from "@astrojs/sitemap";
  import image from "@astrojs/image";
  import compress from "astro-vue";
  import partytown from "@astrojs/partytown";
  import sitemap from "@astrojs/sitemap";
  // https://astro.build/config
  export default defineConfig({
     site: 'https://lexingtonthemes.com',
    integrations: [tailwind(),  sitemap()]
  });}'`}
                  lang="js"
                  theme="css-variables"
                />
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
