<section class="overflow-hidden border-b">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 pt-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">Feature</span>
      </h2>

      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        Create a website is easy to use
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-slate-500">
          Build quicker and don't waste time building your website. Combine
          layouts and customize them as you wish.Swap sections and create your
          landing page in minutes
        </p>
      </div>
    </div>
    <div class="mx-auto text-left mt-12">
      <div>
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
          <div>
            <div>
              <div>
                <p class="font-semibold text-purple-900">
                  Tools to build optimized checkout flows
                </p>
              </div>
              <div class="mt-6">
                <ul
                  role="list"
                  class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                  <li class="flex items-start">
                    —
                    <span class="ml-4"> Embeddable checkout</span>
                  </li>
                  <li class="flex items-start">
                    —
                    <span class="ml-4"> Custom UI toolkit</span>
                  </li>
                  <li class="flex items-start">
                    —
                    <span class="ml-4"> Invoice support</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div>
            <div>
              <div>
                <p class="font-semibold text-purple-900">
                  Global payments with a single integration
                </p>
              </div>
              <div class="mt-6">
                <ul
                  role="list"
                  class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                  <li class="flex items-start">
                    —
                    <span class="ml-4"> Embeddable checkout</span>
                  </li>
                  <li class="flex items-start">
                    —
                    <span class="ml-4"> Custom UI toolkit</span>
                  </li>
                  <li class="flex items-start">
                    —
                    <span class="ml-4"> Invoice support</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
          <img
            src="/images/chart.jpg"
            alt="thumbnail"
            class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200"
          />
        </div>
      </div>
    </div>
  </div>
</section>
