<section aria-labelledby="intro" class="relative">
  <h2 class="sr-only" id="intro">intro</h2><div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 my-24 items-center"
  >
    <div class="lg:text-center">
      <h2
        class="ttext-tangaroa-500 font-display font-semibold mt-6 text-3xl lg:mx-auto"
      >
        Prototype your <span class="lg:block"
          >website with <span>monoqrom</span>
        </span>
      </h2><div class="mx-auto max-w-xl mt-6">
        <p class="text-tangaroa-400">
          Design quicker and don't waste time with cluttered wireframes. Combine
          layouts and customize them as you wish.
        </p>
      </div>
    </div>
    <div class="mx-auto max-w-xl lg:max-w-7xl prose pt-12 text-left">
      ´<h2 class="sr-only">intro.</h2><div>
        <div
          class="text-sm gap-x-2 gap-y-14 grid grid-cols-1 leading-6 lg:grid-cols-4 mt-12 sm:grid-cols-2"
        >
          <article>
            <div
              class="relative overflow-hidden aspect-[280/190] bg-white rounded-xl"
            >
              <img
                alt="color palettes"
                src="https://d33wubrfki0l68.cloudfront.net/3b09be81ce4c1ac97d96ccd102f8988d273ec769/0aadf/images/color.webp"
              />
              <div class="rounded-xl absolute inset-0"></div>
            </div><p class="text-tangaroa-600 lg:px-6 mt-6">
              <strong class="font-semibold text-tangaroa-900"
                >Global styles</strong
              >
              – Personalize your zinc and states colors in click.
            </p>
          </article><article>
            <div
              class="relative overflow-hidden aspect-[280/190] bg-white rounded-xl"
            >
              <img
                alt="color palettes"
                src="https://d33wubrfki0l68.cloudfront.net/04739ebce6fa06c3b0236b3ca458595c0f04fabf/927e8/images/text.webp"
              /><div class="rounded-xl absolute inset-0"></div>
            </div><p class="text-tangaroa-600 lg:px-6 mt-6">
              <strong class="font-semibold text-tangaroa-900"
                >The typography
              </strong>– Is using Inter font well structured to follow an
              effective typographic hierarchy.
            </p>
          </article><article>
            <div
              class="relative overflow-hidden aspect-[280/190] bg-white rounded-xl"
            >
              <img
                alt="figma ui"
                src="https://d33wubrfki0l68.cloudfront.net/a105e256d57451c21cec1b992aadb33b0596f123/2e55d/images/grids.webp"
              /><div class="rounded-xl absolute inset-0"></div>
            </div><p class="text-tangaroa-600 lg:px-6 mt-6">
              <strong class="font-semibold text-tangaroa-900"
                >1440px and 320px
              </strong>– full-width components with pre-set resizing constrains
              for Desktop resolution.
            </p>
          </article><article>
            <div
              class="relative overflow-hidden aspect-[280/190] bg-white rounded-xl"
            >
              <img
                alt="light and dark mode"
                src="https://d33wubrfki0l68.cloudfront.net/be0087ad9d6a82d1f0d5c1a379c3e03ec0a85421/c3d4e/images/devices.webp"
              /><div class="rounded-xl absolute inset-0"></div>
            </div><p class="text-tangaroa-600 lg:px-6 mt-6">
              <strong class="font-semibold text-tangaroa-900"
                >Pre-set Resizing Constraints
              </strong>– All the layouts are using Figma's Auto-Layout.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
