<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-24">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">Feature</span>
            </h2>
            <h2
              class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              We create the next wave of technology.
            </h2>
            <p class="text-slate-500 mt-5">
              We help startups like yours grow revenue and improve customer
              loyalty with beautifully designed templates.
            </p>
            <p class="text-slate-500 mt-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Suspendisse varius enim in eros elementum tristique. Duis cursus,
              mi quis viverra ornare, eros dolor interdum.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0">
        <div>
          <ul
            role="list"
            class="grid grid-cols-1 gap-12 lg:gap-24 list-none mt-24">
            <li>
              <div>
                <p
                  class="text-purple-900 font-semibold tracking-tighter text-3xl">
                  Tools for every stack
                </p>
              </div>
              <div class="mt-2 text-slate-500">
                Competing in the $5 trillion global ecommerce market requires an
                international presence that doesn’t get lost in translation.
                Join us as we traverse the globe to explore the many benefits of
                offering localized, optimized payment experiences that are
                achievable in minutes, not months.
              </div>
            </li>
            <li>
              <div>
                <p
                  class="text-purple-900 font-semibold tracking-tighter text-3xl">
                  Prebuilt integrations
                </p>
              </div>
              <div class="mt-2 text-slate-500">
                Join Lexingtonengineers and designers for a technical look at
                LexingtonApps. You’ll hear directly from the makers, get a full
                developer demo, and leave the session with everything you need
                to get started.
              </div>
            </li>
            <li>
              <div>
                <p
                  class="text-purple-900 font-semibold tracking-tighter text-3xl">
                  Tools for every stack
                </p>
              </div>
              <div class="mt-2 text-slate-500">
                To achieve global net zero emissions by 2050, we need not only
                to reduce emissions but also remove huge amounts of carbon from
                the atmosphere and oceans. Learn more about LexingtonClimate’s
                work to build the world’s largest carbon removal coalition and
                invest in the most promising early-stage solutions.
              </div>
            </li>
            <li>
              <div>
                <p
                  class="text-purple-900 font-semibold tracking-tighter text-3xl">
                  Tools for every stack
                </p>
              </div>
              <div class="mt-2 text-slate-500">
                Banking-as-a-service (BaaS) has made it possible for any company
                to easily offer financial services tailored to customers’
                specific needs. Hear from a range of businesses on how they're
                using BaaS in radically different ways.
              </div>
            </li>
            <li>
              <div>
                <p
                  class="text-purple-900 font-semibold tracking-tighter text-3xl">
                  Tools for every stack
                </p>
              </div>
              <div class="mt-2 text-slate-500">
                Competing in the $5 trillion global ecommerce market requires an
                international presence that doesn’t get lost in translation.
                Join us as we traverse the globe to explore the many benefits of
                offering localized, optimized payment experiences that are
                achievable in minutes, not months.
              </div>
            </li>
            <li>
              <div>
                <p
                  class="text-purple-900 font-semibold tracking-tighter text-3xl">
                  Prebuilt integrations
                </p>
              </div>
              <div class="mt-2 text-slate-500">
                Join Lexingtonengineers and designers for a technical look at
                LexingtonApps. You’ll hear directly from the makers, get a full
                developer demo, and leave the session with everything you need
                to get started.
              </div>
            </li>
            <li>
              <div>
                <p
                  class="text-purple-900 font-semibold tracking-tighter text-3xl">
                  Tools for every stack
                </p>
              </div>
              <div class="mt-2 text-slate-500">
                To achieve global net zero emissions by 2050, we need not only
                to reduce emissions but also remove huge amounts of carbon from
                the atmosphere and oceans. Learn more about LexingtonClimate’s
                work to build the world’s largest carbon removal coalition and
                invest in the most promising early-stage solutions.
              </div>
            </li>
            <li>
              <div>
                <p
                  class="text-purple-900 font-semibold tracking-tighter text-3xl">
                  Tools for every stack
                </p>
              </div>
              <div class="mt-2 text-slate-500">
                Banking-as-a-service (BaaS) has made it possible for any company
                to easily offer financial services tailored to customers’
                specific needs. Hear from a range of businesses on how they're
                using BaaS in radically different ways.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
