---
// Assets
import { Code } from "astro:components";
import LogoCloud from "@/components/assets/LogoCloud.astro";
import VisualAsset1 from "@/components/assets/VisualAsset1.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-24 pb-12">
    <div
      class="z-40 items-start -mt-40 grid grid-cols-1 gap-12 lg:-mt-80 lg:grid-cols-2 lg:gap-24"
    >
      <Code
        data-aos="fade-up"
        data-aos-duration="2000"
        class="z-40 h-full p-8 text-xs scrollbar-hide rounded-xl"
        code={`await payments.transfer.create({
amount: 25075,
currency: "USD",
from_account: {
  id: "acct_everbank_112233445",
  bank: "EverBank",
  type: "Business Checking",
},

to_account: {
  id: "acct_chase_556677889",
  bank: "Chase",
  type: "Savings",
},

initiated_at: "2025-03-14T14:32:00Z",
status: "Pending",
});`}
        lang="js"
        theme="css-variables"
      />
      <VisualAsset1
        data-aos="fade-up"
        data-aos-duration="2500"
        class="z-40 h-full p-8 overflow-hidden bg-white shadow rounded-xl outline-1 outline-base-200"
      />
    
    </div>
    <LogoCloud
      class="mt-12 grid grid-cols-2 lg:-mx-8 sm:grid-cols-3 md:grid-cols-6 lg:mt-24"
    />
  </Wrapper>
</section>
