<section  class="bg-white">
  <div class="mx-auto max-w-7xl text-center py-24 px-24">
    <div class="grid grid-cols-2 gap-12 md:grid-cols-3 lg:grid-cols-6 mx-auto">
      <div class="col-span-1 flex justify-center grayscale opacity-50">
        <svg xmlns="http://www.w3.org/2000/svg" width="148" height="48" viewBox="0 0 148 48" fill="none">
<path d="M0.239289 26.2057L15.7943 41.7607C7.85086 40.418 1.582 34.1491 0.239289 26.2057Z" fill="#5E6AD2"/>
<path d="M0 21.9828L20.0172 42C21.2077 41.9364 22.3691 41.7633 23.4914 41.4906L0.509432 18.5086C0.236716 19.631 0.0636084 20.7923 0 21.9828Z" fill="#5E6AD2"/>
<path d="M1.50586 15.5212L26.4789 40.4943C27.3885 40.1039 28.2615 39.6446 29.0913 39.123L2.87713 12.9088C2.3555 13.7386 1.89623 14.6116 1.50586 15.5212Z" fill="#5E6AD2"/>
<path d="M4.56891 10.6172C8.05582 6.56555 13.2214 4 18.9863 4C29.4873 4 38 12.5127 38 23.0137C38 28.7786 35.4345 33.9442 31.3828 37.4311L4.56891 10.6172Z" fill="#5E6AD2"/>
<path d="M57.8101 34.3999H71.7418V30.6061H62.4115V12.6363H57.8101V34.3999ZM74.7039 34.3999H79.2311V18.0772H74.7039V34.3999ZM76.978 16.1431C78.2959 16.1431 79.4329 15.1442 79.4329 13.8477C79.4329 12.5619 78.2959 11.563 76.978 11.563C75.671 11.563 74.534 12.5619 74.534 13.8477C74.534 15.1442 75.671 16.1431 76.978 16.1431ZM87.3845 24.9633C87.3949 22.8593 88.6489 21.6265 90.4767 21.6265C92.294 21.6265 93.3886 22.8167 93.3779 24.8146V34.3999H97.9049V24.0069C97.9049 20.2026 95.6733 17.8647 92.2727 17.8647C89.8498 17.8647 88.0963 19.0549 87.3632 20.9571H87.1718V18.0772H82.8573V34.3999H87.3845V24.9633ZM108.954 34.7188C113.003 34.7188 115.713 32.7527 116.35 29.7241L112.174 29.4478C111.717 30.6912 110.537 31.3394 109.039 31.3394C106.776 31.3394 105.341 29.841 105.341 27.4075V27.3969H116.457V26.1535C116.457 20.6064 113.099 17.8647 108.784 17.8647C103.981 17.8647 100.867 21.2759 100.867 26.313C100.867 31.4882 103.938 34.7188 108.954 34.7188ZM105.341 24.5914C105.426 22.7317 106.85 21.244 108.858 21.244C110.814 21.244 112.174 22.6467 112.195 24.5914H105.341ZM124.129 34.7082C126.541 34.7082 128.104 33.6561 128.901 32.1364H129.028V34.3999H133.321V23.3906C133.321 19.5012 129.995 17.8647 126.467 17.8647C122.45 17.8647 119.91 19.735 119.283 22.7105L123.47 23.0505C123.778 21.9666 124.745 21.1696 126.371 21.1696C127.933 21.1696 128.784 21.9347 128.794 23.3056C128.805 24.3789 127.678 24.5383 124.841 24.8146C121.611 25.1121 118.709 26.1961 118.709 29.841C118.709 33.0716 121.015 34.7082 124.129 34.7082ZM125.426 31.5838C124.033 31.5838 123.035 30.9356 123.035 29.6922C123.035 28.4171 124.087 27.79 125.681 27.5669C126.669 27.4288 128.284 27.195 128.826 26.8337V28.5659C128.826 30.2768 127.413 31.5838 125.426 31.5838ZM136.833 34.3999H141.361V25.1653C141.371 23.1674 142.816 21.7966 144.644 21.7966C145.26 21.7966 145.76 21.9666 146.185 22.1791L147.545 18.4385C146.95 18.0772 146.185 17.8434 145.314 17.8434C143.475 17.8434 141.987 18.9061 141.392 20.9252H141.222V18.0772H136.833V34.3999Z" fill="#040406"/>
</svg>
      </div>
      <div class="col-span-1 flex justify-center grayscale opacity-50">
        <svg
          width="127"
          height="48"
          viewBox="0 0 127 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M122.957 31.9803C123.033 32.8499 123.728 33.9567 124.934 33.9567H125.638C125.912 33.9567 126.136 33.7327 126.136 33.4592V17.9535H126.133C126.119 17.6922 125.903 17.483 125.638 17.483H123.454C123.19 17.483 122.974 17.6922 122.96 17.9535H122.957V19.2134C121.618 17.5635 119.508 16.8787 117.392 16.8787C112.581 16.8787 108.682 20.7811 108.682 25.5953C108.682 30.4099 112.581 34.3124 117.392 34.3124C119.508 34.3124 121.815 33.4911 122.957 31.9784V31.9803ZM117.4 31.2617C114.341 31.2617 111.861 28.725 111.861 25.5953C111.861 22.4663 114.341 19.9295 117.4 19.9295C120.46 19.9295 122.94 22.4663 122.94 25.5953C122.94 28.725 120.46 31.2617 117.4 31.2617Z"
            fill="#0D0E10"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M105.919 24.49C105.919 19.9672 103.068 16.916 98.522 16.916C96.3516 16.916 94.5725 18.172 93.9441 19.2509C93.8083 18.4073 93.3608 17.5205 91.973 17.5205H91.2656C90.992 17.5205 90.7686 17.7447 90.7686 18.0182V32.0191C90.7686 32.0196 90.7686 32.0206 90.7686 32.0213V33.5252H90.7713C90.7856 33.786 91.0016 33.9955 91.2658 33.9955H93.4505C93.4839 33.9955 93.5167 33.9915 93.5484 33.9854C93.5629 33.9825 93.5763 33.9768 93.5904 33.9729C93.6066 33.9679 93.6236 33.964 93.639 33.9576C93.6584 33.9496 93.6761 33.9388 93.6941 33.9287C93.703 33.9232 93.7123 33.9194 93.7208 33.9138C93.7426 33.8997 93.7626 33.8827 93.782 33.8655C93.7851 33.8623 93.7889 33.8601 93.7921 33.8572C93.8138 33.8362 93.8337 33.813 93.8512 33.7889C93.9058 33.7138 93.9392 33.6229 93.9447 33.5252H93.9475V24.3656C93.9475 21.9365 95.9154 19.9672 98.3428 19.9672C100.77 19.9672 102.738 21.9365 102.738 24.3656L102.74 32.0218L102.74 32.0191C102.74 32.0259 102.742 32.0329 102.742 32.0401V33.5252H102.744C102.759 33.786 102.975 33.9955 103.239 33.9955H105.424C105.457 33.9955 105.49 33.9915 105.521 33.9854C105.534 33.983 105.546 33.9777 105.559 33.9742C105.577 33.969 105.595 33.9646 105.612 33.9576C105.63 33.9502 105.647 33.9399 105.663 33.9304C105.674 33.9246 105.685 33.9204 105.694 33.9138C105.715 33.9005 105.733 33.8844 105.751 33.8687C105.756 33.8643 105.761 33.8612 105.765 33.8568C105.786 33.8368 105.805 33.8152 105.821 33.7926C105.823 33.7909 105.824 33.7896 105.825 33.7879C105.879 33.7134 105.912 33.6235 105.918 33.5265C105.918 33.5258 105.918 33.5252 105.918 33.5252H105.921L105.919 24.49Z"
            fill="#0D0E10"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M83.1678 31.9803C83.2442 32.8498 83.9398 33.9566 85.1448 33.9566H85.8498C86.1231 33.9566 86.3468 33.7327 86.3468 33.4591V17.9535H86.344C86.3298 17.6922 86.1136 17.483 85.8498 17.483H83.6651C83.4009 17.483 83.1851 17.6922 83.1703 17.9535H83.1678V19.2134C81.8292 17.5635 79.7189 16.8787 77.6026 16.8787C72.7924 16.8787 68.8931 20.7811 68.8931 25.5954C68.8931 30.4098 72.7924 34.3124 77.6026 34.3124C79.7189 34.3124 82.0252 33.4912 83.1676 31.9783L83.1678 31.9803ZM77.6111 31.2616C74.552 31.2616 72.0718 28.725 72.0718 25.5954C72.0718 22.4663 74.552 19.9295 77.6111 19.9295C80.6706 19.9295 83.1503 22.4663 83.1503 25.5954C83.1503 28.725 80.6706 31.2616 77.6111 31.2616Z"
            fill="#0D0E10"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M55.9739 29.7596C57.4323 30.7707 59.0242 31.2618 60.554 31.2618C62.0114 31.2618 63.5181 30.5057 63.5181 29.1896C63.5181 27.4325 60.235 27.1591 58.1723 26.4575C56.1091 25.7559 54.3322 24.3055 54.3322 21.9568C54.3322 18.3628 57.5321 16.8784 60.5187 16.8784C62.4109 16.8784 64.3633 17.5029 65.6291 18.3975C66.065 18.728 65.7996 19.1075 65.7996 19.1075L64.5913 20.8346C64.4555 21.0291 64.218 21.1972 63.8772 20.9866C63.5363 20.7762 62.3407 19.9293 60.5187 19.9293C58.6964 19.9293 57.5988 20.7715 57.5988 21.8153C57.5988 23.067 59.0254 23.4607 60.6963 23.8874C63.6082 24.6729 66.7847 25.6171 66.7847 29.1896C66.7847 32.3561 63.825 34.3131 60.554 34.3131C58.0752 34.3131 55.9648 33.6059 54.1948 32.306C53.826 31.9367 54.0835 31.5938 54.0835 31.5938L55.2859 29.8755C55.5306 29.5542 55.839 29.6663 55.9739 29.7596Z"
            fill="#0D0E10"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M47.5752 31.9803C47.6515 32.8498 48.3471 33.9566 49.552 33.9566H50.2571C50.5304 33.9566 50.7544 33.7327 50.7544 33.4591V17.9535H50.7513C50.737 17.6922 50.5212 17.483 50.2571 17.483H48.0725C47.8083 17.483 47.5925 17.6922 47.5778 17.9535H47.5752V19.2134C46.2367 17.5635 44.1263 16.8787 42.0101 16.8787C37.1998 16.8787 33.3003 20.7811 33.3003 25.5954C33.3003 30.4098 37.1998 34.3124 42.0101 34.3124C44.1263 34.3124 46.4326 33.4912 47.5748 31.9783L47.5752 31.9803ZM42.0186 31.2616C38.9593 31.2616 36.4792 28.725 36.4792 25.5954C36.4792 22.4663 38.9593 19.9295 42.0186 19.9295C45.0778 19.9295 47.5577 22.4663 47.5577 25.5954C47.5577 28.725 45.0778 31.2616 42.0186 31.2616Z"
            fill="#0D0E10"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M21.0895 26.1881C17.8525 26.1881 15.2282 28.8123 15.2282 32.0497C15.2282 35.2868 17.8525 37.911 21.0895 37.911C24.3267 37.911 26.9509 35.2868 26.9509 32.0497C26.9509 28.8123 24.3267 26.1881 21.0895 26.1881ZM5.86134 26.1886C2.62424 26.1886 0 28.8123 0 32.0497C0 35.2868 2.62424 37.911 5.86134 37.911C9.09858 37.911 11.723 35.2868 11.723 32.0497C11.723 28.8123 9.09858 26.1886 5.86134 26.1886ZM19.3367 18.8612C19.3367 22.0986 16.7126 24.7231 13.4755 24.7231C10.2382 24.7231 7.61414 22.0986 7.61414 18.8612C7.61414 15.6245 10.2382 13 13.4755 13C16.7126 13 19.3367 15.6245 19.3367 18.8612Z"
            fill="#F06A6A"></path>
        </svg>
      </div>
      <div class="col-span-1 flex justify-center grayscale opacity-50">
        <svg
          width="140"
          height="48"
          viewBox="0 0 140 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_201_8180)">
            <path
              d="M21.0727 3.0791C9.4747 3.0791 0.0722656 12.4813 0.0722656 24.0792C0.0722656 35.6777 9.4747 45.0791 21.0727 45.0791C32.6719 45.0791 42.0733 35.6777 42.0733 24.0792C42.0733 12.482 32.6719 3.0801 21.0724 3.0801L21.0727 3.0791ZM30.7033 33.3673C30.3271 33.9842 29.5196 34.1798 28.9028 33.8011C23.9721 30.7894 17.765 30.1073 10.455 31.7774C9.75055 31.9379 9.04839 31.4966 8.8879 30.7919C8.72665 30.0872 9.16625 29.3851 9.87243 29.2246C17.872 27.3969 24.7339 28.1839 30.2695 31.5668C30.8864 31.9454 31.082 32.7504 30.7033 33.3673ZM33.2737 27.6492C32.7997 28.4196 31.7916 28.6628 31.0218 28.1889C25.3769 24.7192 16.7722 23.7144 10.0954 25.7411C9.22945 26.0026 8.31489 25.5146 8.05208 24.6502C7.79127 23.7843 8.27953 22.8715 9.14394 22.6082C16.7707 20.2941 26.2521 21.415 32.7345 25.3985C33.5044 25.8725 33.7477 26.8806 33.2737 27.6495V27.6492ZM33.4944 21.6949C26.726 17.6748 15.5592 17.3051 9.09704 19.2664C8.05935 19.5811 6.96197 18.9953 6.6475 17.9576C6.33303 16.9194 6.91834 15.8228 7.95678 15.5073C15.3749 13.2554 27.7066 13.6905 35.4991 18.3165C36.4344 18.8704 36.7404 20.0759 36.1862 21.008C35.6345 21.9414 34.4257 22.2491 33.4954 21.6949H33.4944ZM57.2074 22.4653C53.5812 21.6006 52.9367 20.9937 52.9367 19.7186C52.9367 18.5139 54.0702 17.7031 55.7579 17.7031C57.3929 17.7031 59.0129 18.3187 60.7132 19.5861C60.7633 19.6245 60.8285 19.6398 60.8912 19.6298C60.9564 19.6203 61.0116 19.5854 61.0492 19.533L62.8196 17.0373C62.8924 16.9345 62.8723 16.7928 62.7745 16.7143C60.7508 15.0911 58.4738 14.3019 55.8106 14.3019C51.896 14.3019 49.1601 16.6514 49.1601 20.013C49.1601 23.6178 51.5199 24.8942 55.5974 25.8795C59.0656 26.6787 59.6524 27.3483 59.6524 28.545C59.6524 29.8716 58.4687 30.6966 56.5629 30.6966C54.4464 30.6966 52.7185 29.9819 50.7876 28.3118C50.74 28.2691 50.6748 28.2516 50.6146 28.2541C50.5494 28.2591 50.4917 28.2892 50.4516 28.3368L48.4655 30.6991C48.3827 30.7994 48.3927 30.9449 48.488 31.0301C50.7349 33.0363 53.4984 34.0945 56.4826 34.0945C60.7006 34.0945 63.4265 31.79 63.4265 28.2215C63.434 25.2105 61.631 23.5428 57.2149 22.4685L57.2074 22.4653ZM72.9709 18.8893C71.1428 18.8893 69.6431 19.6095 68.4043 21.0853V19.4242C68.4043 19.293 68.299 19.1862 68.1686 19.1862H64.9211C64.7907 19.1862 64.6854 19.293 64.6854 19.4242V37.8812C64.6854 38.0116 64.7907 38.1194 64.9211 38.1194H68.1686C68.299 38.1194 68.4043 38.0116 68.4043 37.8812V32.0558C69.6431 33.4425 71.1428 34.1221 72.9709 34.1221C76.3688 34.1221 79.8094 31.5066 79.8094 26.5064C79.8144 21.5053 76.3739 18.889 72.9734 18.889L72.9709 18.8893ZM76.0328 26.5064C76.0328 29.0515 74.4655 30.8295 72.2186 30.8295C69.9992 30.8295 68.3241 28.9713 68.3241 26.5064C68.3241 24.0414 69.9992 22.1836 72.2186 22.1836C74.4279 22.1834 76.0328 24.001 76.0328 26.5062V26.5064ZM88.6241 18.8893C84.2481 18.8893 80.82 22.2586 80.82 26.5609C80.82 30.817 84.2255 34.1497 88.5714 34.1497C92.9624 34.1497 96.4005 30.7919 96.4005 26.5064C96.4005 22.2356 92.985 18.8898 88.6241 18.8898V18.8893ZM88.6241 30.8546C86.2969 30.8546 84.5415 28.9838 84.5415 26.5052C84.5415 24.0153 86.2367 22.2085 88.5714 22.2085C90.9136 22.2085 92.679 24.0785 92.679 26.5596C92.679 29.049 90.9738 30.8546 88.6241 30.8546ZM105.744 19.1862H102.171V15.5334C102.171 15.4025 102.065 15.2957 101.935 15.2957H98.6875C98.5571 15.2957 98.4493 15.4025 98.4493 15.5334V19.1862H96.8895C96.7591 19.1862 96.6538 19.293 96.6538 19.4242V22.2145C96.6538 22.3454 96.7591 22.4525 96.8895 22.4525H98.4493V29.6734C98.4493 32.5899 99.9013 34.0695 102.768 34.0695C103.931 34.0695 104.897 33.8287 105.807 33.3121C105.882 33.272 105.927 33.1918 105.927 33.1065V30.4483C105.927 30.3681 105.885 30.2903 105.814 30.2477C105.744 30.2026 105.656 30.2001 105.584 30.2377C104.959 30.5511 104.355 30.6966 103.678 30.6966C102.637 30.6966 102.171 30.2226 102.171 29.1644V22.4537H105.744C105.875 22.4537 105.98 22.3469 105.98 22.2157V19.4257C105.985 19.2945 105.88 19.1877 105.747 19.1877L105.744 19.1862ZM118.193 19.2005V18.7518C118.193 17.432 118.699 16.8435 119.833 16.8435C120.51 16.8435 121.054 16.9779 121.663 17.181C121.738 17.2046 121.816 17.1928 121.876 17.1479C121.939 17.103 121.974 17.031 121.974 16.9548V14.2189C121.974 14.1143 121.909 14.0218 121.806 13.9909C121.164 13.7996 120.342 13.6032 119.108 13.6032C116.111 13.6032 114.524 15.2919 114.524 18.485V19.1721H112.964C112.834 19.1721 112.726 19.279 112.726 19.4099V22.2145C112.726 22.3454 112.834 22.4525 112.964 22.4525H114.524V33.588C114.524 33.7209 114.632 33.8262 114.762 33.8262H118.007C118.14 33.8262 118.245 33.7209 118.245 33.588V22.4532H121.277L125.921 33.588C125.395 34.7566 124.876 34.9898 124.168 34.9898C123.597 34.9898 122.992 34.8193 122.378 34.4807C122.32 34.4506 122.25 34.4456 122.19 34.4632C122.127 34.4858 122.075 34.5309 122.049 34.5911L120.949 37.006C120.896 37.1214 120.941 37.2543 121.051 37.3145C122.2 37.9364 123.236 38.2022 124.517 38.2022C126.914 38.2022 128.241 37.0837 129.407 34.0795L135.039 19.5255C135.07 19.4522 135.059 19.3695 135.014 19.3045C134.972 19.2401 134.899 19.2012 134.821 19.2012H131.441C131.338 19.2012 131.248 19.2657 131.215 19.3607L127.752 29.2496L123.96 19.3542C123.925 19.2622 123.837 19.2012 123.74 19.2012H118.193V19.2005ZM110.975 19.1862H107.728C107.597 19.1862 107.49 19.293 107.49 19.4242V33.588C107.49 33.7209 107.597 33.8262 107.728 33.8262H110.975C111.106 33.8262 111.214 33.7209 111.214 33.588V19.4252C111.214 19.294 111.108 19.1872 110.975 19.1872V19.1862ZM109.37 12.7366C108.084 12.7366 107.041 13.7778 107.041 15.064C107.041 16.3509 108.084 17.3934 109.37 17.3934C110.657 17.3934 111.698 16.3509 111.698 15.064C111.698 13.778 110.654 12.7366 109.37 12.7366ZM137.813 23.7404C136.529 23.7404 135.528 22.7085 135.528 21.4554C135.528 20.2023 136.542 19.1586 137.826 19.1586C139.109 19.1586 140.11 20.1903 140.11 21.4424C140.11 22.6955 139.097 23.7404 137.813 23.7404ZM137.826 19.3858C136.654 19.3858 135.769 20.3161 135.769 21.4554C135.769 22.5942 136.649 23.512 137.813 23.512C138.984 23.512 139.869 22.5824 139.869 21.4424C139.869 20.3036 138.989 19.3858 137.826 19.3858ZM138.332 21.6773L138.979 22.5821H138.432L137.851 21.7521H137.352V22.5821H136.895V20.1837H137.963C138.523 20.1837 138.889 20.4689 138.889 20.9488C138.891 21.3421 138.663 21.5823 138.335 21.6773H138.332ZM137.946 20.5953H137.352V21.3538H137.946C138.242 21.3538 138.42 21.2086 138.42 20.9742C138.42 20.7274 138.242 20.5953 137.946 20.5953Z"
              fill="#1ED760"></path>
          </g>
          <defs>
            <clipPath id="clip0_201_8180">
              <rect width="140" height="48" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="col-span-1 flex justify-center grayscale opacity-50">
        <svg
          width="136"
          height="48"
          viewBox="0 0 136 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_201_7977)">
            <path
              d="M98.4337 14.0516H95.7616V34.0575H106.602V31.5731H98.4337V14.0516ZM116.921 30.5489C116.248 31.2462 115.118 31.9436 113.597 31.9436C111.555 31.9436 110.73 30.9411 110.73 29.6118C110.73 27.6286 112.098 26.6697 115.031 26.6697C115.574 26.6697 116.465 26.7351 116.921 26.8223V30.5489ZM114.162 18.432C111.99 18.432 110.013 19.1947 108.47 20.4805L109.426 22.1368C110.512 21.5048 111.859 20.851 113.793 20.851C115.987 20.851 116.965 21.9842 116.965 23.8802V24.8609C116.53 24.7737 115.661 24.7083 115.096 24.7083C110.404 24.7083 108.036 26.3646 108.036 29.8079C108.036 32.9025 109.926 34.4498 112.794 34.4498C114.727 34.4498 116.574 33.5563 117.204 32.1179L117.682 34.0793H119.572V23.8366C119.55 20.5895 118.138 18.432 114.162 18.432ZM128.196 32.0526C127.197 32.0526 126.306 31.9218 125.633 31.6167V22.3765C126.545 21.6137 127.675 21.0689 129.109 21.0689C131.694 21.0689 132.693 22.8995 132.693 25.8634C132.715 30.0694 131.086 32.0526 128.196 32.0526ZM129.326 18.432C126.936 18.432 125.633 20.0664 125.633 20.0664V17.4731V14.0516H123.004V33.5781C124.308 34.1229 126.111 34.428 128.066 34.428C133.062 34.428 135.474 31.2244 135.474 25.689C135.474 21.3304 133.258 18.432 129.326 18.432ZM69.2795 16.2309C71.6474 16.2309 73.1899 17.0154 74.1892 17.8218L75.3406 15.8168C73.7764 14.4438 71.6474 13.7029 69.4098 13.7029C63.718 13.7029 59.7207 17.1898 59.7207 24.2071C59.7207 31.5731 64.0221 34.4498 68.9536 34.4498C71.4302 34.4498 73.5157 33.8614 74.8844 33.2948L74.8192 25.4275V22.9213H67.4981V25.4057H72.1688L72.234 31.377C71.6257 31.6821 70.5612 31.9218 69.1274 31.9218C65.1735 31.9218 62.5232 29.4156 62.5232 24.1635C62.5232 18.8242 65.2604 16.2309 69.2795 16.2309ZM88.1363 14.0516H85.5076V17.4077V29.0233C85.5076 32.2705 86.9197 34.428 90.8953 34.428C91.4384 34.428 91.9815 34.3844 92.5029 34.2755V31.9218C92.1336 31.9872 91.7208 32.009 91.2863 32.009C89.0922 32.009 88.1146 30.8757 88.1146 28.9798V20.9817H92.5029V18.8024H88.1146L88.1363 14.0516ZM78.86 34.0575H81.4886V18.8024H78.86V34.0575ZM78.86 16.6885H81.4886V14.0516H78.86V16.6885Z"
              fill="#888F9B"></path>
            <path
              d="M23.8099 46L32.5866 18.9331H15.0332L23.8099 46Z"
              fill="#D74B3A"></path>
            <path
              d="M23.8098 46L15.0331 18.9331H2.75879L23.8098 46Z"
              fill="#F36F3C"></path>
            <path
              d="M2.75921 18.9331L0.0871002 27.1491C-0.151869 27.89 0.108825 28.7181 0.738834 29.1758L23.7885 45.9782L2.75921 18.9331Z"
              fill="#F3993F"></path>
            <path
              d="M2.75879 18.9331H15.0548L9.75406 2.63195C9.49337 1.78203 8.29852 1.78203 8.03783 2.63195L2.75879 18.9331Z"
              fill="#D74B3A"></path>
            <path
              d="M23.8101 46L32.5867 18.9331H44.8828L23.8101 46Z"
              fill="#F36F3C"></path>
            <path
              d="M44.8613 18.9331L47.5334 27.1491C47.7724 27.89 47.5117 28.7181 46.8817 29.1758L23.832 45.9782L44.8613 18.9331Z"
              fill="#F3993F"></path>
            <path
              d="M44.861 18.9331H32.5649L37.844 2.63196C38.1264 1.80383 39.2995 1.80383 39.5602 2.63196L44.861 18.9331Z"
              fill="#D74B3A"></path>
          </g>
          <defs>
            <clipPath id="clip0_201_7977">
              <rect width="136" height="48" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="col-span-1 flex justify-center grayscale opacity-50">
        <svg
          width="143"
          height="48"
          viewBox="0 0 143 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M53.2126 12.7716H45.3374C44.7985 12.7716 44.3402 13.1631 44.2561 13.6951L41.071 33.8892C41.0077 34.2877 41.3163 34.6469 41.7205 34.6469H45.4802C46.0191 34.6469 46.4774 34.2554 46.5614 33.7223L47.4205 28.2756C47.5034 27.7425 47.9628 27.3509 48.5006 27.3509H50.9936C56.1812 27.3509 59.1751 24.8406 59.957 19.8661C60.3094 17.6897 59.972 15.9797 58.9529 14.7822C57.8336 13.4671 55.8484 12.7716 53.2126 12.7716ZM54.1211 20.1471C53.6905 22.9729 51.5314 22.9729 49.4437 22.9729H48.2553L49.089 17.6955C49.1385 17.3765 49.4149 17.1416 49.7373 17.1416H50.282C51.7041 17.1416 53.0456 17.1416 53.7388 17.9523C54.1522 18.4359 54.2789 19.1545 54.1211 20.1471Z"
            fill="#253B80"></path>
          <path
            d="M76.7532 20.0561H72.982C72.6607 20.0561 72.3832 20.291 72.3337 20.61L72.1667 21.6647L71.903 21.2824C71.0866 20.0975 69.266 19.7014 67.449 19.7014C63.2816 19.7014 59.7223 22.8577 59.0291 27.2853C58.6687 29.4939 59.1811 31.6058 60.4339 33.0786C61.5831 34.4327 63.2275 34.997 65.1839 34.997C68.5417 34.997 70.4037 32.8379 70.4037 32.8379L70.2356 33.8858C70.1723 34.2865 70.4809 34.6458 70.8828 34.6458H74.2797C74.8198 34.6458 75.2758 34.2543 75.361 33.7211L77.3992 20.8138C77.4637 20.4165 77.1562 20.0561 76.7532 20.0561ZM71.4965 27.3958C71.1326 29.5503 69.4226 30.9966 67.2417 30.9966C66.1466 30.9966 65.2714 30.6454 64.7095 29.9798C64.1522 29.3189 63.9403 28.3781 64.1176 27.3302C64.4573 25.1941 66.1961 23.7006 68.3437 23.7006C69.4146 23.7006 70.2851 24.0564 70.8586 24.7278C71.4332 25.406 71.6612 26.3526 71.4965 27.3958Z"
            fill="#253B80"></path>
          <path
            d="M96.8379 20.056H93.0482C92.6867 20.056 92.347 20.2357 92.142 20.5362L86.9153 28.2352L84.6997 20.8368C84.5604 20.3738 84.1332 20.056 83.6496 20.056H79.9256C79.473 20.056 79.1587 20.4982 79.3026 20.9243L83.4768 33.1741L79.5525 38.714C79.2439 39.1505 79.5548 39.7504 80.0879 39.7504H83.873C84.2322 39.7504 84.5685 39.5754 84.7723 39.2806L97.3768 21.0866C97.6785 20.6514 97.3687 20.056 96.8379 20.056Z"
            fill="#253B80"></path>
          <path
            d="M109.385 12.7716H101.508C100.971 12.7716 100.512 13.1631 100.428 13.6951L97.2431 33.8892C97.1798 34.2877 97.4884 34.6469 97.8903 34.6469H101.932C102.307 34.6469 102.629 34.3729 102.688 33.9998L103.591 28.2756C103.674 27.7425 104.134 27.3509 104.672 27.3509H107.163C112.352 27.3509 115.345 24.8406 116.128 19.8661C116.481 17.6897 116.142 15.9797 115.123 14.7822C114.005 13.4671 112.021 12.7716 109.385 12.7716ZM110.293 20.1471C109.864 22.9729 107.705 22.9729 105.616 22.9729H104.429L105.263 17.6955C105.313 17.3765 105.587 17.1416 105.911 17.1416H106.455C107.876 17.1416 109.219 17.1416 109.912 17.9523C110.325 18.4359 110.451 19.1545 110.293 20.1471Z"
            fill="#179BD7"></path>
          <path
            d="M132.924 20.0561H129.155C128.832 20.0561 128.556 20.291 128.508 20.61L128.341 21.6647L128.076 21.2824C127.26 20.0975 125.44 19.7014 123.623 19.7014C119.456 19.7014 115.898 22.8577 115.205 27.2853C114.845 29.4939 115.355 31.6058 116.608 33.0786C117.76 34.4327 119.402 34.997 121.358 34.997C124.716 34.997 126.578 32.8379 126.578 32.8379L126.41 33.8858C126.347 34.2865 126.655 34.6458 127.059 34.6458H130.455C130.993 34.6458 131.451 34.2543 131.535 33.7211L133.575 20.8138C133.637 20.4165 133.328 20.0561 132.924 20.0561ZM127.667 27.3958C127.306 29.5503 125.594 30.9966 123.413 30.9966C122.32 30.9966 121.442 30.6454 120.88 29.9798C120.323 29.3189 120.113 28.3781 120.288 27.3302C120.63 25.1941 122.367 23.7006 124.515 23.7006C125.585 23.7006 126.456 24.0564 127.029 24.7278C127.606 25.406 127.834 26.3526 127.667 27.3958Z"
            fill="#179BD7"></path>
          <path
            d="M137.37 13.3254L134.138 33.8892C134.074 34.2876 134.383 34.6469 134.785 34.6469H138.034C138.574 34.6469 139.033 34.2554 139.116 33.7222L142.303 13.5292C142.366 13.1308 142.058 12.7704 141.656 12.7704H138.017C137.696 12.7715 137.419 13.0064 137.37 13.3254Z"
            fill="#179BD7"></path>
          <path
            d="M8.36683 38.5713L8.96907 34.746L7.62756 34.7149H1.22168L5.67344 6.48781C5.68725 6.40259 5.73216 6.32314 5.7978 6.26671C5.86344 6.21029 5.9475 6.1792 6.03501 6.1792H16.8362C20.422 6.1792 22.8966 6.92538 24.1886 8.39817C24.7943 9.08908 25.1801 9.81108 25.3666 10.6056C25.5624 11.4393 25.5659 12.4354 25.3747 13.6502L25.3609 13.7389V14.5173L25.9666 14.8605C26.4767 15.1311 26.882 15.4408 27.1929 15.7955C27.7111 16.3862 28.0462 17.137 28.1879 18.0271C28.3341 18.9426 28.2857 20.0319 28.0462 21.2652C27.7699 22.6839 27.3231 23.9194 26.7197 24.9305C26.1646 25.862 25.4576 26.6347 24.6182 27.2335C23.8167 27.8024 22.8644 28.2342 21.7877 28.5105C20.7445 28.7823 19.555 28.9193 18.2503 28.9193H17.4097C16.8086 28.9193 16.2248 29.1358 15.7665 29.5239C15.307 29.92 15.003 30.4612 14.9097 31.0531L14.8464 31.3974L13.7824 38.1395L13.734 38.3871C13.7214 38.4654 13.6995 38.5045 13.6673 38.531C13.6385 38.5552 13.597 38.5713 13.5567 38.5713H8.36683Z"
            fill="#253B80"></path>
          <path
            d="M26.5401 13.8286C26.5079 14.0347 26.471 14.2455 26.4296 14.4619C25.0052 21.7752 20.132 24.3016 13.908 24.3016H10.739C9.9779 24.3016 9.3365 24.8544 9.2179 25.6052L7.59541 35.8951L7.13596 38.8119C7.0588 39.3047 7.4388 39.7492 7.93626 39.7492H13.5568C14.2224 39.7492 14.7878 39.2656 14.8926 38.6092L14.9478 38.3236L16.0061 31.608L16.074 31.2395C16.1777 30.5809 16.7442 30.0972 17.4098 30.0972H18.2504C23.6959 30.0972 27.9588 27.8863 29.2047 21.4885C29.7252 18.8158 29.4558 16.5842 28.0786 15.0147C27.6617 14.5414 27.1447 14.1487 26.5401 13.8286Z"
            fill="#179BD7"></path>
          <path
            d="M25.05 13.2345C24.8323 13.1712 24.6078 13.1136 24.3775 13.0618C24.146 13.0111 23.9088 12.9662 23.6647 12.9271C22.8103 12.7889 21.8741 12.7233 20.8711 12.7233H12.4052C12.1967 12.7233 11.9987 12.7705 11.8213 12.8557C11.431 13.0434 11.1408 13.413 11.0706 13.8656L9.26959 25.2725L9.21777 25.6053C9.33638 24.8545 9.97777 24.3018 10.7389 24.3018H13.9079C20.1318 24.3018 25.005 21.7742 26.4295 14.4621C26.4721 14.2456 26.5078 14.0348 26.54 13.8287C26.1796 13.6376 25.7892 13.4741 25.3689 13.3347C25.2653 13.3002 25.1582 13.2668 25.05 13.2345Z"
            fill="#222D65"></path>
          <path
            d="M11.0707 13.8655C11.1409 13.413 11.4311 13.0433 11.8214 12.8568C11.9999 12.7716 12.1968 12.7244 12.4053 12.7244H20.8712C21.8742 12.7244 22.8103 12.79 23.6648 12.9282C23.9089 12.9673 24.1461 13.0122 24.3776 13.0629C24.6079 13.1147 24.8324 13.1723 25.05 13.2356C25.1583 13.2679 25.2654 13.3013 25.3702 13.3347C25.7905 13.474 26.1808 13.6387 26.5413 13.8287C26.965 11.1261 26.5378 9.28594 25.0765 7.6197C23.4656 5.78533 20.558 5 16.8374 5H6.03623C5.27623 5 4.62793 5.55273 4.51047 6.30467L0.0115023 34.8219C-0.0771644 35.3862 0.358108 35.8952 0.926957 35.8952H7.59538L9.26968 25.2724L11.0707 13.8655Z"
            fill="#253B80"></path>
        </svg>
      </div>
      <div class="col-span-1 flex justify-center grayscale opacity-50">
        <svg
          width="211"
          height="48"
          viewBox="0 0 211 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_201_8118)">
            <path
              d="M49.363 17.5989H31.5634L30.9276 18.1075V33.9364H35.8225V27.9608L36.2674 27.5159H49.3628C52.6683 27.5159 54.1941 26.626 54.1941 24.3375V20.714C54.1943 18.4889 52.6685 17.5989 49.363 17.5989ZM49.363 23.4473C49.363 24.5279 48.6636 24.7186 47.0744 24.7186H36.3311L35.8225 24.2737V20.9045L36.2674 20.4596H47.0742C48.6 20.4596 49.3627 20.6503 49.3627 21.7309L49.363 23.4473ZM63.2211 20.5866L67.4803 26.8164L67.226 27.3886H57.8177L55.402 30.3764H69.3873L70.4044 30.9485L72.5658 33.9363H78.2235L65.8275 17.4082L63.2211 20.5866ZM119.353 30.7578V26.308L119.862 25.8629H129.334V23.0658H114.331V33.9363H136.453V31.1392H119.925L119.353 30.7578ZM114.331 17.5989H136.644V20.6503H114.331V17.5989ZM89.4754 20.5231H107.466C107.211 18.2346 105.749 17.5989 102.189 17.5989H89.2847C85.2163 17.5989 83.9449 18.3618 83.9449 21.4766V30.122C83.9449 33.1735 85.2163 33.9999 89.2847 33.9999H102.189C105.813 33.9999 107.211 33.3006 107.338 30.9485H89.4754L88.9668 30.4399V20.9045L89.4754 20.5231ZM18.8495 23.9559H5.81772L5.43628 23.511V20.7139L5.81772 20.3961H23.4265L23.6808 19.8239C23.1086 18.2982 21.5194 17.5355 18.6587 17.5355H6.3898C2.32139 17.5355 1.04997 18.2983 1.04997 21.4131V23.2566C1.04997 26.3081 2.32139 27.1345 6.3898 27.1345H19.4216L19.803 27.5158V30.4399L19.4852 30.885H0.668534C0.668534 30.885 0.223633 31.1392 0.223633 31.2028C0.541443 33.3642 2.00357 33.9363 5.49983 33.9363H18.8496C22.918 33.9363 24.253 33.1735 24.253 30.0586V27.8336C24.2529 24.7823 22.918 23.9559 18.8495 23.9559ZM150.693 17.5354H143.319L142.937 18.2982L151.074 24.2738C152.6 23.3837 154.316 22.4938 156.096 21.6038L150.693 17.5354ZM157.304 28.7236L164.488 33.9363H171.862L172.179 33.2369L161.5 25.4179C160.101 26.4985 158.639 27.5793 157.304 28.7236Z"
              fill="#005288"></path>
            <path
              d="M149.613 33.9364H142.938L142.365 33.0463C146.879 28.6601 167.094 9.97066 211.021 8C211.021 8 174.214 9.27132 149.613 33.9364Z"
              fill="#A7A9AC"></path>
          </g>
          <defs>
            <clipPath id="clip0_201_8118">
              <rect width="211" height="48" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        ‡
      </div>
    </div>
  </div>
</section>
