<section aria-labelledby="testimonial-four" id="testimonial-four">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24">
    <div x-data x-tabs class="mx-auto">
      <div x-tabs:panels class="rounded-b-md bg-white mt-6">
        <section x-transition.in.opacity x-tabs:panel>
          <div class="relative">
            <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
            <div class="mx-auto max-w-7xl">
              <div class="relative shadow-xl sm:overflow-hidden sm:rounded-2xl">
                <div class="absolute inset-0">
                  <img
                    class="h-full w-full object-cover"
                    src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="People working on laptops"
                  />
                  <div
                    class="absolute inset-0 bg-gradient-to-r from-tangaroa-900 via-tangaroa-600 to-tangaroa-400 mix-blend-multiply"
                  >
                  </div>
                </div>
                <div
                  class="relative px-4 py-16 sm:px-6 lg:px-8 grid grid-cols-1 lg:grid-cols-2 items-center"
                >
                  <div class="lg:max-w-xs">
                    <p class="text-white text-sm mt-5">
                      "Integrating with Supreme Elements was surprisingly easy.
                      Having Supreme handle localization, formatting, and
                      automatically displaying relevant local payment."
                    </p>
                    <div class="min-w-0 flex-1 mt-6">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      <p class="text-sm text-mercury-400">
                        Amrit Nagi, Founder of Tailwind Toolbox
                      </p>
                    </div>
                  </div>
                  <div class="lg:mx-auto">
                    <svg
                      width="143"
                      height="48"
                      viewBox="0 0 143 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M53.2126 12.7716H45.3374C44.7985 12.7716 44.3402 13.1631 44.2561 13.6951L41.071 33.8892C41.0077 34.2877 41.3163 34.6469 41.7205 34.6469H45.4802C46.0191 34.6469 46.4774 34.2554 46.5614 33.7223L47.4205 28.2756C47.5034 27.7425 47.9628 27.3509 48.5006 27.3509H50.9936C56.1812 27.3509 59.1751 24.8406 59.957 19.8661C60.3094 17.6897 59.972 15.9797 58.9529 14.7822C57.8336 13.4671 55.8484 12.7716 53.2126 12.7716ZM54.1211 20.1471C53.6905 22.9729 51.5314 22.9729 49.4437 22.9729H48.2553L49.089 17.6955C49.1385 17.3765 49.4149 17.1416 49.7373 17.1416H50.282C51.7041 17.1416 53.0456 17.1416 53.7388 17.9523C54.1522 18.4359 54.2789 19.1545 54.1211 20.1471Z"
                        class="fill-[#253B80]"></path>
                      <path
                        d="M76.7532 20.0561H72.982C72.6607 20.0561 72.3832 20.291 72.3337 20.61L72.1667 21.6647L71.903 21.2824C71.0866 20.0975 69.266 19.7014 67.449 19.7014C63.2816 19.7014 59.7223 22.8577 59.0291 27.2853C58.6687 29.4939 59.1811 31.6058 60.4339 33.0786C61.5831 34.4327 63.2275 34.997 65.1839 34.997C68.5417 34.997 70.4037 32.8379 70.4037 32.8379L70.2356 33.8858C70.1723 34.2865 70.4809 34.6458 70.8828 34.6458H74.2797C74.8198 34.6458 75.2758 34.2543 75.361 33.7211L77.3992 20.8138C77.4637 20.4165 77.1562 20.0561 76.7532 20.0561ZM71.4965 27.3958C71.1326 29.5503 69.4226 30.9966 67.2417 30.9966C66.1466 30.9966 65.2714 30.6454 64.7095 29.9798C64.1522 29.3189 63.9403 28.3781 64.1176 27.3302C64.4573 25.1941 66.1961 23.7006 68.3437 23.7006C69.4146 23.7006 70.2851 24.0564 70.8586 24.7278C71.4332 25.406 71.6612 26.3526 71.4965 27.3958Z"
                        class="fill-[#253B80]"></path>
                      <path
                        class="fill-[#253B80]"
                        d="M96.8379 20.056H93.0482C92.6867 20.056 92.347 20.2357 92.142 20.5362L86.9153 28.2352L84.6997 20.8368C84.5604 20.3738 84.1332 20.056 83.6496 20.056H79.9256C79.473 20.056 79.1587 20.4982 79.3026 20.9243L83.4768 33.1741L79.5525 38.714C79.2439 39.1505 79.5548 39.7504 80.0879 39.7504H83.873C84.2322 39.7504 84.5685 39.5754 84.7723 39.2806L97.3768 21.0866C97.6785 20.6514 97.3687 20.056 96.8379 20.056Z"
                      ></path>
                      <path
                        d="M109.385 12.7716H101.508C100.971 12.7716 100.512 13.1631 100.428 13.6951L97.2431 33.8892C97.1798 34.2877 97.4884 34.6469 97.8903 34.6469H101.932C102.307 34.6469 102.629 34.3729 102.688 33.9998L103.591 28.2756C103.674 27.7425 104.134 27.3509 104.672 27.3509H107.163C112.352 27.3509 115.345 24.8406 116.128 19.8661C116.481 17.6897 116.142 15.9797 115.123 14.7822C114.005 13.4671 112.021 12.7716 109.385 12.7716ZM110.293 20.1471C109.864 22.9729 107.705 22.9729 105.616 22.9729H104.429L105.263 17.6955C105.313 17.3765 105.587 17.1416 105.911 17.1416H106.455C107.876 17.1416 109.219 17.1416 109.912 17.9523C110.325 18.4359 110.451 19.1545 110.293 20.1471Z"
                        class="fill-[#179BD7]"></path>
                      <path
                        d="M132.924 20.0561H129.155C128.832 20.0561 128.556 20.291 128.508 20.61L128.341 21.6647L128.076 21.2824C127.26 20.0975 125.44 19.7014 123.623 19.7014C119.456 19.7014 115.898 22.8577 115.205 27.2853C114.845 29.4939 115.355 31.6058 116.608 33.0786C117.76 34.4327 119.402 34.997 121.358 34.997C124.716 34.997 126.578 32.8379 126.578 32.8379L126.41 33.8858C126.347 34.2865 126.655 34.6458 127.059 34.6458H130.455C130.993 34.6458 131.451 34.2543 131.535 33.7211L133.575 20.8138C133.637 20.4165 133.328 20.0561 132.924 20.0561ZM127.667 27.3958C127.306 29.5503 125.594 30.9966 123.413 30.9966C122.32 30.9966 121.442 30.6454 120.88 29.9798C120.323 29.3189 120.113 28.3781 120.288 27.3302C120.63 25.1941 122.367 23.7006 124.515 23.7006C125.585 23.7006 126.456 24.0564 127.029 24.7278C127.606 25.406 127.834 26.3526 127.667 27.3958Z"
                        class="fill-[#179BD7]"></path>
                      <path
                        d="M137.37 13.3254L134.138 33.8892C134.074 34.2876 134.383 34.6469 134.785 34.6469H138.034C138.574 34.6469 139.033 34.2554 139.116 33.7222L142.303 13.5292C142.366 13.1308 142.058 12.7704 141.656 12.7704H138.017C137.696 12.7715 137.419 13.0064 137.37 13.3254Z"
                        class="fill-[#179BD7]"></path>
                      <path
                        d="M8.36683 38.5713L8.96907 34.746L7.62756 34.7149H1.22168L5.67344 6.48781C5.68725 6.40259 5.73216 6.32314 5.7978 6.26671C5.86344 6.21029 5.9475 6.1792 6.03501 6.1792H16.8362C20.422 6.1792 22.8966 6.92538 24.1886 8.39817C24.7943 9.08908 25.1801 9.81108 25.3666 10.6056C25.5624 11.4393 25.5659 12.4354 25.3747 13.6502L25.3609 13.7389V14.5173L25.9666 14.8605C26.4767 15.1311 26.882 15.4408 27.1929 15.7955C27.7111 16.3862 28.0462 17.137 28.1879 18.0271C28.3341 18.9426 28.2857 20.0319 28.0462 21.2652C27.7699 22.6839 27.3231 23.9194 26.7197 24.9305C26.1646 25.862 25.4576 26.6347 24.6182 27.2335C23.8167 27.8024 22.8644 28.2342 21.7877 28.5105C20.7445 28.7823 19.555 28.9193 18.2503 28.9193H17.4097C16.8086 28.9193 16.2248 29.1358 15.7665 29.5239C15.307 29.92 15.003 30.4612 14.9097 31.0531L14.8464 31.3974L13.7824 38.1395L13.734 38.3871C13.7214 38.4654 13.6995 38.5045 13.6673 38.531C13.6385 38.5552 13.597 38.5713 13.5567 38.5713H8.36683Z"
                        class="fill-[#253B80]"></path>
                      <path
                        d="M26.5401 13.8286C26.5079 14.0347 26.471 14.2455 26.4296 14.4619C25.0052 21.7752 20.132 24.3016 13.908 24.3016H10.739C9.9779 24.3016 9.3365 24.8544 9.2179 25.6052L7.59541 35.8951L7.13596 38.8119C7.0588 39.3047 7.4388 39.7492 7.93626 39.7492H13.5568C14.2224 39.7492 14.7878 39.2656 14.8926 38.6092L14.9478 38.3236L16.0061 31.608L16.074 31.2395C16.1777 30.5809 16.7442 30.0972 17.4098 30.0972H18.2504C23.6959 30.0972 27.9588 27.8863 29.2047 21.4885C29.7252 18.8158 29.4558 16.5842 28.0786 15.0147C27.6617 14.5414 27.1447 14.1487 26.5401 13.8286Z"
                        class="fill-[#179BD7]"></path>
                      <path
                        d="M25.05 13.2345C24.8323 13.1712 24.6078 13.1136 24.3775 13.0618C24.146 13.0111 23.9088 12.9662 23.6647 12.9271C22.8103 12.7889 21.8741 12.7233 20.8711 12.7233H12.4052C12.1967 12.7233 11.9987 12.7705 11.8213 12.8557C11.431 13.0434 11.1408 13.413 11.0706 13.8656L9.26959 25.2725L9.21777 25.6053C9.33638 24.8545 9.97777 24.3018 10.7389 24.3018H13.9079C20.1318 24.3018 25.005 21.7742 26.4295 14.4621C26.4721 14.2456 26.5078 14.0348 26.54 13.8287C26.1796 13.6376 25.7892 13.4741 25.3689 13.3347C25.2653 13.3002 25.1582 13.2668 25.05 13.2345Z"
                        fill="#222D65"></path>
                      <path
                        d="M11.0707 13.8655C11.1409 13.413 11.4311 13.0433 11.8214 12.8568C11.9999 12.7716 12.1968 12.7244 12.4053 12.7244H20.8712C21.8742 12.7244 22.8103 12.79 23.6648 12.9282C23.9089 12.9673 24.1461 13.0122 24.3776 13.0629C24.6079 13.1147 24.8324 13.1723 25.05 13.2356C25.1583 13.2679 25.2654 13.3013 25.3702 13.3347C25.7905 13.474 26.1808 13.6387 26.5413 13.8287C26.965 11.1261 26.5378 9.28594 25.0765 7.6197C23.4656 5.78533 20.558 5 16.8374 5H6.03623C5.27623 5 4.62793 5.55273 4.51047 6.30467L0.0115023 34.8219C-0.0771644 35.3862 0.358108 35.8952 0.926957 35.8952H7.59538L9.26968 25.2724L11.0707 13.8655Z"
                        class="fill-[#253B80]"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section x-transition.in.opacity x-tabs:panel>
          <div class="relative">
            <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
            <div class="mx-auto max-w-7xl">
              <div class="relative shadow-xl sm:overflow-hidden sm:rounded-2xl">
                <div class="absolute inset-0">
                  <img
                    class="h-full w-full object-cover object-right"
                    src="https://images.unsplash.com/photo-1664574652984-5b5f769bef07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="People working on laptops"
                  />
                  <div
                    class="absolute inset-0 bg-gradient-to-r from-tangaroa-900 via-tangaroa-600 to-tangaroa-400 mix-blend-multiply"
                  >
                  </div>
                </div>
                <div
                  class="relative px-4 py-16 sm:px-6 lg:px-8 grid grid-cols-1 lg:grid-cols-2 items-center"
                >
                  <div class="lg:max-w-xs">
                    <p class="text-white text-sm mt-5">
                      "Integrating with Supreme Elements was surprisingly easy.
                      Having Supreme handle localization, formatting, and
                      automatically displaying relevant local payment."
                    </p>
                    <div class="min-w-0 flex-1 mt-6">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      <p class="text-sm text-mercury-400">
                        Amrit Nagi, Founder of Tailwind Toolbox
                      </p>
                    </div>
                  </div>
                  <div class="lg:mx-auto">
                    <svg
                      width="113"
                      height="48"
                      viewBox="0 0 113 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M48.2375 25.6501C48.2375 30.9734 44.0732 34.896 38.9625 34.896C33.8519 34.896 29.6875 30.9734 29.6875 25.6501C29.6875 20.2894 33.8519 16.4043 38.9625 16.4043C44.0732 16.4043 48.2375 20.2894 48.2375 25.6501ZM44.1774 25.6501C44.1774 22.3236 41.7638 20.0476 38.9625 20.0476C36.1613 20.0476 33.7477 22.3236 33.7477 25.6501C33.7477 28.9433 36.1613 31.2527 38.9625 31.2527C41.7638 31.2527 44.1774 28.9391 44.1774 25.6501Z"
                        fill="#EA4335"></path>
                      <path
                        d="M68.2468 25.6501C68.2468 30.9734 64.0824 34.896 58.9718 34.896C53.8612 34.896 49.6968 30.9734 49.6968 25.6501C49.6968 20.2936 53.8612 16.4043 58.9718 16.4043C64.0824 16.4043 68.2468 20.2894 68.2468 25.6501ZM64.1867 25.6501C64.1867 22.3236 61.7731 20.0476 58.9718 20.0476C56.1705 20.0476 53.7569 22.3236 53.7569 25.6501C53.7569 28.9433 56.1705 31.2527 58.9718 31.2527C61.7731 31.2527 64.1867 28.9391 64.1867 25.6501Z"
                        fill="#FBBC05"></path>
                      <path
                        d="M87.4224 16.9629V33.562C87.4224 40.3901 83.3956 43.1789 78.6351 43.1789C74.1539 43.1789 71.4569 40.1817 70.4398 37.7306L73.9747 36.2591C74.6041 37.7639 76.1465 39.5397 78.631 39.5397C81.6782 39.5397 83.5665 37.6597 83.5665 34.1206V32.7909H83.4248C82.516 33.9122 80.7652 34.8918 78.5559 34.8918C73.933 34.8918 69.6978 30.865 69.6978 25.6835C69.6978 20.4645 73.933 16.4043 78.5559 16.4043C80.7611 16.4043 82.5119 17.3839 83.4248 18.4719H83.5665V16.9671H87.4224V16.9629ZM83.8541 25.6835C83.8541 22.4278 81.6823 20.0476 78.9186 20.0476C76.1173 20.0476 73.7704 22.4278 73.7704 25.6835C73.7704 28.9058 76.1173 31.2527 78.9186 31.2527C81.6823 31.2527 83.8541 28.9058 83.8541 25.6835Z"
                        fill="#4285F4"></path>
                      <path
                        d="M93.779 7.23364V34.3292H89.8188V7.23364H93.779Z"
                        fill="#34A853"></path>
                      <path
                        d="M109.211 28.6932L112.363 30.7941C111.346 32.299 108.895 34.8918 104.659 34.8918C99.407 34.8918 95.4844 30.8317 95.4844 25.646C95.4844 20.1477 99.4403 16.4001 104.205 16.4001C109.003 16.4001 111.35 20.2185 112.117 22.282L112.538 23.3324L100.178 28.4514C101.124 30.3064 102.596 31.2527 104.659 31.2527C106.727 31.2527 108.161 30.2356 109.211 28.6932ZM99.5112 25.3667L107.773 21.936C107.319 20.7813 105.952 19.9768 104.343 19.9768C102.279 19.9768 99.407 21.7984 99.5112 25.3667Z"
                        fill="#EA4335"></path>
                      <path
                        d="M14.6975 23.2447V19.3221H27.9159C28.0451 20.0058 28.1118 20.8145 28.1118 21.6899C28.1118 24.6329 27.3073 28.272 24.7145 30.8648C22.1925 33.491 18.9702 34.8917 14.7016 34.8917C6.78972 34.8917 0.136719 28.4471 0.136719 20.5352C0.136719 12.6233 6.78972 6.17871 14.7016 6.17871C19.0786 6.17871 22.1967 7.89615 24.5394 10.1347L21.7715 12.9026C20.0916 11.3269 17.8155 10.1013 14.6975 10.1013C8.91985 10.1013 4.40114 14.7576 4.40114 20.5352C4.40114 26.3128 8.91985 30.9691 14.6975 30.9691C18.445 30.9691 20.5793 29.4642 21.9466 28.0969C23.0554 26.9881 23.7849 25.4041 24.0725 23.2406L14.6975 23.2447Z"
                        fill="#4285F4"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section x-transition.in.opacity x-tabs:panel>
          <div class="relative">
            <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
            <div class="mx-auto max-w-7xl">
              <div class="relative shadow-xl sm:overflow-hidden sm:rounded-2xl">
                <div class="absolute inset-0">
                  <img
                    class="h-full w-full object-cover object-right"
                    src="https://images.unsplash.com/photo-1508214751196-bcfd4ca60f91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt="People working on laptops"
                  />
                  <div
                    class="absolute inset-0 bg-gradient-to-r from-tangaroa-900 via-tangaroa-600 to-tangaroa-400 mix-blend-multiply"
                  >
                  </div>
                </div>
                <div
                  class="relative px-4 py-16 sm:px-6 lg:px-8 grid grid-cols-1 lg:grid-cols-2 items-center"
                >
                  <div class="lg:max-w-xs">
                    <p class="text-white text-sm mt-5">
                      "Integrating with Supreme Elements was surprisingly easy.
                      Having Supreme handle localization, formatting, and
                      automatically displaying relevant local payment."
                    </p>
                    <div class="min-w-0 flex-1 mt-6">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      <p class="text-sm text-mercury-400">
                        Amrit Nagi, Founder of Tailwind Toolbox
                      </p>
                    </div>
                  </div>
                  <div class="lg:mx-auto">
                    <svg
                      width="151"
                      height="48"
                      viewBox="0 0 151 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M11.6605 29.9924L4.96996 23.2712C3.83309 22.129 1.98988 22.129 0.852648 23.2712C-0.284216 24.4132 -0.284216 26.2648 0.852648 27.4072L9.60185 36.1967C10.7387 37.3387 12.5824 37.3387 13.7192 36.1967L21.9542 27.9235L17.8372 23.7873L11.6605 29.9924Z"
                        fill="#16B8A2"></path>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M36.8789 17.0678L24.0135 29.9922L11.1466 17.0663C10.0094 15.9239 8.16614 15.9239 7.02928 17.0663C5.89242 18.2084 5.89242 20.0601 7.02928 21.2025L21.9548 36.1965C23.0917 37.3386 24.935 37.3386 26.0721 36.1965L40.9963 21.204C42.133 20.0615 42.133 18.2099 40.9963 17.0678C39.859 15.9257 38.0157 15.9257 36.8789 17.0678Z"
                        fill="#FFB41F"></path>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M47.1726 27.4087L38.4248 36.1966C37.288 37.3387 35.4448 37.3387 34.3079 36.1966L13.2057 14.9976C12.0688 13.8555 12.0688 12.0038 13.2057 10.8617C14.3429 9.71927 16.1861 9.71927 17.3229 10.8617L36.3662 29.9923L43.0553 23.2725C44.1925 22.1305 46.0357 22.1305 47.1726 23.2725C48.3094 24.415 48.3094 26.2667 47.1726 27.4087Z"
                        fill="#F56358"></path>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M34.8198 10.863C33.6828 9.72089 31.8397 9.72089 30.7024 10.863L17.837 23.7875L21.9544 27.9237L34.8198 14.9992C35.9567 13.8567 35.9567 12.0051 34.8198 10.863Z"
                        fill="#16B8A2"></path>
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M63.0968 12.8829H59.5167V34.0096H72.6344V30.8191H63.0968V12.8829ZM80.3827 19.2353C82.5595 19.2353 84.0201 20.1263 84.8222 21.2186L84.9939 19.5227H88.0872V34.0096H84.9939L84.8222 32.3138C84.0201 33.406 82.5595 34.2971 80.3827 34.2971C76.4588 34.2971 73.7953 31.1065 73.7953 26.7662C73.7953 22.3971 76.4588 19.2353 80.3827 19.2353ZM81.1274 22.2821C78.8933 22.2821 77.2894 24.0355 77.2894 26.7662C77.2894 29.4969 78.8933 31.2503 81.1274 31.2503C82.8458 31.2503 83.877 30.3304 84.6503 29.0944V24.4379C83.877 23.202 82.8458 22.2821 81.1274 22.2821ZM96.7521 14.665H93.3152V19.5227H90.5942V22.4546H93.3152V28.8933C93.3152 32.4 95.4059 34.2971 98.6997 34.2971C100.132 34.2971 101.191 33.8947 101.908 33.4348L100.991 30.7329C100.561 30.9916 99.9312 31.1927 99.0148 31.1927C97.6686 31.1927 96.7521 30.3304 96.7521 28.8645V22.4546H101.106V19.5227H96.7521V14.665ZM108.596 14.665H105.159V19.5227H102.438V22.4546H105.159V28.8933C105.159 32.4 107.25 34.2971 110.544 34.2971C111.976 34.2971 113.035 33.8947 113.752 33.4348L112.835 30.7329C112.405 30.9916 111.775 31.1927 110.859 31.1927C109.513 31.1927 108.596 30.3304 108.596 28.8645V22.4546H112.95V19.5227H108.596V14.665ZM119.495 19.5227H116.058V34.0096H119.495V19.5227ZM117.776 12.7679C116.574 12.7679 115.657 13.6589 115.657 14.8949C115.657 16.1309 116.574 17.022 117.776 17.022C119.008 17.022 119.925 16.1309 119.925 14.8949C119.925 13.6589 119.008 12.7679 117.776 12.7679ZM129.879 19.2353C125.439 19.2353 122.489 22.3971 122.489 26.7662C122.489 31.1065 125.468 34.2971 129.907 34.2971C132.513 34.2971 134.489 33.1186 135.778 31.1065L133.315 29.1807C132.628 30.3304 131.511 31.279 129.936 31.279C127.387 31.279 125.983 29.2957 125.983 26.7662C125.983 24.2079 127.329 22.2534 129.907 22.2534C131.511 22.2534 132.57 23.1731 133.229 24.323L135.721 22.4259C134.432 20.4138 132.513 19.2353 129.879 19.2353ZM144.185 19.2353C148.625 19.2353 150.802 22.5696 150.802 26.6225V27.8297H140.605C140.692 30.1292 142.066 31.3939 144.472 31.3939C146.161 31.3939 147.393 30.6466 148.052 29.7269L150.429 31.6814C148.997 33.406 147.107 34.2971 144.444 34.2971C139.976 34.2971 137.111 31.1353 137.111 26.7949C137.111 22.4259 140.033 19.2353 144.185 19.2353ZM144.128 21.9947C142.095 21.9947 140.72 23.3457 140.605 25.3578H147.423C147.336 23.3744 146.191 21.9947 144.128 21.9947Z"
                        fill="#ffffff"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section x-transition.in.opacity x-tabs:panel>
          <div class="relative">
            <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
            <div class="mx-auto max-w-7xl">
              <div class="relative shadow-xl sm:overflow-hidden sm:rounded-2xl">
                <div class="absolute inset-0">
                  <img
                    class="h-full w-full object-cover object-top"
                    src="https://images.unsplash.com/photo-1495603889488-42d1d66e5523?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
                    alt="People working on laptops"
                  />
                  <div
                    class="absolute inset-0 bg-gradient-to-r from-tangaroa-900 via-tangaroa-600 to-tangaroa-400 mix-blend-multiply"
                  >
                  </div>
                </div>
                <div
                  class="relative px-4 py-16 sm:px-6 lg:px-8 grid grid-cols-1 lg:grid-cols-2 items-center"
                >
                  <div class="lg:max-w-xs">
                    <p class="text-white text-sm mt-5">
                      "Integrating with Supreme Elements was surprisingly easy.
                      Having Supreme handle localization, formatting, and
                      automatically displaying relevant local payment."
                    </p>
                    <div class="min-w-0 flex-1 mt-6">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      <p class="text-sm text-mercury-400">
                        Amrit Nagi, Founder of Tailwind Toolbox
                      </p>
                    </div>
                  </div>
                  <div class="lg:mx-auto">
                    <svg
                      width="154"
                      height="48"
                      viewBox="0 0 154 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_202_17083)">
                        <path
                          d="M61.7092 25.6624L59.0321 18.6559C58.9229 18.3694 58.5054 18.3694 58.3959 18.6559L55.7192 25.6628C55.7002 25.7126 55.6939 25.7662 55.7008 25.8188C55.7078 25.8715 55.7277 25.9218 55.7589 25.9654C55.7902 26.009 55.8319 26.0446 55.8803 26.0692C55.9288 26.0938 55.9827 26.1066 56.0375 26.1066H61.391C61.4457 26.1066 61.4996 26.0937 61.5481 26.0691C61.5966 26.0445 61.6382 26.0089 61.6695 25.9653C61.7007 25.9216 61.7206 25.8713 61.7275 25.8186C61.7344 25.7659 61.728 25.7124 61.709 25.6626L61.7092 25.6624ZM62.9459 29.6006H54.4828C54.4136 29.6006 54.346 29.6212 54.2891 29.6596C54.2323 29.698 54.1889 29.7523 54.1648 29.8154L52.4987 34.175C52.4746 34.238 52.4312 34.2923 52.3743 34.3307C52.3175 34.3691 52.2499 34.3897 52.1807 34.3897H48.5125C48.4571 34.3897 48.4025 34.3765 48.3535 34.3512C48.3045 34.326 48.2626 34.2895 48.2316 34.2449C48.2005 34.2003 48.1812 34.149 48.1753 34.0954C48.1694 34.0419 48.1771 33.9878 48.1977 33.9378L56.6429 13.5118C56.6682 13.4507 56.7117 13.3985 56.7678 13.3617C56.824 13.3249 56.8902 13.3053 56.9579 13.3053H60.4703C60.6087 13.3053 60.7333 13.387 60.7851 13.5118L69.2301 33.9376C69.2508 33.9876 69.2586 34.0418 69.2527 34.0953C69.2468 34.1489 69.2275 34.2003 69.1964 34.245C69.1654 34.2896 69.1235 34.3262 69.0744 34.3515C69.0254 34.3767 68.9708 34.3899 68.9153 34.3899H65.2478C65.1785 34.3899 65.1109 34.3693 65.0541 34.3309C64.9972 34.2924 64.9538 34.238 64.9298 34.175L63.2634 29.8154C63.2393 29.7523 63.1959 29.698 63.1391 29.6596C63.0822 29.6212 63.0147 29.6006 62.9454 29.6006H62.9459ZM70.9487 20.4739H74.0861C74.176 20.4739 74.2623 20.5086 74.3259 20.5703C74.3896 20.6321 74.4253 20.7159 74.4253 20.8032V34.0603C74.4253 34.1477 74.3896 34.2315 74.3259 34.2932C74.2623 34.355 74.176 34.3897 74.0861 34.3897H70.9487C70.8587 34.3897 70.7724 34.355 70.7088 34.2932C70.6452 34.2315 70.6095 34.1477 70.6095 34.0603V20.803C70.6095 20.7157 70.6452 20.6319 70.7088 20.5701C70.7724 20.5083 70.8587 20.4736 70.9487 20.4736V20.4739ZM85.8674 23.6986C85.8674 23.786 85.8317 23.8698 85.768 23.9316C85.7044 23.9933 85.6181 24.028 85.5282 24.028H85.4332C83.8819 24.028 82.7441 24.3895 82.0204 25.1123C81.2962 25.8352 80.9348 27.0302 80.9348 28.6968V34.0603C80.9348 34.1477 80.899 34.2315 80.8354 34.2932C80.7718 34.355 80.6855 34.3897 80.5955 34.3897H77.4889C77.3989 34.3897 77.3127 34.355 77.249 34.2932C77.1854 34.2315 77.1497 34.1477 77.1497 34.0603V20.803C77.1497 20.7157 77.1854 20.6319 77.249 20.5701C77.3127 20.5083 77.3989 20.4736 77.4889 20.4736H80.5643C80.6543 20.4736 80.7406 20.5083 80.8042 20.5701C80.8678 20.6319 80.9036 20.7157 80.9036 20.803V23.4253H80.9657C81.338 22.341 81.9274 21.5081 82.7344 20.9253C83.5406 20.3432 84.5335 20.0518 85.7123 20.0518H85.8674V23.6984V23.6986ZM94.4458 23.5761C94.3559 23.5761 94.2696 23.6108 94.2059 23.6726C94.1423 23.7344 94.1066 23.8181 94.1066 23.9055V29.4197C94.1066 29.982 94.2197 30.3836 94.4476 30.6245C94.6749 30.8654 95.068 30.986 95.6264 30.986H95.9387C96.0287 30.986 96.115 31.0207 96.1786 31.0824C96.2422 31.1442 96.278 31.228 96.278 31.3153V34.0902C96.278 34.1776 96.2422 34.2613 96.1786 34.3231C96.115 34.3849 96.0287 34.4196 95.9387 34.4196H94.6026C93.2169 34.4196 92.1518 34.0733 91.4073 33.3805C90.6625 32.6877 90.2903 31.659 90.2903 30.2932V23.9055C90.2903 23.8181 90.2545 23.7344 90.1909 23.6726C90.1273 23.6108 90.041 23.5761 89.951 23.5761H87.9927C87.9027 23.5761 87.8164 23.5414 87.7528 23.4797C87.6892 23.4179 87.6534 23.3341 87.6534 23.2467V20.803C87.6534 20.7157 87.6892 20.6319 87.7528 20.5701C87.8164 20.5083 87.9027 20.4736 87.9927 20.4736H89.9513C90.0412 20.4736 90.1275 20.4389 90.1911 20.3772C90.2548 20.3154 90.2905 20.2316 90.2905 20.1443V15.2307C90.2905 15.1433 90.3262 15.0595 90.3899 14.9977C90.4535 14.936 90.5398 14.9013 90.6298 14.9013H93.7671C93.8571 14.9013 93.9434 14.936 94.007 14.9977C94.0706 15.0595 94.1064 15.1433 94.1064 15.2307V20.1443C94.1064 20.2316 94.1421 20.3154 94.2057 20.3772C94.2693 20.4389 94.3556 20.4736 94.4456 20.4736H96.7143C96.8042 20.4736 96.8905 20.5083 96.9541 20.5701C97.0178 20.6319 97.0535 20.7157 97.0535 20.803V23.247C97.0535 23.3343 97.0178 23.4181 96.9541 23.4799C96.8905 23.5416 96.8042 23.5763 96.7143 23.5763H94.4458V23.5761ZM108.812 30.2631C109.526 29.5402 109.882 28.5964 109.882 27.4316C109.882 26.2673 109.526 25.3231 108.812 24.6003C108.098 23.8774 107.162 23.516 106.004 23.516C104.846 23.516 103.91 23.8774 103.197 24.6003C102.483 25.3231 102.126 26.2673 102.126 27.4316C102.126 28.5964 102.483 29.5402 103.197 30.2631C103.91 30.986 104.846 31.3474 106.004 31.3474C107.162 31.3474 108.098 30.986 108.812 30.2631ZM101.568 33.9679C100.513 33.3858 99.6804 32.5371 99.0707 31.4227C98.4602 30.3083 98.1554 28.9781 98.1554 27.4316C98.1554 25.8857 98.4602 24.555 99.0707 23.4406C99.6804 22.3263 100.513 21.4782 101.568 20.8955C102.623 20.3131 103.781 20.022 105.043 20.022C106.159 20.022 107.116 20.2328 107.913 20.6544C108.708 21.0759 109.344 21.6686 109.82 22.4317H109.882V20.803C109.882 20.7157 109.918 20.6319 109.982 20.5701C110.045 20.5083 110.132 20.4736 110.221 20.4736H113.328C113.418 20.4736 113.504 20.5083 113.568 20.5701C113.631 20.6319 113.667 20.7157 113.667 20.803V34.0601C113.667 34.1475 113.631 34.2312 113.568 34.293C113.504 34.3548 113.418 34.3895 113.328 34.3895H110.221C110.132 34.3895 110.045 34.3548 109.982 34.293C109.918 34.2312 109.882 34.1475 109.882 34.0601V32.4317H109.82C109.344 33.1952 108.708 33.7872 107.912 34.2088C107.116 34.6304 106.16 34.8412 105.043 34.8412C103.781 34.8412 102.623 34.55 101.568 33.9679ZM126.586 30.2631C127.3 29.5402 127.656 28.5964 127.656 27.4316C127.656 26.2673 127.3 25.3231 126.586 24.6003C125.873 23.8774 124.937 23.516 123.779 23.516C122.62 23.516 121.685 23.8774 120.971 24.6003C120.258 25.3231 119.901 26.2673 119.901 27.4316C119.901 28.5964 120.258 29.5402 120.971 30.2631C121.685 30.986 122.62 31.3474 123.779 31.3474C124.937 31.3474 125.873 30.986 126.586 30.2631ZM121.871 34.2088C121.074 33.7872 120.438 33.1952 119.963 32.4317H119.901V34.0601C119.901 34.1475 119.865 34.2312 119.801 34.293C119.738 34.3548 119.651 34.3895 119.561 34.3895H116.424C116.334 34.3895 116.248 34.3548 116.184 34.293C116.121 34.2312 116.085 34.1475 116.085 34.0601V13.6341C116.085 13.5467 116.121 13.4629 116.184 13.4012C116.248 13.3394 116.334 13.3047 116.424 13.3047H119.561C119.651 13.3047 119.738 13.3394 119.801 13.4012C119.865 13.4629 119.901 13.5467 119.901 13.6341V22.4314H119.963C120.438 21.6684 121.074 21.0759 121.871 20.6544C122.667 20.2325 123.624 20.0217 124.741 20.0217C126.002 20.0217 127.16 20.3129 128.215 20.8952C129.27 21.478 130.102 22.326 130.712 23.4402C131.322 24.5552 131.628 25.8859 131.628 27.4318C131.628 28.9783 131.322 30.3083 130.713 31.4229C130.102 32.5373 129.27 33.386 128.215 33.9679C127.161 34.5502 126.002 34.8416 124.741 34.8416C123.624 34.8416 122.667 34.6308 121.871 34.209L121.871 34.2088ZM136.914 34.3897H133.776C133.687 34.3897 133.6 34.355 133.537 34.2932C133.473 34.2315 133.437 34.1477 133.437 34.0603V13.6347C133.437 13.5474 133.473 13.4636 133.537 13.4018C133.6 13.34 133.687 13.3053 133.776 13.3053H136.914C137.004 13.3053 137.09 13.34 137.154 13.4018C137.217 13.4636 137.253 13.5474 137.253 13.6347V34.0603C137.253 34.1477 137.217 34.2315 137.154 34.2932C137.09 34.355 137.004 34.3897 136.914 34.3897ZM144.314 23.6969C143.794 24.0908 143.443 24.6595 143.261 25.4035C143.211 25.6086 143.376 25.8053 143.593 25.8053H149.564C149.771 25.8053 149.934 25.6253 149.9 25.4268C149.781 24.723 149.47 24.162 148.968 23.7421C148.379 23.2503 147.608 23.0043 146.657 23.0043C145.705 23.0043 144.924 23.2351 144.314 23.6969ZM151.962 21.9648C153.182 23.2604 153.792 25.0928 153.792 27.4619V27.8554C153.792 27.9427 153.756 28.0265 153.693 28.0883C153.629 28.15 153.543 28.1847 153.453 28.1847H143.478C143.428 28.1848 143.379 28.1955 143.334 28.2159C143.289 28.2363 143.249 28.266 143.217 28.3029C143.185 28.3398 143.162 28.3831 143.149 28.4296C143.136 28.4762 143.134 28.525 143.142 28.5725C143.302 29.4526 143.703 30.1518 144.345 30.6698C145.079 31.2626 146.005 31.5584 147.122 31.5584C148.564 31.5584 149.898 31.0121 151.126 29.9192C151.276 29.7857 151.513 29.814 151.629 29.9763L153.155 32.1019C153.203 32.168 153.224 32.2488 153.214 32.3291C153.204 32.4093 153.165 32.4834 153.103 32.5371C152.354 33.1733 151.522 33.7102 150.628 34.1337C149.635 34.6053 148.466 34.8416 147.122 34.8416C145.571 34.8416 144.216 34.5351 143.058 33.9229C141.899 33.3107 141 32.4473 140.359 31.3325C139.718 30.2181 139.397 28.928 139.397 27.4619C139.397 25.9964 139.707 24.7013 140.328 23.5763C140.948 22.4521 141.817 21.5786 142.934 20.9558C144.051 20.3338 145.354 20.0222 146.843 20.0222C149.034 20.0222 150.741 20.6699 151.962 21.9648ZM74.8351 15.5728C74.8351 16.8152 73.7977 17.8224 72.5178 17.8224C71.2377 17.8224 70.2003 16.8152 70.2003 15.5725C70.2003 14.3299 71.238 13.3227 72.5178 13.3227C73.7977 13.3227 74.8351 14.3299 74.8351 15.5725"
                          fill="#ffffff"></path>
                        <path
                          d="M17.8671 7.36428L2.94929 13.3574C2.11972 13.6907 2.12831 14.8349 2.96309 15.1562L17.9431 20.9238C19.2593 21.4306 20.725 21.4306 22.0412 20.9238L37.0214 15.156C37.856 14.8349 37.865 13.6909 37.035 13.3576L22.1176 7.36406C20.7567 6.81729 19.2278 6.81729 17.8669 7.36406"
                          fill="#FCB400"></path>
                        <path
                          d="M21.3213 24.0731V38.4814C21.3213 39.1665 22.033 39.636 22.6891 39.3835L39.3815 33.0929C39.5676 33.0212 39.7273 32.8969 39.8399 32.7361C39.9524 32.5752 40.0125 32.3853 40.0125 32.1908V17.7827C40.0125 17.0974 39.3007 16.6281 38.6446 16.8807L21.9523 23.1713C21.7662 23.243 21.6065 23.3673 21.494 23.5281C21.3815 23.689 21.3213 23.8789 21.3213 24.0733"
                          fill="#18BFFF"></path>
                        <path
                          d="M17.4233 24.8165L12.4694 27.1388L11.9664 27.3749L1.50897 32.2397C0.846308 32.5502 0 32.0812 0 31.3662V17.843C0 17.5843 0.136603 17.361 0.319797 17.193C0.394951 17.1204 0.480214 17.0583 0.573101 17.0086C0.822787 16.863 1.17922 16.8241 1.48228 16.9405L17.34 23.041C18.1461 23.3514 18.2094 24.448 17.4233 24.8167"
                          fill="#F82B60"></path>
                        <path
                          d="M17.4233 24.8165L12.4694 27.1388L0.319824 17.1928C0.394993 17.1202 0.480255 17.0582 0.573129 17.0086C0.822815 16.863 1.17925 16.8241 1.48231 16.9405L17.3401 23.041C18.1461 23.3514 18.2095 24.448 17.4233 24.8167"
                          fill="black"
                          fill-opacity="0.25"></path>
                      </g>
                      <defs>
                        <clipPath id="clip0_202_17083">
                          <rect width="154" height="48" fill="white"></rect>
                        </clipPath>
                      </defs>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div
        x-tabs:list
        class="grid grid-cols-1 lg:grid-cols-4 justify-between items-center mx-auto w-full mt-12 pt-6 border-t border-dashed border-mercury-200"
      >
        <button
          x-tabs:tab
          type="button"
          :class="$tab.isSelected ? ' opacity-100 focus:opacity-100' : 'opacity-50 grayscale'"
          class="inline-flex rounded-full text-tangaroa-500 font-semibold mx-auto"
        >
          <svg
            width="143"
            height="48"
            viewBox="0 0 143 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M53.2126 12.7716H45.3374C44.7985 12.7716 44.3402 13.1631 44.2561 13.6951L41.071 33.8892C41.0077 34.2877 41.3163 34.6469 41.7205 34.6469H45.4802C46.0191 34.6469 46.4774 34.2554 46.5614 33.7223L47.4205 28.2756C47.5034 27.7425 47.9628 27.3509 48.5006 27.3509H50.9936C56.1812 27.3509 59.1751 24.8406 59.957 19.8661C60.3094 17.6897 59.972 15.9797 58.9529 14.7822C57.8336 13.4671 55.8484 12.7716 53.2126 12.7716ZM54.1211 20.1471C53.6905 22.9729 51.5314 22.9729 49.4437 22.9729H48.2553L49.089 17.6955C49.1385 17.3765 49.4149 17.1416 49.7373 17.1416H50.282C51.7041 17.1416 53.0456 17.1416 53.7388 17.9523C54.1522 18.4359 54.2789 19.1545 54.1211 20.1471Z"
              class="fill-[#253B80]"></path>
            <path
              d="M76.7532 20.0561H72.982C72.6607 20.0561 72.3832 20.291 72.3337 20.61L72.1667 21.6647L71.903 21.2824C71.0866 20.0975 69.266 19.7014 67.449 19.7014C63.2816 19.7014 59.7223 22.8577 59.0291 27.2853C58.6687 29.4939 59.1811 31.6058 60.4339 33.0786C61.5831 34.4327 63.2275 34.997 65.1839 34.997C68.5417 34.997 70.4037 32.8379 70.4037 32.8379L70.2356 33.8858C70.1723 34.2865 70.4809 34.6458 70.8828 34.6458H74.2797C74.8198 34.6458 75.2758 34.2543 75.361 33.7211L77.3992 20.8138C77.4637 20.4165 77.1562 20.0561 76.7532 20.0561ZM71.4965 27.3958C71.1326 29.5503 69.4226 30.9966 67.2417 30.9966C66.1466 30.9966 65.2714 30.6454 64.7095 29.9798C64.1522 29.3189 63.9403 28.3781 64.1176 27.3302C64.4573 25.1941 66.1961 23.7006 68.3437 23.7006C69.4146 23.7006 70.2851 24.0564 70.8586 24.7278C71.4332 25.406 71.6612 26.3526 71.4965 27.3958Z"
              class="fill-[#253B80]"></path>
            <path
              class="fill-[#253B80]"
              d="M96.8379 20.056H93.0482C92.6867 20.056 92.347 20.2357 92.142 20.5362L86.9153 28.2352L84.6997 20.8368C84.5604 20.3738 84.1332 20.056 83.6496 20.056H79.9256C79.473 20.056 79.1587 20.4982 79.3026 20.9243L83.4768 33.1741L79.5525 38.714C79.2439 39.1505 79.5548 39.7504 80.0879 39.7504H83.873C84.2322 39.7504 84.5685 39.5754 84.7723 39.2806L97.3768 21.0866C97.6785 20.6514 97.3687 20.056 96.8379 20.056Z"
            ></path>
            <path
              d="M109.385 12.7716H101.508C100.971 12.7716 100.512 13.1631 100.428 13.6951L97.2431 33.8892C97.1798 34.2877 97.4884 34.6469 97.8903 34.6469H101.932C102.307 34.6469 102.629 34.3729 102.688 33.9998L103.591 28.2756C103.674 27.7425 104.134 27.3509 104.672 27.3509H107.163C112.352 27.3509 115.345 24.8406 116.128 19.8661C116.481 17.6897 116.142 15.9797 115.123 14.7822C114.005 13.4671 112.021 12.7716 109.385 12.7716ZM110.293 20.1471C109.864 22.9729 107.705 22.9729 105.616 22.9729H104.429L105.263 17.6955C105.313 17.3765 105.587 17.1416 105.911 17.1416H106.455C107.876 17.1416 109.219 17.1416 109.912 17.9523C110.325 18.4359 110.451 19.1545 110.293 20.1471Z"
              class="fill-[#179BD7]"></path>
            <path
              d="M132.924 20.0561H129.155C128.832 20.0561 128.556 20.291 128.508 20.61L128.341 21.6647L128.076 21.2824C127.26 20.0975 125.44 19.7014 123.623 19.7014C119.456 19.7014 115.898 22.8577 115.205 27.2853C114.845 29.4939 115.355 31.6058 116.608 33.0786C117.76 34.4327 119.402 34.997 121.358 34.997C124.716 34.997 126.578 32.8379 126.578 32.8379L126.41 33.8858C126.347 34.2865 126.655 34.6458 127.059 34.6458H130.455C130.993 34.6458 131.451 34.2543 131.535 33.7211L133.575 20.8138C133.637 20.4165 133.328 20.0561 132.924 20.0561ZM127.667 27.3958C127.306 29.5503 125.594 30.9966 123.413 30.9966C122.32 30.9966 121.442 30.6454 120.88 29.9798C120.323 29.3189 120.113 28.3781 120.288 27.3302C120.63 25.1941 122.367 23.7006 124.515 23.7006C125.585 23.7006 126.456 24.0564 127.029 24.7278C127.606 25.406 127.834 26.3526 127.667 27.3958Z"
              class="fill-[#179BD7]"></path>
            <path
              d="M137.37 13.3254L134.138 33.8892C134.074 34.2876 134.383 34.6469 134.785 34.6469H138.034C138.574 34.6469 139.033 34.2554 139.116 33.7222L142.303 13.5292C142.366 13.1308 142.058 12.7704 141.656 12.7704H138.017C137.696 12.7715 137.419 13.0064 137.37 13.3254Z"
              class="fill-[#179BD7]"></path>
            <path
              d="M8.36683 38.5713L8.96907 34.746L7.62756 34.7149H1.22168L5.67344 6.48781C5.68725 6.40259 5.73216 6.32314 5.7978 6.26671C5.86344 6.21029 5.9475 6.1792 6.03501 6.1792H16.8362C20.422 6.1792 22.8966 6.92538 24.1886 8.39817C24.7943 9.08908 25.1801 9.81108 25.3666 10.6056C25.5624 11.4393 25.5659 12.4354 25.3747 13.6502L25.3609 13.7389V14.5173L25.9666 14.8605C26.4767 15.1311 26.882 15.4408 27.1929 15.7955C27.7111 16.3862 28.0462 17.137 28.1879 18.0271C28.3341 18.9426 28.2857 20.0319 28.0462 21.2652C27.7699 22.6839 27.3231 23.9194 26.7197 24.9305C26.1646 25.862 25.4576 26.6347 24.6182 27.2335C23.8167 27.8024 22.8644 28.2342 21.7877 28.5105C20.7445 28.7823 19.555 28.9193 18.2503 28.9193H17.4097C16.8086 28.9193 16.2248 29.1358 15.7665 29.5239C15.307 29.92 15.003 30.4612 14.9097 31.0531L14.8464 31.3974L13.7824 38.1395L13.734 38.3871C13.7214 38.4654 13.6995 38.5045 13.6673 38.531C13.6385 38.5552 13.597 38.5713 13.5567 38.5713H8.36683Z"
              class="fill-[#253B80]"></path>
            <path
              d="M26.5401 13.8286C26.5079 14.0347 26.471 14.2455 26.4296 14.4619C25.0052 21.7752 20.132 24.3016 13.908 24.3016H10.739C9.9779 24.3016 9.3365 24.8544 9.2179 25.6052L7.59541 35.8951L7.13596 38.8119C7.0588 39.3047 7.4388 39.7492 7.93626 39.7492H13.5568C14.2224 39.7492 14.7878 39.2656 14.8926 38.6092L14.9478 38.3236L16.0061 31.608L16.074 31.2395C16.1777 30.5809 16.7442 30.0972 17.4098 30.0972H18.2504C23.6959 30.0972 27.9588 27.8863 29.2047 21.4885C29.7252 18.8158 29.4558 16.5842 28.0786 15.0147C27.6617 14.5414 27.1447 14.1487 26.5401 13.8286Z"
              class="fill-[#179BD7]"></path>
            <path
              d="M25.05 13.2345C24.8323 13.1712 24.6078 13.1136 24.3775 13.0618C24.146 13.0111 23.9088 12.9662 23.6647 12.9271C22.8103 12.7889 21.8741 12.7233 20.8711 12.7233H12.4052C12.1967 12.7233 11.9987 12.7705 11.8213 12.8557C11.431 13.0434 11.1408 13.413 11.0706 13.8656L9.26959 25.2725L9.21777 25.6053C9.33638 24.8545 9.97777 24.3018 10.7389 24.3018H13.9079C20.1318 24.3018 25.005 21.7742 26.4295 14.4621C26.4721 14.2456 26.5078 14.0348 26.54 13.8287C26.1796 13.6376 25.7892 13.4741 25.3689 13.3347C25.2653 13.3002 25.1582 13.2668 25.05 13.2345Z"
              fill="#222D65"></path>
            <path
              d="M11.0707 13.8655C11.1409 13.413 11.4311 13.0433 11.8214 12.8568C11.9999 12.7716 12.1968 12.7244 12.4053 12.7244H20.8712C21.8742 12.7244 22.8103 12.79 23.6648 12.9282C23.9089 12.9673 24.1461 13.0122 24.3776 13.0629C24.6079 13.1147 24.8324 13.1723 25.05 13.2356C25.1583 13.2679 25.2654 13.3013 25.3702 13.3347C25.7905 13.474 26.1808 13.6387 26.5413 13.8287C26.965 11.1261 26.5378 9.28594 25.0765 7.6197C23.4656 5.78533 20.558 5 16.8374 5H6.03623C5.27623 5 4.62793 5.55273 4.51047 6.30467L0.0115023 34.8219C-0.0771644 35.3862 0.358108 35.8952 0.926957 35.8952H7.59538L9.26968 25.2724L11.0707 13.8655Z"
              class="fill-[#253B80]"></path>
          </svg>
        </button>
        <button
          x-tabs:tab
          type="button"
          :class="$tab.isSelected ? ' opacity-100 focus:opacity-100' : 'opacity-50 grayscale'"
          class="inline-flex rounded-full text-tangaroa-500 font-semibold mx-auto px-3 py-2 text-xs"
        >
          <svg
            width="113"
            height="48"
            viewBox="0 0 113 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M48.2375 25.6501C48.2375 30.9734 44.0732 34.896 38.9625 34.896C33.8519 34.896 29.6875 30.9734 29.6875 25.6501C29.6875 20.2894 33.8519 16.4043 38.9625 16.4043C44.0732 16.4043 48.2375 20.2894 48.2375 25.6501ZM44.1774 25.6501C44.1774 22.3236 41.7638 20.0476 38.9625 20.0476C36.1613 20.0476 33.7477 22.3236 33.7477 25.6501C33.7477 28.9433 36.1613 31.2527 38.9625 31.2527C41.7638 31.2527 44.1774 28.9391 44.1774 25.6501Z"
              fill="#EA4335"></path>
            <path
              d="M68.2468 25.6501C68.2468 30.9734 64.0824 34.896 58.9718 34.896C53.8612 34.896 49.6968 30.9734 49.6968 25.6501C49.6968 20.2936 53.8612 16.4043 58.9718 16.4043C64.0824 16.4043 68.2468 20.2894 68.2468 25.6501ZM64.1867 25.6501C64.1867 22.3236 61.7731 20.0476 58.9718 20.0476C56.1705 20.0476 53.7569 22.3236 53.7569 25.6501C53.7569 28.9433 56.1705 31.2527 58.9718 31.2527C61.7731 31.2527 64.1867 28.9391 64.1867 25.6501Z"
              fill="#FBBC05"></path>
            <path
              d="M87.4224 16.9629V33.562C87.4224 40.3901 83.3956 43.1789 78.6351 43.1789C74.1539 43.1789 71.4569 40.1817 70.4398 37.7306L73.9747 36.2591C74.6041 37.7639 76.1465 39.5397 78.631 39.5397C81.6782 39.5397 83.5665 37.6597 83.5665 34.1206V32.7909H83.4248C82.516 33.9122 80.7652 34.8918 78.5559 34.8918C73.933 34.8918 69.6978 30.865 69.6978 25.6835C69.6978 20.4645 73.933 16.4043 78.5559 16.4043C80.7611 16.4043 82.5119 17.3839 83.4248 18.4719H83.5665V16.9671H87.4224V16.9629ZM83.8541 25.6835C83.8541 22.4278 81.6823 20.0476 78.9186 20.0476C76.1173 20.0476 73.7704 22.4278 73.7704 25.6835C73.7704 28.9058 76.1173 31.2527 78.9186 31.2527C81.6823 31.2527 83.8541 28.9058 83.8541 25.6835Z"
              fill="#4285F4"></path>
            <path
              d="M93.779 7.23364V34.3292H89.8188V7.23364H93.779Z"
              fill="#34A853"></path>
            <path
              d="M109.211 28.6932L112.363 30.7941C111.346 32.299 108.895 34.8918 104.659 34.8918C99.407 34.8918 95.4844 30.8317 95.4844 25.646C95.4844 20.1477 99.4403 16.4001 104.205 16.4001C109.003 16.4001 111.35 20.2185 112.117 22.282L112.538 23.3324L100.178 28.4514C101.124 30.3064 102.596 31.2527 104.659 31.2527C106.727 31.2527 108.161 30.2356 109.211 28.6932ZM99.5112 25.3667L107.773 21.936C107.319 20.7813 105.952 19.9768 104.343 19.9768C102.279 19.9768 99.407 21.7984 99.5112 25.3667Z"
              fill="#EA4335"></path>
            <path
              d="M14.6975 23.2447V19.3221H27.9159C28.0451 20.0058 28.1118 20.8145 28.1118 21.6899C28.1118 24.6329 27.3073 28.272 24.7145 30.8648C22.1925 33.491 18.9702 34.8917 14.7016 34.8917C6.78972 34.8917 0.136719 28.4471 0.136719 20.5352C0.136719 12.6233 6.78972 6.17871 14.7016 6.17871C19.0786 6.17871 22.1967 7.89615 24.5394 10.1347L21.7715 12.9026C20.0916 11.3269 17.8155 10.1013 14.6975 10.1013C8.91985 10.1013 4.40114 14.7576 4.40114 20.5352C4.40114 26.3128 8.91985 30.9691 14.6975 30.9691C18.445 30.9691 20.5793 29.4642 21.9466 28.0969C23.0554 26.9881 23.7849 25.4041 24.0725 23.2406L14.6975 23.2447Z"
              fill="#4285F4"></path>
          </svg>
        </button>
        <button
          x-tabs:tab
          type="button"
          :class="$tab.isSelected ? ' opacity-100 focus:opacity-100' : 'opacity-50 grayscale'"
          class="inline-flex rounded-full text-tangaroa-500 font-semibold mx-auto px-3 py-2 text-xs"
        >
          <svg
            width="151"
            height="48"
            viewBox="0 0 151 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M11.6605 29.9924L4.96996 23.2712C3.83309 22.129 1.98988 22.129 0.852648 23.2712C-0.284216 24.4132 -0.284216 26.2648 0.852648 27.4072L9.60185 36.1967C10.7387 37.3387 12.5824 37.3387 13.7192 36.1967L21.9542 27.9235L17.8372 23.7873L11.6605 29.9924Z"
              fill="#16B8A2"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M36.8789 17.0678L24.0135 29.9922L11.1466 17.0663C10.0094 15.9239 8.16614 15.9239 7.02928 17.0663C5.89242 18.2084 5.89242 20.0601 7.02928 21.2025L21.9548 36.1965C23.0917 37.3386 24.935 37.3386 26.0721 36.1965L40.9963 21.204C42.133 20.0615 42.133 18.2099 40.9963 17.0678C39.859 15.9257 38.0157 15.9257 36.8789 17.0678Z"
              fill="#FFB41F"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M47.1726 27.4087L38.4248 36.1966C37.288 37.3387 35.4448 37.3387 34.3079 36.1966L13.2057 14.9976C12.0688 13.8555 12.0688 12.0038 13.2057 10.8617C14.3429 9.71927 16.1861 9.71927 17.3229 10.8617L36.3662 29.9923L43.0553 23.2725C44.1925 22.1305 46.0357 22.1305 47.1726 23.2725C48.3094 24.415 48.3094 26.2667 47.1726 27.4087Z"
              fill="#F56358"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M34.8198 10.863C33.6828 9.72089 31.8397 9.72089 30.7024 10.863L17.837 23.7875L21.9544 27.9237L34.8198 14.9992C35.9567 13.8567 35.9567 12.0051 34.8198 10.863Z"
              fill="#16B8A2"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M63.0968 12.8829H59.5167V34.0096H72.6344V30.8191H63.0968V12.8829ZM80.3827 19.2353C82.5595 19.2353 84.0201 20.1263 84.8222 21.2186L84.9939 19.5227H88.0872V34.0096H84.9939L84.8222 32.3138C84.0201 33.406 82.5595 34.2971 80.3827 34.2971C76.4588 34.2971 73.7953 31.1065 73.7953 26.7662C73.7953 22.3971 76.4588 19.2353 80.3827 19.2353ZM81.1274 22.2821C78.8933 22.2821 77.2894 24.0355 77.2894 26.7662C77.2894 29.4969 78.8933 31.2503 81.1274 31.2503C82.8458 31.2503 83.877 30.3304 84.6503 29.0944V24.4379C83.877 23.202 82.8458 22.2821 81.1274 22.2821ZM96.7521 14.665H93.3152V19.5227H90.5942V22.4546H93.3152V28.8933C93.3152 32.4 95.4059 34.2971 98.6997 34.2971C100.132 34.2971 101.191 33.8947 101.908 33.4348L100.991 30.7329C100.561 30.9916 99.9312 31.1927 99.0148 31.1927C97.6686 31.1927 96.7521 30.3304 96.7521 28.8645V22.4546H101.106V19.5227H96.7521V14.665ZM108.596 14.665H105.159V19.5227H102.438V22.4546H105.159V28.8933C105.159 32.4 107.25 34.2971 110.544 34.2971C111.976 34.2971 113.035 33.8947 113.752 33.4348L112.835 30.7329C112.405 30.9916 111.775 31.1927 110.859 31.1927C109.513 31.1927 108.596 30.3304 108.596 28.8645V22.4546H112.95V19.5227H108.596V14.665ZM119.495 19.5227H116.058V34.0096H119.495V19.5227ZM117.776 12.7679C116.574 12.7679 115.657 13.6589 115.657 14.8949C115.657 16.1309 116.574 17.022 117.776 17.022C119.008 17.022 119.925 16.1309 119.925 14.8949C119.925 13.6589 119.008 12.7679 117.776 12.7679ZM129.879 19.2353C125.439 19.2353 122.489 22.3971 122.489 26.7662C122.489 31.1065 125.468 34.2971 129.907 34.2971C132.513 34.2971 134.489 33.1186 135.778 31.1065L133.315 29.1807C132.628 30.3304 131.511 31.279 129.936 31.279C127.387 31.279 125.983 29.2957 125.983 26.7662C125.983 24.2079 127.329 22.2534 129.907 22.2534C131.511 22.2534 132.57 23.1731 133.229 24.323L135.721 22.4259C134.432 20.4138 132.513 19.2353 129.879 19.2353ZM144.185 19.2353C148.625 19.2353 150.802 22.5696 150.802 26.6225V27.8297H140.605C140.692 30.1292 142.066 31.3939 144.472 31.3939C146.161 31.3939 147.393 30.6466 148.052 29.7269L150.429 31.6814C148.997 33.406 147.107 34.2971 144.444 34.2971C139.976 34.2971 137.111 31.1353 137.111 26.7949C137.111 22.4259 140.033 19.2353 144.185 19.2353ZM144.128 21.9947C142.095 21.9947 140.72 23.3457 140.605 25.3578H147.423C147.336 23.3744 146.191 21.9947 144.128 21.9947Z"
              fill="#0E0E29"></path>
          </svg>
        </button>
        <button
          x-tabs:tab
          type="button"
          :class="$tab.isSelected ? ' opacity-100 focus:opacity-100' : 'opacity-50 grayscale'"
          class="inline-flex rounded-full text-tangaroa-500 font-semibold mx-auto px-3 py-2 text-xs"
        >
          <svg
            width="154"
            height="48"
            viewBox="0 0 154 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_202_17083)">
              <path
                d="M61.7092 25.6624L59.0321 18.6559C58.9229 18.3694 58.5054 18.3694 58.3959 18.6559L55.7192 25.6628C55.7002 25.7126 55.6939 25.7662 55.7008 25.8188C55.7078 25.8715 55.7277 25.9218 55.7589 25.9654C55.7902 26.009 55.8319 26.0446 55.8803 26.0692C55.9288 26.0938 55.9827 26.1066 56.0375 26.1066H61.391C61.4457 26.1066 61.4996 26.0937 61.5481 26.0691C61.5966 26.0445 61.6382 26.0089 61.6695 25.9653C61.7007 25.9216 61.7206 25.8713 61.7275 25.8186C61.7344 25.7659 61.728 25.7124 61.709 25.6626L61.7092 25.6624ZM62.9459 29.6006H54.4828C54.4136 29.6006 54.346 29.6212 54.2891 29.6596C54.2323 29.698 54.1889 29.7523 54.1648 29.8154L52.4987 34.175C52.4746 34.238 52.4312 34.2923 52.3743 34.3307C52.3175 34.3691 52.2499 34.3897 52.1807 34.3897H48.5125C48.4571 34.3897 48.4025 34.3765 48.3535 34.3512C48.3045 34.326 48.2626 34.2895 48.2316 34.2449C48.2005 34.2003 48.1812 34.149 48.1753 34.0954C48.1694 34.0419 48.1771 33.9878 48.1977 33.9378L56.6429 13.5118C56.6682 13.4507 56.7117 13.3985 56.7678 13.3617C56.824 13.3249 56.8902 13.3053 56.9579 13.3053H60.4703C60.6087 13.3053 60.7333 13.387 60.7851 13.5118L69.2301 33.9376C69.2508 33.9876 69.2586 34.0418 69.2527 34.0953C69.2468 34.1489 69.2275 34.2003 69.1964 34.245C69.1654 34.2896 69.1235 34.3262 69.0744 34.3515C69.0254 34.3767 68.9708 34.3899 68.9153 34.3899H65.2478C65.1785 34.3899 65.1109 34.3693 65.0541 34.3309C64.9972 34.2924 64.9538 34.238 64.9298 34.175L63.2634 29.8154C63.2393 29.7523 63.1959 29.698 63.1391 29.6596C63.0822 29.6212 63.0147 29.6006 62.9454 29.6006H62.9459ZM70.9487 20.4739H74.0861C74.176 20.4739 74.2623 20.5086 74.3259 20.5703C74.3896 20.6321 74.4253 20.7159 74.4253 20.8032V34.0603C74.4253 34.1477 74.3896 34.2315 74.3259 34.2932C74.2623 34.355 74.176 34.3897 74.0861 34.3897H70.9487C70.8587 34.3897 70.7724 34.355 70.7088 34.2932C70.6452 34.2315 70.6095 34.1477 70.6095 34.0603V20.803C70.6095 20.7157 70.6452 20.6319 70.7088 20.5701C70.7724 20.5083 70.8587 20.4736 70.9487 20.4736V20.4739ZM85.8674 23.6986C85.8674 23.786 85.8317 23.8698 85.768 23.9316C85.7044 23.9933 85.6181 24.028 85.5282 24.028H85.4332C83.8819 24.028 82.7441 24.3895 82.0204 25.1123C81.2962 25.8352 80.9348 27.0302 80.9348 28.6968V34.0603C80.9348 34.1477 80.899 34.2315 80.8354 34.2932C80.7718 34.355 80.6855 34.3897 80.5955 34.3897H77.4889C77.3989 34.3897 77.3127 34.355 77.249 34.2932C77.1854 34.2315 77.1497 34.1477 77.1497 34.0603V20.803C77.1497 20.7157 77.1854 20.6319 77.249 20.5701C77.3127 20.5083 77.3989 20.4736 77.4889 20.4736H80.5643C80.6543 20.4736 80.7406 20.5083 80.8042 20.5701C80.8678 20.6319 80.9036 20.7157 80.9036 20.803V23.4253H80.9657C81.338 22.341 81.9274 21.5081 82.7344 20.9253C83.5406 20.3432 84.5335 20.0518 85.7123 20.0518H85.8674V23.6984V23.6986ZM94.4458 23.5761C94.3559 23.5761 94.2696 23.6108 94.2059 23.6726C94.1423 23.7344 94.1066 23.8181 94.1066 23.9055V29.4197C94.1066 29.982 94.2197 30.3836 94.4476 30.6245C94.6749 30.8654 95.068 30.986 95.6264 30.986H95.9387C96.0287 30.986 96.115 31.0207 96.1786 31.0824C96.2422 31.1442 96.278 31.228 96.278 31.3153V34.0902C96.278 34.1776 96.2422 34.2613 96.1786 34.3231C96.115 34.3849 96.0287 34.4196 95.9387 34.4196H94.6026C93.2169 34.4196 92.1518 34.0733 91.4073 33.3805C90.6625 32.6877 90.2903 31.659 90.2903 30.2932V23.9055C90.2903 23.8181 90.2545 23.7344 90.1909 23.6726C90.1273 23.6108 90.041 23.5761 89.951 23.5761H87.9927C87.9027 23.5761 87.8164 23.5414 87.7528 23.4797C87.6892 23.4179 87.6534 23.3341 87.6534 23.2467V20.803C87.6534 20.7157 87.6892 20.6319 87.7528 20.5701C87.8164 20.5083 87.9027 20.4736 87.9927 20.4736H89.9513C90.0412 20.4736 90.1275 20.4389 90.1911 20.3772C90.2548 20.3154 90.2905 20.2316 90.2905 20.1443V15.2307C90.2905 15.1433 90.3262 15.0595 90.3899 14.9977C90.4535 14.936 90.5398 14.9013 90.6298 14.9013H93.7671C93.8571 14.9013 93.9434 14.936 94.007 14.9977C94.0706 15.0595 94.1064 15.1433 94.1064 15.2307V20.1443C94.1064 20.2316 94.1421 20.3154 94.2057 20.3772C94.2693 20.4389 94.3556 20.4736 94.4456 20.4736H96.7143C96.8042 20.4736 96.8905 20.5083 96.9541 20.5701C97.0178 20.6319 97.0535 20.7157 97.0535 20.803V23.247C97.0535 23.3343 97.0178 23.4181 96.9541 23.4799C96.8905 23.5416 96.8042 23.5763 96.7143 23.5763H94.4458V23.5761ZM108.812 30.2631C109.526 29.5402 109.882 28.5964 109.882 27.4316C109.882 26.2673 109.526 25.3231 108.812 24.6003C108.098 23.8774 107.162 23.516 106.004 23.516C104.846 23.516 103.91 23.8774 103.197 24.6003C102.483 25.3231 102.126 26.2673 102.126 27.4316C102.126 28.5964 102.483 29.5402 103.197 30.2631C103.91 30.986 104.846 31.3474 106.004 31.3474C107.162 31.3474 108.098 30.986 108.812 30.2631ZM101.568 33.9679C100.513 33.3858 99.6804 32.5371 99.0707 31.4227C98.4602 30.3083 98.1554 28.9781 98.1554 27.4316C98.1554 25.8857 98.4602 24.555 99.0707 23.4406C99.6804 22.3263 100.513 21.4782 101.568 20.8955C102.623 20.3131 103.781 20.022 105.043 20.022C106.159 20.022 107.116 20.2328 107.913 20.6544C108.708 21.0759 109.344 21.6686 109.82 22.4317H109.882V20.803C109.882 20.7157 109.918 20.6319 109.982 20.5701C110.045 20.5083 110.132 20.4736 110.221 20.4736H113.328C113.418 20.4736 113.504 20.5083 113.568 20.5701C113.631 20.6319 113.667 20.7157 113.667 20.803V34.0601C113.667 34.1475 113.631 34.2312 113.568 34.293C113.504 34.3548 113.418 34.3895 113.328 34.3895H110.221C110.132 34.3895 110.045 34.3548 109.982 34.293C109.918 34.2312 109.882 34.1475 109.882 34.0601V32.4317H109.82C109.344 33.1952 108.708 33.7872 107.912 34.2088C107.116 34.6304 106.16 34.8412 105.043 34.8412C103.781 34.8412 102.623 34.55 101.568 33.9679ZM126.586 30.2631C127.3 29.5402 127.656 28.5964 127.656 27.4316C127.656 26.2673 127.3 25.3231 126.586 24.6003C125.873 23.8774 124.937 23.516 123.779 23.516C122.62 23.516 121.685 23.8774 120.971 24.6003C120.258 25.3231 119.901 26.2673 119.901 27.4316C119.901 28.5964 120.258 29.5402 120.971 30.2631C121.685 30.986 122.62 31.3474 123.779 31.3474C124.937 31.3474 125.873 30.986 126.586 30.2631ZM121.871 34.2088C121.074 33.7872 120.438 33.1952 119.963 32.4317H119.901V34.0601C119.901 34.1475 119.865 34.2312 119.801 34.293C119.738 34.3548 119.651 34.3895 119.561 34.3895H116.424C116.334 34.3895 116.248 34.3548 116.184 34.293C116.121 34.2312 116.085 34.1475 116.085 34.0601V13.6341C116.085 13.5467 116.121 13.4629 116.184 13.4012C116.248 13.3394 116.334 13.3047 116.424 13.3047H119.561C119.651 13.3047 119.738 13.3394 119.801 13.4012C119.865 13.4629 119.901 13.5467 119.901 13.6341V22.4314H119.963C120.438 21.6684 121.074 21.0759 121.871 20.6544C122.667 20.2325 123.624 20.0217 124.741 20.0217C126.002 20.0217 127.16 20.3129 128.215 20.8952C129.27 21.478 130.102 22.326 130.712 23.4402C131.322 24.5552 131.628 25.8859 131.628 27.4318C131.628 28.9783 131.322 30.3083 130.713 31.4229C130.102 32.5373 129.27 33.386 128.215 33.9679C127.161 34.5502 126.002 34.8416 124.741 34.8416C123.624 34.8416 122.667 34.6308 121.871 34.209L121.871 34.2088ZM136.914 34.3897H133.776C133.687 34.3897 133.6 34.355 133.537 34.2932C133.473 34.2315 133.437 34.1477 133.437 34.0603V13.6347C133.437 13.5474 133.473 13.4636 133.537 13.4018C133.6 13.34 133.687 13.3053 133.776 13.3053H136.914C137.004 13.3053 137.09 13.34 137.154 13.4018C137.217 13.4636 137.253 13.5474 137.253 13.6347V34.0603C137.253 34.1477 137.217 34.2315 137.154 34.2932C137.09 34.355 137.004 34.3897 136.914 34.3897ZM144.314 23.6969C143.794 24.0908 143.443 24.6595 143.261 25.4035C143.211 25.6086 143.376 25.8053 143.593 25.8053H149.564C149.771 25.8053 149.934 25.6253 149.9 25.4268C149.781 24.723 149.47 24.162 148.968 23.7421C148.379 23.2503 147.608 23.0043 146.657 23.0043C145.705 23.0043 144.924 23.2351 144.314 23.6969ZM151.962 21.9648C153.182 23.2604 153.792 25.0928 153.792 27.4619V27.8554C153.792 27.9427 153.756 28.0265 153.693 28.0883C153.629 28.15 153.543 28.1847 153.453 28.1847H143.478C143.428 28.1848 143.379 28.1955 143.334 28.2159C143.289 28.2363 143.249 28.266 143.217 28.3029C143.185 28.3398 143.162 28.3831 143.149 28.4296C143.136 28.4762 143.134 28.525 143.142 28.5725C143.302 29.4526 143.703 30.1518 144.345 30.6698C145.079 31.2626 146.005 31.5584 147.122 31.5584C148.564 31.5584 149.898 31.0121 151.126 29.9192C151.276 29.7857 151.513 29.814 151.629 29.9763L153.155 32.1019C153.203 32.168 153.224 32.2488 153.214 32.3291C153.204 32.4093 153.165 32.4834 153.103 32.5371C152.354 33.1733 151.522 33.7102 150.628 34.1337C149.635 34.6053 148.466 34.8416 147.122 34.8416C145.571 34.8416 144.216 34.5351 143.058 33.9229C141.899 33.3107 141 32.4473 140.359 31.3325C139.718 30.2181 139.397 28.928 139.397 27.4619C139.397 25.9964 139.707 24.7013 140.328 23.5763C140.948 22.4521 141.817 21.5786 142.934 20.9558C144.051 20.3338 145.354 20.0222 146.843 20.0222C149.034 20.0222 150.741 20.6699 151.962 21.9648ZM74.8351 15.5728C74.8351 16.8152 73.7977 17.8224 72.5178 17.8224C71.2377 17.8224 70.2003 16.8152 70.2003 15.5725C70.2003 14.3299 71.238 13.3227 72.5178 13.3227C73.7977 13.3227 74.8351 14.3299 74.8351 15.5725"
                fill="#333"></path>
              <path
                d="M17.8671 7.36428L2.94929 13.3574C2.11972 13.6907 2.12831 14.8349 2.96309 15.1562L17.9431 20.9238C19.2593 21.4306 20.725 21.4306 22.0412 20.9238L37.0214 15.156C37.856 14.8349 37.865 13.6909 37.035 13.3576L22.1176 7.36406C20.7567 6.81729 19.2278 6.81729 17.8669 7.36406"
                fill="#FCB400"></path>
              <path
                d="M21.3213 24.0731V38.4814C21.3213 39.1665 22.033 39.636 22.6891 39.3835L39.3815 33.0929C39.5676 33.0212 39.7273 32.8969 39.8399 32.7361C39.9524 32.5752 40.0125 32.3853 40.0125 32.1908V17.7827C40.0125 17.0974 39.3007 16.6281 38.6446 16.8807L21.9523 23.1713C21.7662 23.243 21.6065 23.3673 21.494 23.5281C21.3815 23.689 21.3213 23.8789 21.3213 24.0733"
                fill="#18BFFF"></path>
              <path
                d="M17.4233 24.8165L12.4694 27.1388L11.9664 27.3749L1.50897 32.2397C0.846308 32.5502 0 32.0812 0 31.3662V17.843C0 17.5843 0.136603 17.361 0.319797 17.193C0.394951 17.1204 0.480214 17.0583 0.573101 17.0086C0.822787 16.863 1.17922 16.8241 1.48228 16.9405L17.34 23.041C18.1461 23.3514 18.2094 24.448 17.4233 24.8167"
                fill="#F82B60"></path>
              <path
                d="M17.4233 24.8165L12.4694 27.1388L0.319824 17.1928C0.394993 17.1202 0.480255 17.0582 0.573129 17.0086C0.822815 16.863 1.17925 16.8241 1.48231 16.9405L17.3401 23.041C18.1461 23.3514 18.2095 24.448 17.4233 24.8167"
                fill="black"
                fill-opacity="0.25"></path>
            </g>
            <defs>
              <clipPath id="clip0_202_17083">
                <rect width="154" height="48" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
