<section aria-labelledby="testimonial-seven" id="testimonial-seven">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24">
    <div class="lg:text-center">
      <span class="text-tangaroa-400 uppercase text-xs font-semibold"
        >Testimonial seven</span
      >
      <h2
        class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl lg:mx-auto"
      >
        Spaziobianco is loved all aorund
        <span class="lg:block"> and consistent UI Kit for your SaaS.</span>
      </h2>
    </div>
    <div class="grid grid-cols-1 gap-3 lg:grid-cols-3 mt-12">
      <div
        class="inline-block p-4 mx-auto text-left align-bottom transition-all transform bg-white rounded-3xl sm:align-middle sm:p-8"
      >
        <div class="flex w-full mb-4">
          <div class="w-12 h-12 overflow-hidden">
            <div>
              <img
                class="inline-block h-9 w-9 object-cover rounded-full"
                src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt=""
              />
            </div>
          </div>
          <div class="flex-grow pl-3">
            <h6
              class="text-sm font-medium text-tangaroa-500 group-hover:text-blue-600"
            >
              Sam Samuel
            </h6>
            <p class="text-sm text-tangaroa-400">@Twitter_Handle</p>
          </div>
        </div>
        <div class="w-full mb-4">
          <p class="text-sm text-tangaroa-400">
            "When building projects, going from an idea to a working version is
            crucial. Unwrapped's components have been extremely useful for
            quickly mocking up a landing page"
          </p>
        </div>
        <div class="w-full text">
          <a href="#" class="text-xs text-right text-orange hover:text-black"
            >Founder of Great company</a
          >
        </div>
      </div>
      <div
        class="inline-block p-4 mx-auto text-left align-bottom transition-all transform bg-white rounded-3xl sm:align-middle sm:p-8"
      >
        <div class="flex w-full mb-4">
          <div class="w-12 h-12 overflow-hidden">
            <div>
              <img
                class="inline-block h-9 w-9 object-cover rounded-full"
                src="https://images.unsplash.com/photo-1624224971170-2f84fed5eb5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1999&q=80"
                alt=""
              />
            </div>
          </div>
          <div class="flex-grow pl-3">
            <h6
              class="text-sm font-medium text-tangaroa-500 group-hover:text-blue-600"
            >
              Tom Thomas
            </h6>
            <p class="text-sm text-tangaroa-400">@Twitter_Handle</p>
          </div>
        </div>
        <div class="w-full mb-4">
          <p class="text-sm text-tangaroa-400">
            "When building projects, going from an idea to a working version is
            crucial. Unwrapped's components have been extremely useful for
            quickly mocking up a landing page"
          </p>
        </div>
        <div class="w-full text">
          <a href="#" class="text-xs text-right text-orange hover:text-black"
            >Founder of Great company</a
          >
        </div>
      </div>
      <div
        class="inline-block p-4 mx-auto text-left align-bottom transition-all transform bg-white rounded-3xl sm:align-middle sm:p-8"
      >
        <div class="flex w-full mb-4">
          <div>
            <img
              class="inline-block h-9 w-9 object-cover rounded-full"
              src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
              alt=""
            />
          </div>
          <div class="flex-grow pl-3">
            <h6
              class="text-sm font-medium text-tangaroa-500 group-hover:text-blue-600"
            >
              Ana Lana
            </h6>
            <p class="text-sm text-tangaroa-400">@Twitter_Handle</p>
          </div>
        </div>
        <div class="w-full mb-4">
          <p class="text-sm text-tangaroa-400">
            "When building projects, going from an idea to a working version is
            crucial. Unwrapped's components have been extremely useful for
            quickly mocking up a landing page"
          </p>
        </div>
        <div class="w-full text">
          <a href="#" class="text-xs text-right text-orange hover:text-black"
            >Founder of Great company</a
          >
        </div>
      </div>
      <!--
                          Add more testimonials here
                        -->
    </div>
  </div>
</section>
