<section class="isolate overflow-hidden bg-white px-6 lg:px-8">
  <div class="mx-auto max-w-2xl py-24 sm:py-32 lg:max-w-4xl">
    <figure
      class="grid grid-cols-1 items-center gap-x-6 gap-y-8 lg:gap-x-10 bg-slate-50 p-4 rounded-3xl">
      <div class="relative col-span-2 lg:col-start-1 lg:row-start-2">
        <h2
          class="inline-flex items-center text-blue-600"
          id="table-of-contents-title">
          <span class="font-mono text-sm" aria-hidden="true">06</span><span
            class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
            class="ml-3 text-base font-medium tracking-tight">Testimonial</span
          >
        </h2>
        <blockquote
          class="text-xl font-semibold leading-8 mt-12 text-gray-900 sm:text-2xl sm:leading-9 tracking-tighter">
          <p>
            “Really dope! These are ACTUAL good themes. Unlike some other sites
            that just rush shit out the door”
          </p>
        </blockquote>
      </div>
      <div class="col-end-1 w-16 lg:row-span-4 lg:w-72">
        <img
          class="rounded-xl bg-indigo-50 lg:rounded-2xl"
          src="https://d33wubrfki0l68.cloudfront.net/a9b47005f687e2c861919cfbc8ea9fa363242d6a/33407/images/reviews/chris.jpg"
          alt=""
        />
      </div>
      <figcaption class="text-base lg:col-start-1 lg:row-start-3">
        <div class="font-semibold text-gray-900">David Gutierrez</div>
        <div class="mt-1 text-gray-500">Creator of @nocodegallery</div>
      </figcaption>
    </figure>
  </div>
</section>
