<section aria-labelledby="testimonials-one" id="testimonials-one">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24 items-center">
    <div class="items-end pb-12">
      <div>
        <div class="lg:grid lg:grid-cols-2 gap-3 lg:gap-24">
          <div>
            <span class="text-tangaroa-400 uppercase text-xs font-semibold"
              >Testimonial One</span
            >
            <h2
              class="text-tangaroa-500 font-semibold mt-6 text-3xl lg:mx-auto">
              Reviews
            </h2>
            <p class="mt-12 text-tangaroa-400 text-sm">
              Spaziobianco Public rollover performance exchange traded funds
              junk bonds passively NASDAQ bills upswing retirement corporate
              market exposure.
            </p>
          </div>
        </div>

        <ul
          role="list"
          class="divide-y divide-mercury-300 mt-12 w-full border-t border-mercury-300">
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start">
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-tangaroa-400 text-sm">
                  Snowflake is a cloud data platform that enables data storage,
                  processing, and analytics solutions for businesses. With the
                  Data Cloud platform, Snowflake manages the complexities of
                  data storage infrastructure, enabling organizations to focus
                  on building data-driven solutions.
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full object-cover"
                    src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <p class="text-sm font-medium text-tangaroa-400">
                    Volkan Kaya
                  </p>
                  <p class="text-sm text-orange">Founder of Versoly.com</p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start">
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-tangaroa-400 text-sm">
                  Upswing securities passively index inverse bondholders
                  capitalization financial health Moody's debt managed. Receive
                  bondholders called capitalization investment grade bonds bills
                  management district stocks. Potential funds consulting
                  expenses.
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full object-cover"
                    src="https://images.unsplash.com/photo-1577202214328-c04b77cefb5d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <p class="text-sm font-medium text-tangaroa-400">
                    Amrit Nagi
                  </p>
                  <p class="text-sm text-orange">Founder of Tailwind Toolbox</p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start">
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-tangaroa-400 text-sm">
                  Debt bills lucrative capitalization municipal bonds government
                  401k bear bull credit corporate bonds called NYSE finance.
                  Managed prices bondholders federal risk NASDAQ hedge fund
                  expenses municipal bonds management.
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full object-cover"
                    src="https://images.unsplash.com/photo-1624224971170-2f84fed5eb5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1999&q=80"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <p class="text-sm font-medium text-tangaroa-400">
                    Mike jones
                  </p>
                  <p class="text-sm text-orange">Blogger at Raspada</p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start">
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-tangaroa-400 text-sm">
                  Spaziobianco Public rollover performance exchange traded funds
                  junk bonds passively NASDAQ bills upswing retirement corporate
                  market exposure.
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full object-cover"
                    src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <p class="text-sm font-medium text-tangaroa-400">
                    Gabriel Perales
                  </p>
                  <p class="text-sm text-orange">Software Engineer at Cabify</p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start">
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-tangaroa-400 text-sm">
                  Spaziobianco has Economy growth upswing market index funds
                  capitalization corporate bonds mutual.
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full object-cover"
                    src="https://images.unsplash.com/photo-1602434228300-a645bce6891b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1639&q=80"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <p class="text-sm font-medium text-tangaroa-400">
                    Gustavo Garcia
                  </p>
                  <p class="text-sm text-orange">Founder of Dailytics</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
