<section aria-labelledby="testimonial-five" id="testimonial-five">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24">
    <div class="max-w-2xl mx-auto">
      <div class="text-center">
        <span class="text-tangaroa-400 uppercase text-xs font-semibold"
          >Testimonial Five</span
        >
        <img
          class="h-10 w-10 lg:w-16 lg:h-16 rounded-full object-cover mx-auto mt-6"
          src="https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
          alt=""
        />

        <p class="pt-10 pb-4 text-sm text-tangaroa-400">
          "When building projects, going from an idea to a working version is
          crucial. Unwrapped's components have been extremely useful for quickly
          mocking up a landing page. I can now focus more time on my app, and
          less time worrying about the first impression my project will get. I
          really love the attention to detail in these blocks. Michael has
          always impressed me with the quality he produces."
        </p>
        <div class="justify-center mt-4 space-y-4">
          <p class="text-sm font-medium text-tangaroa-500">
            Sam Samuel, Lead marketing specialist - <span
              class="font-light text-orange">Company</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
