<section
  class="border-b border-tangaroa-200"
  id="reviews-header"
  aria-labelledby="reviews-header"
>
  <div class="mx-auto max-w-7xl px-8 sm:px-6 lg:px-24 my-12 lg:mt-36 relative">
    <div class="items-end pb-12">
      <div>
        <div class="lg:grid lg:grid-cols-2 gap-3 lg:gap-24 mt-12">
          <div>
            <h2
              class="text-3xl lg:text-4xl leading-none text-tangaroa-500 font-display"
            >
              Reviews
            </h2>
            <p class="mt-12 text-lg font-light text-tangaroa-600">
              I work primarily with startups who are at the beginning of their
              journey and busy individuals.
            </p>
          </div>
        </div>

        <ul
          role="list"
          class="divide-y divide-tangaroa-200 mt-12 w-full border-t border-tangaroa-200"
        >
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start"
            >
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-lg font-light text-tangaroa-600">
                  " &nbsp; Mike is a rare breed of designer & developer that
                  understands business needs. He leveraged his previous
                  experience to build out a few landing pages very quickly for
                  Versoly &nbsp;"
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full"
                    src="/images/testimonials/volkan.jpg"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <p class="text-sm font-medium text-tangaroa-500">
                    Volkan Kaya
                  </p>
                  <p class="text-sm text-tangaroa-600">
                    Founder of Versoly.com
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start"
            >
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-lg font-light text-tangaroa-600">
                  " &nbsp; I've been following Mike's career for a while now and
                  it's amazing just how quickly the quality and variety of his
                  work has developed and evolved!
                  <br />
                  <br />
                  He's always learning or working on something new and constantly
                  refining his work to be the best! His attention to detail, 'can
                  do' attitude and work ethic is refreshing and he will definitely
                  help you succeed! &nbsp;"
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full"
                    src="/images/testimonials/amrit.jpeg"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <p class="text-sm font-medium text-tangaroa-500">
                    Amrit Nagi
                  </p>
                  <p class="text-sm text-tangaroa-600">
                    Founder of Tailwind Toolbox
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start"
            >
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-lg font-light text-tangaroa-600">
                  " &nbsp; I have had the absolute pleasure of working with Mike
                  in the past when building my blog Raspada with its Backend UI
                  or to building a private application for a leading hearing
                  care company.
                  <br />
                  <br />
                  Mike’s knowledge and attention to detail is second to none, and
                  he really understands and listens to his clients. &nbsp;"
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full"
                    src="/images/testimonials/mike.png"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <p class="text-sm font-medium text-tangaroa-500">
                    Mike jones
                  </p>
                  <p class="text-sm text-tangaroa-600">Blogger at Raspada</p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start"
            >
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-lg font-light text-tangaroa-600">
                  " &nbsp; Mike has helped me with many designs, and I couldn't
                  follow his working speed when we worked together. His designs
                  are slick, and he delivers a lot of value; he is constantly
                  iterating his designs and making improvements. &nbsp;"
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full"
                    src="/images/testimonials/gabi.jpeg"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <p class="text-sm font-medium text-tangaroa-500">
                    Gabriel Perales
                  </p>
                  <p class="text-sm text-tangaroa-600">
                    Software Engineer at Cabify
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="py-4 lg:py-8">
            <div
              class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-24 items-start"
            >
              <div class="lg:col-span-2 lg:order-last">
                <p class="text-lg font-light text-tangaroa-600">
                  " &nbsp; Mike has helped me with many designs, and I couldn't
                  follow his working speed when we worked together. His designs
                  are slick, and he delivers a lot of value; he is constantly
                  iterating his designs and making improvements. &nbsp;"
                </p>
              </div>
              <div class="inline-flex items-center gap-3">
                <div class="flex-shrink-0">
                  <img
                    class="h-10 w-10 lg:w-16 lg:h-16 rounded-full"
                    src="/images/testimonials/gustavo.jpeg"
                    alt=""
                  />
                </div>
                <div class="min-w-0 flex-1">
                  <span class="absolute inset-0" aria-hidden="true"></span>
                  <p class="text-sm font-medium text-tangaroa-500">
                    Gustavo Garcia
                  </p>
                  <p class="text-sm text-tangaroa-600">Founder of Dailytics</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
