<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="items-end pb-12">
      <div>
        <div class="lg:grid lg:grid-cols-2 gap-3 lg:gap-24">
          <div>
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight"
                >Testimonial</span
              >
            </h2>
            <h2
              class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              Reviews
            </h2>
            <p class="mt-12 text-slate-500 text-sm">
              Spaziobianco Public rollover performance exchange traded funds
              junk bonds passively NASDAQ bills upswing retirement corporate
              market exposure.
            </p>
          </div>
        </div>

        <ul class="w-full mt-12 relative" role="list">
          <li class="lg:p-8 p-4 bg-slate-50 rounded-xl">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "I couldn't be happier with the service I received. The team
                  went above and beyond to ensure my needs were met"
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of "
                    class="rounded-full h-10 lg:h-16 lg:w-16 w-10 object-cover"
                    src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">
                    David Gutierrez
                  </p><p class="text-sm text-slate-500">
                    Creator of @nocodegallery
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="lg:p-8 p-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "I highly recommend this company. Their attention to detail
                  and commitment to quality is unmatched."
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of "
                    class="rounded-full h-10 lg:h-16 lg:w-16 w-10 object-cover"
                    src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Alonso</p><p
                    class="text-sm text-slate-500">
                    Entrepreneur
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="lg:p-8 p-4 bg-slate-50 rounded-xl">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">"Great work Michael!"</p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of "
                    class="rounded-full h-10 lg:h-16 lg:w-16 w-10 object-cover"
                    src="https://images.unsplash.com/photo-1586297135537-94bc9ba060aa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Adham Dannaway</p><p
                    class="text-sm text-slate-500">
                    practical-ui.com
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="lg:p-8 p-4">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "Working with this team was an absolute pleasure. They were
                  professional, efficient, and always available to answer any
                  questions I had."
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of "
                    class="rounded-full h-10 lg:h-16 lg:w-16 w-10 object-cover"
                    src="https://images.unsplash.com/photo-1584996931193-59d1ddbd4cb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">
                    Luis Eduardo Augusto Uyejara
                  </p><p class="text-sm text-slate-500">
                    Founder @manifiesto_dao
                  </p>
                </div>
              </div>
            </div>
          </li><li class="lg:p-8 p-4 bg-slate-50 rounded-xl">
            <div
              class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">
                  "I was blown away by the results. The work exceeded my
                  expectations and I would definitely use their services again."
                </p>
              </div><div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt="a picture of "
                    class="rounded-full h-10 lg:h-16 lg:w-16 w-10 object-cover"
                    src="https://images.unsplash.com/photo-1601455763557-db1bea8a9a5a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2112&q=80"
                  />
                </div><div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">Eelco Wiersma</p><p
                    class="text-sm text-slate-500">
                    Creator of saas-ui.dev
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
