<section class="isolate overflow-hidden bg-white px-6 lg:px-8">
  <div class="mx-auto max-w-2xl py-24 sm:py-32 lg:max-w-4xl">
    <figure
      class="grid grid-cols-1 items-center gap-x-6 gap-y-8 lg:gap-x-10 bg-slate-50 p-4 rounded-3xl">
      <div class="relative col-span-2 lg:col-start-1 lg:row-start-2">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">Testimonial</span>
        </h2>
        <blockquote
          class="text-xl font-semibold leading-8 mt-12 text-slate-900 sm:text-2xl sm:leading-9 tracking-tighter">
          <p>
            “Really dope! These are ACTUAL good themes. Unlike some other sites
            that just rush poop out the door”
          </p>
        </blockquote>
      </div>
      <div class="col-end-1 w-16 lg:row-span-4 lg:w-72">
        <img
          class="rounded-xl bg-indigo-50 lg:rounded-2xl"
          src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80"
          alt=""
        />
      </div>
      <figcaption class="text-base lg:col-start-1 lg:row-start-3">
        <div class="font-semibold text-slate-900">David Gutierrez</div>
        <div class="mt-1 text-slate-500">Creator of @nocodegallery</div>
      </figcaption>
    </figure>
  </div>
</section>
