<section
  aria-labelledby="testimonial-four"
  id="testimonial-four"
  class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div x-data x-tabs class="mx-auto">
      <div x-tabs:panels class="rounded-b-md bg-white mt-6">
        <section x-transition.in.opacity x-tabs:panel>
          <div>
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-24">
              <div>
                <h2
                  class="inline-flex items-center text-blue-600"
                  id="table-of-contents-title">
                  <span class="font-mono text-sm" aria-hidden="true">04</span
                  ><span class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
                    class="ml-3 text-base font-medium tracking-tight"
                    >Testimonial</span
                  >
                </h2>

                <h2
                  class="text-purple-900 font-semibold tracking-tighter mt-6 text-3xl">
                  Spazio Bianco is love around the world.
                </h2>
              </div>
              <div>
                <p class="text-slate-500 text-base mt-5 lg:mt-0">
                  Snowflake is a cloud data platform that enables data storage,
                  processing, and analytics solutions for businesses. With the
                  Data Cloud platform, Snowflake manages the complexities of
                  data storage infrastructure, enabling organizations to focus
                  on building data-driven solutions.
                </p>
              </div>
            </div>
            <div
              class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-2 mt-12">
              <div>
                <ul
                  role="list"
                  class="grid grid-cols-1 gap-4 list-none lg:pr-12">
                  <li>
                    <div class="mx-auto text-left">
                      <h2 class="sr-only">intro.</h2><div>
                        <div class="gap-x-2 space-y-6">
                          <article>
                            <div class="space-y-3">
                              <p class="font-semibold text-purple-900">
                                Challenge
                              </p>
                              <p class="text-slate-500 text-sm">
                                Upswing securities passively index inverse
                                bondholders capitalization financial health
                                Moody's debt managed. Receive bondholders called
                                capitalization investment grade bonds bills
                                management district stocks. Potential funds
                                consulting expenses.
                              </p>
                            </div>
                          </article>
                          <article>
                            <div class="space-y-3">
                              <p class="font-semibold text-purple-900 mt-6">
                                Solution
                              </p>
                              <p class="text-slate-500 text-sm">
                                Debt bills lucrative capitalization municipal
                                bonds government 401k bear bull credit corporate
                                bonds called NYSE finance. Managed prices
                                bondholders federal risk NASDAQ hedge fund
                                expenses municipal bonds management.
                              </p>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <p class="font-semibold text-purple-900 mt-6">
                        Products used
                      </p>
                    </div>
                    <div
                      class="grid grid-cols-1 lg:grid-cols-2 justify-between">
                      <div
                        class="mt-2 text-blue-600 text-sm inline-flex items-center font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                          </path>
                        </svg>
                        Deployments
                      </div>
                      <div
                        class="mt-2 text-blue-600 text-sm inline-flex items-center font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"
                          ></path>
                        </svg>
                        Analytics
                      </div>
                      <div
                        class="mt-2 text-blue-600 text-sm inline-flex items-center font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                          </path>
                        </svg>
                        Payments
                      </div>
                      <div
                        class="mt-2 text-blue-600 text-sm inline-flex items-center font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"
                          ></path>
                        </svg>
                        Checkouts
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div>
                <div
                  class="relative overflow-hidden rounded-xl bg-purple-400 p-8 z-50 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
                  <div
                    class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                    <img
                      src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                      alt=""
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <div class="relative lg:col-span-1">
                    <svg
                      width="100"
                      height="48"
                      viewBox="0 0 143 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M53.2126 12.7716H45.3374C44.7985 12.7716 44.3402 13.1631 44.2561 13.6951L41.071 33.8892C41.0077 34.2877 41.3163 34.6469 41.7205 34.6469H45.4802C46.0191 34.6469 46.4774 34.2554 46.5614 33.7223L47.4205 28.2756C47.5034 27.7425 47.9628 27.3509 48.5006 27.3509H50.9936C56.1812 27.3509 59.1751 24.8406 59.957 19.8661C60.3094 17.6897 59.972 15.9797 58.9529 14.7822C57.8336 13.4671 55.8484 12.7716 53.2126 12.7716ZM54.1211 20.1471C53.6905 22.9729 51.5314 22.9729 49.4437 22.9729H48.2553L49.089 17.6955C49.1385 17.3765 49.4149 17.1416 49.7373 17.1416H50.282C51.7041 17.1416 53.0456 17.1416 53.7388 17.9523C54.1522 18.4359 54.2789 19.1545 54.1211 20.1471Z"
                        class="fill-white"></path>
                      <path
                        d="M76.7532 20.0561H72.982C72.6607 20.0561 72.3832 20.291 72.3337 20.61L72.1667 21.6647L71.903 21.2824C71.0866 20.0975 69.266 19.7014 67.449 19.7014C63.2816 19.7014 59.7223 22.8577 59.0291 27.2853C58.6687 29.4939 59.1811 31.6058 60.4339 33.0786C61.5831 34.4327 63.2275 34.997 65.1839 34.997C68.5417 34.997 70.4037 32.8379 70.4037 32.8379L70.2356 33.8858C70.1723 34.2865 70.4809 34.6458 70.8828 34.6458H74.2797C74.8198 34.6458 75.2758 34.2543 75.361 33.7211L77.3992 20.8138C77.4637 20.4165 77.1562 20.0561 76.7532 20.0561ZM71.4965 27.3958C71.1326 29.5503 69.4226 30.9966 67.2417 30.9966C66.1466 30.9966 65.2714 30.6454 64.7095 29.9798C64.1522 29.3189 63.9403 28.3781 64.1176 27.3302C64.4573 25.1941 66.1961 23.7006 68.3437 23.7006C69.4146 23.7006 70.2851 24.0564 70.8586 24.7278C71.4332 25.406 71.6612 26.3526 71.4965 27.3958Z"
                        class="fill-white"></path>
                      <path
                        class="fill-white"
                        d="M96.8379 20.056H93.0482C92.6867 20.056 92.347 20.2357 92.142 20.5362L86.9153 28.2352L84.6997 20.8368C84.5604 20.3738 84.1332 20.056 83.6496 20.056H79.9256C79.473 20.056 79.1587 20.4982 79.3026 20.9243L83.4768 33.1741L79.5525 38.714C79.2439 39.1505 79.5548 39.7504 80.0879 39.7504H83.873C84.2322 39.7504 84.5685 39.5754 84.7723 39.2806L97.3768 21.0866C97.6785 20.6514 97.3687 20.056 96.8379 20.056Z"
                      ></path>
                      <path
                        d="M109.385 12.7716H101.508C100.971 12.7716 100.512 13.1631 100.428 13.6951L97.2431 33.8892C97.1798 34.2877 97.4884 34.6469 97.8903 34.6469H101.932C102.307 34.6469 102.629 34.3729 102.688 33.9998L103.591 28.2756C103.674 27.7425 104.134 27.3509 104.672 27.3509H107.163C112.352 27.3509 115.345 24.8406 116.128 19.8661C116.481 17.6897 116.142 15.9797 115.123 14.7822C114.005 13.4671 112.021 12.7716 109.385 12.7716ZM110.293 20.1471C109.864 22.9729 107.705 22.9729 105.616 22.9729H104.429L105.263 17.6955C105.313 17.3765 105.587 17.1416 105.911 17.1416H106.455C107.876 17.1416 109.219 17.1416 109.912 17.9523C110.325 18.4359 110.451 19.1545 110.293 20.1471Z"
                        class="fill-white"></path>
                      <path
                        d="M132.924 20.0561H129.155C128.832 20.0561 128.556 20.291 128.508 20.61L128.341 21.6647L128.076 21.2824C127.26 20.0975 125.44 19.7014 123.623 19.7014C119.456 19.7014 115.898 22.8577 115.205 27.2853C114.845 29.4939 115.355 31.6058 116.608 33.0786C117.76 34.4327 119.402 34.997 121.358 34.997C124.716 34.997 126.578 32.8379 126.578 32.8379L126.41 33.8858C126.347 34.2865 126.655 34.6458 127.059 34.6458H130.455C130.993 34.6458 131.451 34.2543 131.535 33.7211L133.575 20.8138C133.637 20.4165 133.328 20.0561 132.924 20.0561ZM127.667 27.3958C127.306 29.5503 125.594 30.9966 123.413 30.9966C122.32 30.9966 121.442 30.6454 120.88 29.9798C120.323 29.3189 120.113 28.3781 120.288 27.3302C120.63 25.1941 122.367 23.7006 124.515 23.7006C125.585 23.7006 126.456 24.0564 127.029 24.7278C127.606 25.406 127.834 26.3526 127.667 27.3958Z"
                        class="fill-white"></path>
                      <path
                        d="M137.37 13.3254L134.138 33.8892C134.074 34.2876 134.383 34.6469 134.785 34.6469H138.034C138.574 34.6469 139.033 34.2554 139.116 33.7222L142.303 13.5292C142.366 13.1308 142.058 12.7704 141.656 12.7704H138.017C137.696 12.7715 137.419 13.0064 137.37 13.3254Z"
                        class="fill-white"></path>
                      <path
                        d="M8.36683 38.5713L8.96907 34.746L7.62756 34.7149H1.22168L5.67344 6.48781C5.68725 6.40259 5.73216 6.32314 5.7978 6.26671C5.86344 6.21029 5.9475 6.1792 6.03501 6.1792H16.8362C20.422 6.1792 22.8966 6.92538 24.1886 8.39817C24.7943 9.08908 25.1801 9.81108 25.3666 10.6056C25.5624 11.4393 25.5659 12.4354 25.3747 13.6502L25.3609 13.7389V14.5173L25.9666 14.8605C26.4767 15.1311 26.882 15.4408 27.1929 15.7955C27.7111 16.3862 28.0462 17.137 28.1879 18.0271C28.3341 18.9426 28.2857 20.0319 28.0462 21.2652C27.7699 22.6839 27.3231 23.9194 26.7197 24.9305C26.1646 25.862 25.4576 26.6347 24.6182 27.2335C23.8167 27.8024 22.8644 28.2342 21.7877 28.5105C20.7445 28.7823 19.555 28.9193 18.2503 28.9193H17.4097C16.8086 28.9193 16.2248 29.1358 15.7665 29.5239C15.307 29.92 15.003 30.4612 14.9097 31.0531L14.8464 31.3974L13.7824 38.1395L13.734 38.3871C13.7214 38.4654 13.6995 38.5045 13.6673 38.531C13.6385 38.5552 13.597 38.5713 13.5567 38.5713H8.36683Z"
                        class="fill-white"></path>
                      <path
                        d="M26.5401 13.8286C26.5079 14.0347 26.471 14.2455 26.4296 14.4619C25.0052 21.7752 20.132 24.3016 13.908 24.3016H10.739C9.9779 24.3016 9.3365 24.8544 9.2179 25.6052L7.59541 35.8951L7.13596 38.8119C7.0588 39.3047 7.4388 39.7492 7.93626 39.7492H13.5568C14.2224 39.7492 14.7878 39.2656 14.8926 38.6092L14.9478 38.3236L16.0061 31.608L16.074 31.2395C16.1777 30.5809 16.7442 30.0972 17.4098 30.0972H18.2504C23.6959 30.0972 27.9588 27.8863 29.2047 21.4885C29.7252 18.8158 29.4558 16.5842 28.0786 15.0147C27.6617 14.5414 27.1447 14.1487 26.5401 13.8286Z"
                        class="fill-white"></path>
                      <path
                        d="M25.05 13.2345C24.8323 13.1712 24.6078 13.1136 24.3775 13.0618C24.146 13.0111 23.9088 12.9662 23.6647 12.9271C22.8103 12.7889 21.8741 12.7233 20.8711 12.7233H12.4052C12.1967 12.7233 11.9987 12.7705 11.8213 12.8557C11.431 13.0434 11.1408 13.413 11.0706 13.8656L9.26959 25.2725L9.21777 25.6053C9.33638 24.8545 9.97777 24.3018 10.7389 24.3018H13.9079C20.1318 24.3018 25.005 21.7742 26.4295 14.4621C26.4721 14.2456 26.5078 14.0348 26.54 13.8287C26.1796 13.6376 25.7892 13.4741 25.3689 13.3347C25.2653 13.3002 25.1582 13.2668 25.05 13.2345Z"
                        fill="fill-white"></path>
                      <path
                        d="M11.0707 13.8655C11.1409 13.413 11.4311 13.0433 11.8214 12.8568C11.9999 12.7716 12.1968 12.7244 12.4053 12.7244H20.8712C21.8742 12.7244 22.8103 12.79 23.6648 12.9282C23.9089 12.9673 24.1461 13.0122 24.3776 13.0629C24.6079 13.1147 24.8324 13.1723 25.05 13.2356C25.1583 13.2679 25.2654 13.3013 25.3702 13.3347C25.7905 13.474 26.1808 13.6387 26.5413 13.8287C26.965 11.1261 26.5378 9.28594 25.0765 7.6197C23.4656 5.78533 20.558 5 16.8374 5H6.03623C5.27623 5 4.62793 5.55273 4.51047 6.30467L0.0115023 34.8219C-0.0771644 35.3862 0.358108 35.8952 0.926957 35.8952H7.59538L9.26968 25.2724L11.0707 13.8655Z"
                        class="fill-white"></path>
                    </svg>
                    <blockquote class="mt-6 text-white text-sm lg:mt-24">
                      <p class="font-medium">
                        Spaziobianco Public rollover performance exchange traded
                        funds junk bonds passively NASDAQ bills upswing
                        retirement corporate market exposure.
                      </p>
                      <p class="mt-6">
                        <a
                          href=""
                          class="text-blue-500 hover:text-white inline-flex items-center group">
                          Read case study
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </a>
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section x-transition.in.opacity x-tabs:panel>
          <div>
            <div class="grid grid-cols-1 lg:grid-cols-2 items-start gap-24">
              <div>
                <h2
                  class="inline-flex items-center text-blue-600"
                  id="table-of-contents-title">
                  <span class="font-mono text-sm" aria-hidden="true">04</span
                  ><span class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
                    class="ml-3 text-base font-medium tracking-tight"
                    >Testimonial</span
                  >
                </h2>

                <h2
                  class="text-purple-900 font-semibold tracking-tighter mt-6 text-3xl">
                  Spaziobianco allows you to
                  <span>customize all blocks included on this UI KIt.</span>
                </h2>
              </div>
              <div>
                <p class="text-slate-500 text-base mt-5 lg:mt-0">
                  Snowflake is a cloud data platform that enables data storage,
                  processing, and analytics solutions for businesses. With the
                  Data Cloud platform, Snowflake manages the complexities of
                  data storage infrastructure, enabling organizations to focus
                  on building data-driven solutions.
                </p>
              </div>
            </div>
            <div
              class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-2 mt-12">
              <div>
                <ul
                  role="list"
                  class="grid grid-cols-1 gap-4 list-none lg:pr-12">
                  <li>
                    <div class="mx-auto text-left">
                      <h2 class="sr-only">intro.</h2><div>
                        <div class="gap-x-2 space-y-6">
                          <article>
                            <div class="space-y-3">
                              <p class="font-semibold text-purple-900">
                                Challenge
                              </p>
                              <p class="text-slate-500 text-sm">
                                Junk bonds funds 401k private lucrative index
                                funds debt volatile bondholders gains holder
                                IRA. Investment interest return dividends Dow
                                Jones district interest rate income
                              </p>
                            </div>
                          </article>
                          <article>
                            <div class="space-y-3">
                              <p class="font-semibold text-purple-900 mt-6">
                                Solution
                              </p>
                              <p class="text-slate-500 text-sm">
                                Investment grade bonds risk growth market
                                Moody's improve retirement economy IRA 401k.
                                Fitch bear maturities growth management managed
                                retirement rise exchange traded funds interest
                                index income municipal bonds benchmark.
                              </p>
                            </div>
                          </article>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <p class="font-semibold text-purple-900 mt-6">
                        Products used
                      </p>
                    </div>
                    <div
                      class="grid grid-cols-1 lg:grid-cols-2 justify-between">
                      <div
                        class="mt-2 text-blue-600 text-sm inline-flex items-center font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                          </path>
                        </svg>
                        Code Grabbing
                      </div>
                      <div
                        class="mt-2 text-blue-600 text-sm inline-flex items-center font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"
                          ></path>
                        </svg>
                        Pull request
                      </div>
                      <div
                        class="mt-2 text-blue-600 text-sm inline-flex items-center font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                          </path>
                        </svg>
                        Branching
                      </div>
                      <div
                        class="mt-2 text-blue-600 text-sm inline-flex items-center font-medium">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"
                          ></path>
                        </svg>
                        Applications
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div>
                <div
                  class="relative overflow-hidden rounded-xl bg-blue-700 p-8 z-50 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
                  <div
                    class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                    <img
                      src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                      alt=""
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <div class="relative lg:col-span-1">
                    <svg
                      width="113"
                      height="48"
                      viewBox="0 0 113 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M48.2375 25.6501C48.2375 30.9734 44.0732 34.896 38.9625 34.896C33.8519 34.896 29.6875 30.9734 29.6875 25.6501C29.6875 20.2894 33.8519 16.4043 38.9625 16.4043C44.0732 16.4043 48.2375 20.2894 48.2375 25.6501ZM44.1774 25.6501C44.1774 22.3236 41.7638 20.0476 38.9625 20.0476C36.1613 20.0476 33.7477 22.3236 33.7477 25.6501C33.7477 28.9433 36.1613 31.2527 38.9625 31.2527C41.7638 31.2527 44.1774 28.9391 44.1774 25.6501Z"
                        fill="#ffffff"></path>
                      <path
                        d="M68.2468 25.6501C68.2468 30.9734 64.0824 34.896 58.9718 34.896C53.8612 34.896 49.6968 30.9734 49.6968 25.6501C49.6968 20.2936 53.8612 16.4043 58.9718 16.4043C64.0824 16.4043 68.2468 20.2894 68.2468 25.6501ZM64.1867 25.6501C64.1867 22.3236 61.7731 20.0476 58.9718 20.0476C56.1705 20.0476 53.7569 22.3236 53.7569 25.6501C53.7569 28.9433 56.1705 31.2527 58.9718 31.2527C61.7731 31.2527 64.1867 28.9391 64.1867 25.6501Z"
                        fill="#ffffff"></path>
                      <path
                        d="M87.4224 16.9629V33.562C87.4224 40.3901 83.3956 43.1789 78.6351 43.1789C74.1539 43.1789 71.4569 40.1817 70.4398 37.7306L73.9747 36.2591C74.6041 37.7639 76.1465 39.5397 78.631 39.5397C81.6782 39.5397 83.5665 37.6597 83.5665 34.1206V32.7909H83.4248C82.516 33.9122 80.7652 34.8918 78.5559 34.8918C73.933 34.8918 69.6978 30.865 69.6978 25.6835C69.6978 20.4645 73.933 16.4043 78.5559 16.4043C80.7611 16.4043 82.5119 17.3839 83.4248 18.4719H83.5665V16.9671H87.4224V16.9629ZM83.8541 25.6835C83.8541 22.4278 81.6823 20.0476 78.9186 20.0476C76.1173 20.0476 73.7704 22.4278 73.7704 25.6835C73.7704 28.9058 76.1173 31.2527 78.9186 31.2527C81.6823 31.2527 83.8541 28.9058 83.8541 25.6835Z"
                        fill="#ffffff"></path>
                      <path
                        d="M93.779 7.23364V34.3292H89.8188V7.23364H93.779Z"
                        fill="#ffffff"></path>
                      <path
                        d="M109.211 28.6932L112.363 30.7941C111.346 32.299 108.895 34.8918 104.659 34.8918C99.407 34.8918 95.4844 30.8317 95.4844 25.646C95.4844 20.1477 99.4403 16.4001 104.205 16.4001C109.003 16.4001 111.35 20.2185 112.117 22.282L112.538 23.3324L100.178 28.4514C101.124 30.3064 102.596 31.2527 104.659 31.2527C106.727 31.2527 108.161 30.2356 109.211 28.6932ZM99.5112 25.3667L107.773 21.936C107.319 20.7813 105.952 19.9768 104.343 19.9768C102.279 19.9768 99.407 21.7984 99.5112 25.3667Z"
                        fill="#ffffff"></path>
                      <path
                        d="M14.6975 23.2447V19.3221H27.9159C28.0451 20.0058 28.1118 20.8145 28.1118 21.6899C28.1118 24.6329 27.3073 28.272 24.7145 30.8648C22.1925 33.491 18.9702 34.8917 14.7016 34.8917C6.78972 34.8917 0.136719 28.4471 0.136719 20.5352C0.136719 12.6233 6.78972 6.17871 14.7016 6.17871C19.0786 6.17871 22.1967 7.89615 24.5394 10.1347L21.7715 12.9026C20.0916 11.3269 17.8155 10.1013 14.6975 10.1013C8.91985 10.1013 4.40114 14.7576 4.40114 20.5352C4.40114 26.3128 8.91985 30.9691 14.6975 30.9691C18.445 30.9691 20.5793 29.4642 21.9466 28.0969C23.0554 26.9881 23.7849 25.4041 24.0725 23.2406L14.6975 23.2447Z"
                        fill="#ffffff"></path>
                    </svg>
                    <blockquote class="mt-6 text-white text-sm lg:mt-24">
                      <p class="font-medium">
                        Spaziobianco Public rollover performance exchange traded
                        funds junk bonds passively NASDAQ bills upswing
                        retirement corporate market exposure.
                      </p>
                      <p class="mt-6">
                        <a
                          href=""
                          class="text-blue-500 hover:text-white inline-flex items-center group">
                          Read case study
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                            <path
                              fill-rule="evenodd"
                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                              clip-rule="evenodd"></path>
                          </svg>
                        </a>
                      </p>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div
        x-tabs:list
        class="grid grid-cols-1 lg:grid-cols-4 items-center mx-auto w-full mt-12 pt-6 border-t border-dashed border-slate-200">
        <button
          x-tabs:tab
          type="button"
          :class="$tab.isSelected ? ' opacity-100 focus:opacity-100' : 'opacity-50 grayscale'"
          class="inline-flex rounded-full text-purple-900 font-semibold">
          <svg
            width="143"
            height="48"
            viewBox="0 0 143 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M53.2126 12.7716H45.3374C44.7985 12.7716 44.3402 13.1631 44.2561 13.6951L41.071 33.8892C41.0077 34.2877 41.3163 34.6469 41.7205 34.6469H45.4802C46.0191 34.6469 46.4774 34.2554 46.5614 33.7223L47.4205 28.2756C47.5034 27.7425 47.9628 27.3509 48.5006 27.3509H50.9936C56.1812 27.3509 59.1751 24.8406 59.957 19.8661C60.3094 17.6897 59.972 15.9797 58.9529 14.7822C57.8336 13.4671 55.8484 12.7716 53.2126 12.7716ZM54.1211 20.1471C53.6905 22.9729 51.5314 22.9729 49.4437 22.9729H48.2553L49.089 17.6955C49.1385 17.3765 49.4149 17.1416 49.7373 17.1416H50.282C51.7041 17.1416 53.0456 17.1416 53.7388 17.9523C54.1522 18.4359 54.2789 19.1545 54.1211 20.1471Z"
              class="fill-[#253B80]"></path>
            <path
              d="M76.7532 20.0561H72.982C72.6607 20.0561 72.3832 20.291 72.3337 20.61L72.1667 21.6647L71.903 21.2824C71.0866 20.0975 69.266 19.7014 67.449 19.7014C63.2816 19.7014 59.7223 22.8577 59.0291 27.2853C58.6687 29.4939 59.1811 31.6058 60.4339 33.0786C61.5831 34.4327 63.2275 34.997 65.1839 34.997C68.5417 34.997 70.4037 32.8379 70.4037 32.8379L70.2356 33.8858C70.1723 34.2865 70.4809 34.6458 70.8828 34.6458H74.2797C74.8198 34.6458 75.2758 34.2543 75.361 33.7211L77.3992 20.8138C77.4637 20.4165 77.1562 20.0561 76.7532 20.0561ZM71.4965 27.3958C71.1326 29.5503 69.4226 30.9966 67.2417 30.9966C66.1466 30.9966 65.2714 30.6454 64.7095 29.9798C64.1522 29.3189 63.9403 28.3781 64.1176 27.3302C64.4573 25.1941 66.1961 23.7006 68.3437 23.7006C69.4146 23.7006 70.2851 24.0564 70.8586 24.7278C71.4332 25.406 71.6612 26.3526 71.4965 27.3958Z"
              class="fill-[#253B80]"></path>
            <path
              class="fill-[#253B80]"
              d="M96.8379 20.056H93.0482C92.6867 20.056 92.347 20.2357 92.142 20.5362L86.9153 28.2352L84.6997 20.8368C84.5604 20.3738 84.1332 20.056 83.6496 20.056H79.9256C79.473 20.056 79.1587 20.4982 79.3026 20.9243L83.4768 33.1741L79.5525 38.714C79.2439 39.1505 79.5548 39.7504 80.0879 39.7504H83.873C84.2322 39.7504 84.5685 39.5754 84.7723 39.2806L97.3768 21.0866C97.6785 20.6514 97.3687 20.056 96.8379 20.056Z"
            ></path>
            <path
              d="M109.385 12.7716H101.508C100.971 12.7716 100.512 13.1631 100.428 13.6951L97.2431 33.8892C97.1798 34.2877 97.4884 34.6469 97.8903 34.6469H101.932C102.307 34.6469 102.629 34.3729 102.688 33.9998L103.591 28.2756C103.674 27.7425 104.134 27.3509 104.672 27.3509H107.163C112.352 27.3509 115.345 24.8406 116.128 19.8661C116.481 17.6897 116.142 15.9797 115.123 14.7822C114.005 13.4671 112.021 12.7716 109.385 12.7716ZM110.293 20.1471C109.864 22.9729 107.705 22.9729 105.616 22.9729H104.429L105.263 17.6955C105.313 17.3765 105.587 17.1416 105.911 17.1416H106.455C107.876 17.1416 109.219 17.1416 109.912 17.9523C110.325 18.4359 110.451 19.1545 110.293 20.1471Z"
              class="fill-[#179BD7]"></path>
            <path
              d="M132.924 20.0561H129.155C128.832 20.0561 128.556 20.291 128.508 20.61L128.341 21.6647L128.076 21.2824C127.26 20.0975 125.44 19.7014 123.623 19.7014C119.456 19.7014 115.898 22.8577 115.205 27.2853C114.845 29.4939 115.355 31.6058 116.608 33.0786C117.76 34.4327 119.402 34.997 121.358 34.997C124.716 34.997 126.578 32.8379 126.578 32.8379L126.41 33.8858C126.347 34.2865 126.655 34.6458 127.059 34.6458H130.455C130.993 34.6458 131.451 34.2543 131.535 33.7211L133.575 20.8138C133.637 20.4165 133.328 20.0561 132.924 20.0561ZM127.667 27.3958C127.306 29.5503 125.594 30.9966 123.413 30.9966C122.32 30.9966 121.442 30.6454 120.88 29.9798C120.323 29.3189 120.113 28.3781 120.288 27.3302C120.63 25.1941 122.367 23.7006 124.515 23.7006C125.585 23.7006 126.456 24.0564 127.029 24.7278C127.606 25.406 127.834 26.3526 127.667 27.3958Z"
              class="fill-[#179BD7]"></path>
            <path
              d="M137.37 13.3254L134.138 33.8892C134.074 34.2876 134.383 34.6469 134.785 34.6469H138.034C138.574 34.6469 139.033 34.2554 139.116 33.7222L142.303 13.5292C142.366 13.1308 142.058 12.7704 141.656 12.7704H138.017C137.696 12.7715 137.419 13.0064 137.37 13.3254Z"
              class="fill-[#179BD7]"></path>
            <path
              d="M8.36683 38.5713L8.96907 34.746L7.62756 34.7149H1.22168L5.67344 6.48781C5.68725 6.40259 5.73216 6.32314 5.7978 6.26671C5.86344 6.21029 5.9475 6.1792 6.03501 6.1792H16.8362C20.422 6.1792 22.8966 6.92538 24.1886 8.39817C24.7943 9.08908 25.1801 9.81108 25.3666 10.6056C25.5624 11.4393 25.5659 12.4354 25.3747 13.6502L25.3609 13.7389V14.5173L25.9666 14.8605C26.4767 15.1311 26.882 15.4408 27.1929 15.7955C27.7111 16.3862 28.0462 17.137 28.1879 18.0271C28.3341 18.9426 28.2857 20.0319 28.0462 21.2652C27.7699 22.6839 27.3231 23.9194 26.7197 24.9305C26.1646 25.862 25.4576 26.6347 24.6182 27.2335C23.8167 27.8024 22.8644 28.2342 21.7877 28.5105C20.7445 28.7823 19.555 28.9193 18.2503 28.9193H17.4097C16.8086 28.9193 16.2248 29.1358 15.7665 29.5239C15.307 29.92 15.003 30.4612 14.9097 31.0531L14.8464 31.3974L13.7824 38.1395L13.734 38.3871C13.7214 38.4654 13.6995 38.5045 13.6673 38.531C13.6385 38.5552 13.597 38.5713 13.5567 38.5713H8.36683Z"
              class="fill-[#253B80]"></path>
            <path
              d="M26.5401 13.8286C26.5079 14.0347 26.471 14.2455 26.4296 14.4619C25.0052 21.7752 20.132 24.3016 13.908 24.3016H10.739C9.9779 24.3016 9.3365 24.8544 9.2179 25.6052L7.59541 35.8951L7.13596 38.8119C7.0588 39.3047 7.4388 39.7492 7.93626 39.7492H13.5568C14.2224 39.7492 14.7878 39.2656 14.8926 38.6092L14.9478 38.3236L16.0061 31.608L16.074 31.2395C16.1777 30.5809 16.7442 30.0972 17.4098 30.0972H18.2504C23.6959 30.0972 27.9588 27.8863 29.2047 21.4885C29.7252 18.8158 29.4558 16.5842 28.0786 15.0147C27.6617 14.5414 27.1447 14.1487 26.5401 13.8286Z"
              class="fill-[#179BD7]"></path>
            <path
              d="M25.05 13.2345C24.8323 13.1712 24.6078 13.1136 24.3775 13.0618C24.146 13.0111 23.9088 12.9662 23.6647 12.9271C22.8103 12.7889 21.8741 12.7233 20.8711 12.7233H12.4052C12.1967 12.7233 11.9987 12.7705 11.8213 12.8557C11.431 13.0434 11.1408 13.413 11.0706 13.8656L9.26959 25.2725L9.21777 25.6053C9.33638 24.8545 9.97777 24.3018 10.7389 24.3018H13.9079C20.1318 24.3018 25.005 21.7742 26.4295 14.4621C26.4721 14.2456 26.5078 14.0348 26.54 13.8287C26.1796 13.6376 25.7892 13.4741 25.3689 13.3347C25.2653 13.3002 25.1582 13.2668 25.05 13.2345Z"
              fill="#222D65"></path>
            <path
              d="M11.0707 13.8655C11.1409 13.413 11.4311 13.0433 11.8214 12.8568C11.9999 12.7716 12.1968 12.7244 12.4053 12.7244H20.8712C21.8742 12.7244 22.8103 12.79 23.6648 12.9282C23.9089 12.9673 24.1461 13.0122 24.3776 13.0629C24.6079 13.1147 24.8324 13.1723 25.05 13.2356C25.1583 13.2679 25.2654 13.3013 25.3702 13.3347C25.7905 13.474 26.1808 13.6387 26.5413 13.8287C26.965 11.1261 26.5378 9.28594 25.0765 7.6197C23.4656 5.78533 20.558 5 16.8374 5H6.03623C5.27623 5 4.62793 5.55273 4.51047 6.30467L0.0115023 34.8219C-0.0771644 35.3862 0.358108 35.8952 0.926957 35.8952H7.59538L9.26968 25.2724L11.0707 13.8655Z"
              class="fill-[#253B80]"></path>
          </svg>
        </button>
        <button
          x-tabs:tab
          type="button"
          :class="$tab.isSelected ? ' opacity-100 focus:opacity-100' : 'opacity-50 grayscale'"
          class="inline-flex rounded-full text-purple-900 font-semibold px-3 py-2 text-xs">
          <svg
            width="113"
            height="48"
            viewBox="0 0 113 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M48.2375 25.6501C48.2375 30.9734 44.0732 34.896 38.9625 34.896C33.8519 34.896 29.6875 30.9734 29.6875 25.6501C29.6875 20.2894 33.8519 16.4043 38.9625 16.4043C44.0732 16.4043 48.2375 20.2894 48.2375 25.6501ZM44.1774 25.6501C44.1774 22.3236 41.7638 20.0476 38.9625 20.0476C36.1613 20.0476 33.7477 22.3236 33.7477 25.6501C33.7477 28.9433 36.1613 31.2527 38.9625 31.2527C41.7638 31.2527 44.1774 28.9391 44.1774 25.6501Z"
              fill="#EA4335"></path>
            <path
              d="M68.2468 25.6501C68.2468 30.9734 64.0824 34.896 58.9718 34.896C53.8612 34.896 49.6968 30.9734 49.6968 25.6501C49.6968 20.2936 53.8612 16.4043 58.9718 16.4043C64.0824 16.4043 68.2468 20.2894 68.2468 25.6501ZM64.1867 25.6501C64.1867 22.3236 61.7731 20.0476 58.9718 20.0476C56.1705 20.0476 53.7569 22.3236 53.7569 25.6501C53.7569 28.9433 56.1705 31.2527 58.9718 31.2527C61.7731 31.2527 64.1867 28.9391 64.1867 25.6501Z"
              fill="#FBBC05"></path>
            <path
              d="M87.4224 16.9629V33.562C87.4224 40.3901 83.3956 43.1789 78.6351 43.1789C74.1539 43.1789 71.4569 40.1817 70.4398 37.7306L73.9747 36.2591C74.6041 37.7639 76.1465 39.5397 78.631 39.5397C81.6782 39.5397 83.5665 37.6597 83.5665 34.1206V32.7909H83.4248C82.516 33.9122 80.7652 34.8918 78.5559 34.8918C73.933 34.8918 69.6978 30.865 69.6978 25.6835C69.6978 20.4645 73.933 16.4043 78.5559 16.4043C80.7611 16.4043 82.5119 17.3839 83.4248 18.4719H83.5665V16.9671H87.4224V16.9629ZM83.8541 25.6835C83.8541 22.4278 81.6823 20.0476 78.9186 20.0476C76.1173 20.0476 73.7704 22.4278 73.7704 25.6835C73.7704 28.9058 76.1173 31.2527 78.9186 31.2527C81.6823 31.2527 83.8541 28.9058 83.8541 25.6835Z"
              fill="#4285F4"></path>
            <path
              d="M93.779 7.23364V34.3292H89.8188V7.23364H93.779Z"
              fill="#34A853"></path>
            <path
              d="M109.211 28.6932L112.363 30.7941C111.346 32.299 108.895 34.8918 104.659 34.8918C99.407 34.8918 95.4844 30.8317 95.4844 25.646C95.4844 20.1477 99.4403 16.4001 104.205 16.4001C109.003 16.4001 111.35 20.2185 112.117 22.282L112.538 23.3324L100.178 28.4514C101.124 30.3064 102.596 31.2527 104.659 31.2527C106.727 31.2527 108.161 30.2356 109.211 28.6932ZM99.5112 25.3667L107.773 21.936C107.319 20.7813 105.952 19.9768 104.343 19.9768C102.279 19.9768 99.407 21.7984 99.5112 25.3667Z"
              fill="#EA4335"></path>
            <path
              d="M14.6975 23.2447V19.3221H27.9159C28.0451 20.0058 28.1118 20.8145 28.1118 21.6899C28.1118 24.6329 27.3073 28.272 24.7145 30.8648C22.1925 33.491 18.9702 34.8917 14.7016 34.8917C6.78972 34.8917 0.136719 28.4471 0.136719 20.5352C0.136719 12.6233 6.78972 6.17871 14.7016 6.17871C19.0786 6.17871 22.1967 7.89615 24.5394 10.1347L21.7715 12.9026C20.0916 11.3269 17.8155 10.1013 14.6975 10.1013C8.91985 10.1013 4.40114 14.7576 4.40114 20.5352C4.40114 26.3128 8.91985 30.9691 14.6975 30.9691C18.445 30.9691 20.5793 29.4642 21.9466 28.0969C23.0554 26.9881 23.7849 25.4041 24.0725 23.2406L14.6975 23.2447Z"
              fill="#4285F4"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
