<section>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <div class="mx-auto max-w-xl text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">Testimonial</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          We have worked with thousands of amazing people
        </h2>
      </div>
      <div
        class="mx-auto mt-16 grid max-w-2xl grid-cols-1 grid-rows-1 gap-8 text-sm leading-6 text-slate-500 sm:mt-20 sm:grid-cols-2 xl:mx-0 xl:max-w-none xl:grid-flow-col xl:grid-cols-4">
        <div class="space-y-8 xl:contents xl:space-y-0">
          <div class="space-y-8 xl:row-span-2">
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>
                  “Really dope! These are ACTUAL good themes. Unlike some other
                  sites that just rush shit out the door”
                </p>Labor
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/a9b47005f687e2c861919cfbc8ea9fa363242d6a/33407/images/reviews/chris.jpg"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">
                    David Gutierrez
                  </div>
                  <div class="text-slate-600">Creator of @nocodegallery</div>
                </div>
              </figcaption>
            </figure>
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>"Great work Michael!"</p>
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/5886976a0472675ebbdcfeeb46d354cff76569d2/e838d/images/reviews/adham.jpeg"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">
                    Adham Dannaway
                  </div>
                  <div class="text-slate-600">practical-ui.com</div>
                </div>
              </figcaption>
            </figure>
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>
                  "These are some excellent themes if you're in the market."
                </p>
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/266b99c670fbdbffaed07d6ae5d55ccf92c30a2f/1c9f5/images/reviews/toast.jpg"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">
                    Chief Toast Officer
                  </div>
                  <div class="text-slate-600">Creator of lemondrop.app</div>
                </div>
              </figcaption>
            </figure>
          </div>

          <div class="space-y-8 xl:row-start-1">
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>
                  "The Lexington themes are no usual themes: they're well done,
                  professional, minimal and Michael has clearly put effort into
                  every detail making them, IMO, one of the best Tailwind theme
                  bundles that exist."
                </p>
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/fd5f56acb2504f0c03c7bb2ee0e9f0c22929bcca/e6636/images/reviews/davidgutierrez.avif"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">David</div>
                  <div class="text-slate-600">Founder of make.to</div>
                </div>
              </figcaption>
            </figure>
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>
                  "I bought a beautiful theme from Lexington a couple weeks ago.
                  I didn't know Astro at the time, but Michael helped me get set
                  up and really went above and beyond with his support. Now I'm
                  happily redoing my site to look gorgeous with his template."
                </p>
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/87500b01c3180a1af93cff6df397967c52870025/dc3aa/images/reviews/stuart.png"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">Stuart</div>
                  <div class="text-slate-600">Creator of saasydb.com</div>
                </div>
              </figcaption>
            </figure>

            <!-- More testimonials... -->
          </div>
        </div>

        <div class="space-y-8 xl:contents xl:space-y-0">
          <div class="space-y-8 xl:row-start-1">
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>
                  "I have been a keen follower of Michael's work for the past 6
                  months and I am truly impressed by his aesthetics,
                  functionality, and design consistency.With the help of
                  Lexington themes, building any digital product you desire
                  becomes a piece of cake using their versatile building
                  blocks!"
                </p>
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/0aaeafba520c782f53fac64b78cd7ee241405ec5/152aa/images/reviews/chinoa.jpg"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">Luis Eduardo</div>
                  <div class="text-slate-600">Founder @manifiesto_dao</div>
                </div>
              </figcaption>
            </figure>
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>
                  "Well well done, arguably among the best themes and UI kits
                  out there!"
                </p>
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/0aaeafba520c782f53fac64b78cd7ee241405ec5/152aa/images/reviews/chinoa.jpg"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">Bakermono Fra</div>
                  <div class="text-slate-600">
                    Musician, designer, developer.
                  </div>
                </div>
              </figcaption>
            </figure>

            <!-- More testimonials... -->
          </div>

          <div class="space-y-8 xl:row-span-2">
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>
                  "The amount of work and dedication put into this is insane and
                  you can see it, well done!"
                </p>
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/99155a72c580136a1ea072239cee35204ff2996c/1cf23/images/reviews/eelco.avif"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">Eelco Wiersma</div>
                  <div class="text-slate-600">Creator of saas-ui.dev</div>
                </div>
              </figcaption>
            </figure>
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>
                  "Such a huge fan of this collection! Outstanding job by
                  @michael_andreuzza. Brilliant designer and maker!"
                </p>
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/389d628dd700d03ccb8b7fa8babb6634571f7025/64073/images/reviews/joe.avif"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">Joe Ashwell</div>
                  <div class="text-slate-600">Building seoship.io</div>
                </div>
              </figcaption>
            </figure>
            <figure class="rounded-2xl bg-slate-50 p-6 grid gap-6">
              <blockquote class="text-slate-500">
                <p>"Awesome work Michael!"</p>
              </blockquote>
              <figcaption class="mt-6 flex order-first flex-col gap-y-4">
                <img
                  class="h-10 w-10 rounded-full bg-slate-50"
                  src="https://d33wubrfki0l68.cloudfront.net/dc107672a523204a69a00fc0e55438ff25c10521/e876c/images/reviews/graeme.avif"
                  alt=""
                />
                <div>
                  <div class="font-semibold text-purple-900">Graeme Fulton</div>
                  <div class="text-slate-600">
                    Making Prototypr.io and Letter
                  </div>
                </div>
              </figcaption>
            </figure>

            <!-- More testimonials... -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
