LexingtonLexington---
import creditcard from "/public/images/creditcard.png";
import { Image } from "@astrojs/image/components";
---

<section aria-labelledby="blog-one" id="blog-one">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24 items-start">
    <div
      class="rounded-2xl bg-white p-10 lg:p-20 shadow-card relative overflow-hidden">
      <div class="grid grid-cols-1 lg:grid-cols-4 items-center gap-12">
        <div class="lg:col-span-3">
          <span class="text-tangaroa-400 uppercase text-xs font-semibold"
            >Blog One</span
          >
          <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl lg:mx-auto">
            How Supreme allows you to create stunning layouts
            <span> and consistency for your SaaS.</span>
          </h2>
          <p class="text-base text-tangaroa-400">
            Upswing securities passively index inverse bondholders
            capitalization financial health Moody's debt managed. Receive
            bondholders called capitalization investment grade bonds bills
            management district stocks. Potential funds consulting expenses.
          </p>
          <p class="mt-6">
            <a
              href=""
              class="text-orange hover:text-tangaroa-500 inline-flex items-center group">
              Read story
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </p>
        </div>
        <div>
          <Image
            src={creditcard}
            alt="supreme thumbnail"
            class="rounded-3xl lg:absolute top-10"
            width={1011}
            height={638}
          />
        </div>
      </div>
    </div>
  </div>
</section>
