<section aria-labelledby="blogentries-one" id="blogentries-one">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24 items-center"
  >
    <div class="space-y-24">
      <div class="grid grid-cols-1 lg:grid-cols-4 items-center">
        <div class="lg:col-span-3">
          <span class="text-tangaroa-400 uppercase text-xs font-semibold"
            >Blog Entries One</span
          >
          <h2
            class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl lg:mx-auto"
          >
            Streamline in-person payments with
            <span class="lg:block"> recent Supreme Terminal upgrades.</span>
          </h2>
          <p class="text-base text-tangaroa-400 mt-6">
            Upswing securities passively index inverse bondholders
            capitalization financial health Moody's debt managed. Receive
            bondholders called capitalization investment grade bonds bills
            management district stocks. Potential funds consulting expenses.
          </p>
          <p class="mt-6">
            <a
              href=""
              class="text-orange hover:text-tangaroa-500 inline-flex items-center group"
            >
              Read story
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </p>
        </div>
        <div class="lg:ml-auto">
          <p class="text-xs text-tangaroa-400 uppercase">August 4, 2022</p>
          <div class="flex items-center mt-6">
            <div>
              <img
                class="inline-block h-9 w-9 rounded-full"
                src="https://pbs.twimg.com/profile_images/1566834362452156417/_5AVOCnC_400x400.jpg"
                alt=""
              />
            </div>
            <div class="ml-3">
              <p
                class="text-sm font-medium text-tangaroa-700 group-hover:text-tangaroa-900"
              >
                Michael Andreuzza
              </p>
              <p
                class="text-xs font-medium text-tangaroa-500 group-hover:text-tangaroa-700"
              >
                Unwrapped
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-4 items-center">
        <div class="lg:col-span-3">
          <h2
            class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl lg:mx-auto"
          >
            Reimagining bank transfers

            <span class="lg:block"> and consistent UI Kit for your SaaS.</span>
          </h2>
          <p class="text-base text-tangaroa-400 mt-6">
            Upswing securities passively index inverse bondholders
            capitalization financial health Moody's debt managed. Receive
            bondholders called capitalization investment grade bonds bills
            management district stocks. Potential funds consulting expenses.
          </p>
          <p class="mt-6">
            <a
              href=""
              class="text-orange hover:text-tangaroa-500 inline-flex items-center group"
            >
              Read story
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </p>
        </div>
        <div class="lg:ml-auto">
          <p class="text-xs text-tangaroa-400 uppercase">August 4, 2022</p>
          <div class="flex items-center mt-6">
            <div>
              <img
                class="inline-block h-9 w-9 rounded-full"
                src="https://pbs.twimg.com/profile_images/1566834362452156417/_5AVOCnC_400x400.jpg"
                alt=""
              />
            </div>
            <div class="ml-3">
              <p
                class="text-sm font-medium text-tangaroa-700 group-hover:text-tangaroa-900"
              >
                Michael Andreuzza
              </p>
              <p
                class="text-xs font-medium text-tangaroa-500 group-hover:text-tangaroa-700"
              >
                Unwrapped
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-4 items-center">
        <div class="lg:col-span-3">
          <h2
            class="text-tangaroa-500 font-display font-semibold mt-6 text-3xl lg:mx-auto"
          >
            Sessions 2022 and product

            <span class="lg:block">highlights from the year</span>
          </h2>
          <p class="text-base text-tangaroa-400 mt-6">
            Upswing securities passively index inverse bondholders
            capitalization financial health Moody's debt managed. Receive
            bondholders called capitalization investment grade bonds bills
            management district stocks. Potential funds consulting expenses.
          </p>
          <p class="mt-6">
            <a
              href=""
              class="text-orange hover:text-tangaroa-500 inline-flex items-center group"
            >
              Read story
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </p>
        </div>
        <div class="lg:ml-auto">
          <p class="text-xs text-tangaroa-400 uppercase">August 4, 2022</p>
          <div class="flex items-center mt-6">
            <div>
              <img
                class="inline-block h-9 w-9 rounded-full"
                src="https://pbs.twimg.com/profile_images/1566834362452156417/_5AVOCnC_400x400.jpg"
                alt=""
              />
            </div>
            <div class="ml-3">
              <p
                class="text-sm font-medium text-tangaroa-700 group-hover:text-tangaroa-900"
              >
                Michael Andreuzza
              </p>
              <p
                class="text-xs font-medium text-tangaroa-500 group-hover:text-tangaroa-700"
              >
                Unwrapped
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
