Lexington<section class="md:overflow-x-scroll bg-white">
  <div class="container px-5 py-12 mx-auto md:px-36 max-w-7xl">
    <div class="flex flex-wrap mx-auto md:flex-nowrap">
      <div class="flex w-full">
        <div
          class="relative flex flex-col items-start m-1 h-full bg-tangaroa-600 shadow-largeShadow rounded-xl p-6 w-full group md:w-64"
        >
          <a
            href="/blog-post-one"
            class="w-full h-full items-start flex flex-1 flex-col justify-between"
          >
            <div>
              <div>
                <p class="font-semibold text-white text-base">
                  Sessions is back on May 24.
                </p>
              </div>
              <p class="mt-2 text-mercury-400 text-sm">
                We've added support for businesses in Croatia—making Supreme
                available everywhere in the European Union. Businesses in
                Gibraltar and Liechtenstein can also sign up now.
              </p>
            </div>
            <footer>
              <p
                class="text-mint group-hover:text-white inline-flex items-center mt-12 lg:mt-24"
              >
                Read story
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </p>
            </footer>
          </a>
        </div>
      </div>
      <div class="flex w-full">
        <div
          class="relative flex flex-col items-start m-1 h-full bg-tangaroa-600 shadow-largeShadow rounded-xl p-6 w-full group md:w-64"
        >
          <a
            href="/blog-post-one"
            class="w-full h-full items-start flex flex-1 flex-col justify-between"
          >
            <div>
              <div>
                <p class="font-semibold text-white text-base">
                  Embedded finance and the next decade of software growth.
                </p>
              </div>
              <p class="mt-2 text-mercury-400 text-sm">
                Sync your Supreme data with your Redshift or Snowflake data
                warehouse.
              </p>
            </div>
            <footer>
              <p
                class="text-mint group-hover:text-white inline-flex items-center mt-12 lg:mt-24"
              >
                Read story
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </p>
            </footer>
          </a>
        </div>
      </div>
      <div class="flex w-full">
        <div
          class="relative flex flex-col items-start m-1 h-full bg-tangaroa-600 shadow-largeShadow rounded-xl p-6 w-full group md:w-64"
        >
          <a
            href="/blog-post-one"
            class="w-full h-full items-start flex flex-1 flex-col justify-between"
          >
            <div>
              <div>
                <p class="font-semibold text-white text-base">
                  Blockchain is here.
                </p>
              </div>
              <p class="mt-2 text-mercury-400 text-sm">
                Let users securely share their financial data so you can
                streamline payments, reduce fraud, underwrite risk, and build
                new products.
              </p>
            </div>
            <footer>
              <p
                class="text-mint group-hover:text-white inline-flex items-center mt-12 lg:mt-24"
              >
                Read story
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </p>
            </footer>
          </a>
        </div>
      </div>
      <div class="flex w-full">
        <div
          class="relative flex flex-col items-start m-1 h-full bg-tangaroa-600 shadow-largeShadow rounded-xl p-6 w-full group md:w-64"
        >
          <a
            href="/blog-post-one"
            class="w-full h-full items-start flex flex-1 flex-col justify-between"
          >
            <div>
              <div>
                <p class="font-semibold text-white text-base">
                  Supreme Identity mobile SDKs are now available.
                </p>
              </div>
              <p class="mt-2 text-mercury-400 text-sm">
                All Supreme businesses across Europe can now enable CB. Offer
                the largest card network in France to meet local preferences and
                increase acceptance rates with your French customers.
              </p>
            </div>
            <footer>
              <p
                class="text-mint group-hover:text-white inline-flex items-center mt-12 lg:mt-24"
              >
                Read story
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </p>
            </footer>
          </a>
        </div>
      </div>
      <div class="flex w-full">
        <div
          class="relative flex flex-col items-start m-1 h-full bg-tangaroa-600 shadow-largeShadow rounded-xl p-6 w-full group md:w-64"
        >
          <a
            href="/blog-post-one"
            class="w-full h-full items-start flex flex-1 flex-col justify-between"
          >
            <div>
              <div>
                <p class="font-semibold text-white text-base">
                  Supreme Identity mobile SDKs are now available.
                </p>
              </div>
              <p class="mt-2 text-mercury-400 text-sm">
                We've added support for businesses in Croatia—making Supreme
                available everywhere in the European Union. Businesses in
                Gibraltar and Liechtenstein can also sign up now.
              </p>
            </div>
            <footer>
              <p
                class="text-mint group-hover:text-white inline-flex items-center mt-12 lg:mt-24"
              >
                Read story
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </p>
            </footer>
          </a>
        </div>
      </div>
      <div class="flex w-full">
        <div
          class="relative flex flex-col items-start m-1 h-full bg-tangaroa-600 shadow-largeShadow rounded-xl p-6 w-full group md:w-64"
        >
          <a
            href="/blog-post-one"
            class="w-full h-full items-start flex flex-1 flex-col justify-between"
          >
            <div>
              <div>
                <p class="font-semibold text-white text-base">
                  Supreme Identity mobile SDKs are now available.
                </p>
              </div>
              <p class="mt-2 text-mercury-400 text-sm">
                Sync your Supreme data with your Redshift or Snowflake data
                warehouse.
              </p>
            </div>
            <footer>
              <p
                class="text-mint group-hover:text-white inline-flex items-center mt-12 lg:mt-24"
              >
                Read story
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </p>
            </footer>
          </a>
        </div>
      </div>
      <div class="flex w-full">
        <div
          class="relative flex flex-col items-start m-1 h-full bg-tangaroa-600 shadow-largeShadow rounded-xl p-6 w-full group md:w-64"
        >
          <a
            href="/blog-post-one"
            class="w-full h-full items-start flex flex-1 flex-col justify-between"
          >
            <div>
              <div>
                <p class="font-semibold text-white text-base">
                  Supreme Identity mobile SDKs are now available.
                </p>
              </div>
              <p class="mt-2 text-mercury-400 text-sm">
                Let users securely share their financial data so you can
                streamline payments, reduce fraud, underwrite risk, and build
                new products.
              </p>
            </div>
            <footer>
              <p
                class="text-mint group-hover:text-white inline-flex items-center mt-12 lg:mt-24"
              >
                Read story
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </p>
            </footer>
          </a>
        </div>
      </div>
      <div class="flex w-full">
        <div
          class="relative flex flex-col items-start m-1 h-full bg-tangaroa-600 shadow-largeShadow rounded-xl p-6 w-full group md:w-64"
        >
          <a
            href="/blog-post-one"
            class="w-full h-full items-start flex flex-1 flex-col justify-between"
          >
            <div>
              <div>
                <p class="font-semibold text-white text-base">
                  Supreme Identity mobile SDKs are now available.
                </p>
              </div>
              <p class="mt-2 text-mercury-400 text-sm">
                All Supreme businesses across Europe can now enable CB. Offer
                the largest card network in France to meet local preferences and
                increase acceptance rates with your French customers.
              </p>
            </div>
            <footer>
              <p
                class="text-mint group-hover:text-white inline-flex items-center mt-12 lg:mt-24"
              >
                Read story
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform"
                >
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </p>
            </footer>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
