<section aria-labelledby="pricing-one" id="pricing-one">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24 items-center">
    <div class="max-w-xl">
      <span class="text-tangaroa-400 uppercase text-xs font-semibold"
        >Stats Two</span
      >

      <h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl">
        A more efficient way to accept
        <span class="lg:block"> wire transfers and ACH</span>
      </h2>
      <div>
        <p class="text-tangaroa-400 mt-6">
          While often more effective for larger invoice amounts, supporting
          payment methods like ACH and wires can require tedious and manual
          accounts receivable efforts. Supreme Billing automates how businesses
          support B2B payment methods.
        </p>
      </div>
    </div>
    <div class="mx-auto text-left mt-12">
      <h2 class="sr-only">intro.</h2><div>
        <div
          class="text-sm gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
          <article>
            <div class="space-y-3">
              <div>
                <p
                  class="mt-5 font-semibold text-tangaroa-500 text-2xl lg:mt-0">
                  $70M
                </p>
              </div>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div>
                <p
                  class="mt-5 font-semibold text-tangaroa-500 text-2xl lg:mt-0">
                  3 months faster
                </p>
              </div>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div>
                <p
                  class="mt-5 font-semibold text-tangaroa-500 text-2xl lg:mt-0">
                  5%
                </p>
              </div>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div>
                <p
                  class="mt-5 font-semibold text-tangaroa-500 text-2xl lg:mt-0">
                  50 new countries
                </p>
              </div>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div>
                <p
                  class="mt-5 font-semibold text-tangaroa-500 text-2xl lg:mt-0">
                  600 Hours
                </p>
              </div>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div>
                <p
                  class="mt-5 font-semibold text-tangaroa-500 text-2xl lg:mt-0">
                  3 days less
                </p>
              </div>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div>
                <p
                  class="mt-5 font-semibold text-tangaroa-500 text-2xl lg:mt-0">
                  1 Miliion workers
                </p>
              </div>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div>
                <p
                  class="mt-5 font-semibold text-tangaroa-500 text-2xl lg:mt-0">
                  3 head quarters
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
