<section aria-labelledby="pricing-one" id="pricing-one">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div class="max-w-xl">
      <h2
        class="inline-flex items-center text-blue-600"
        id="table-of-contents-title">
        <span class="font-mono text-sm" aria-hidden="true">02</span><span
          class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
          class="ml-3 text-base font-medium tracking-tight">Stats</span
        >
      </h2>

      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        A more efficient way to
        <span class="lg:block">accept transfers and ACH</span>
      </h2>
      <div>
        <p class="text-slate-500 mt-6">
          While often more effective for larger invoice amounts, supporting
          payment methods like ACH and wires can require tedious and manual
          accounts receivable efforts. LexingtonBilling automates how businesses
          support B2B payment methods.
        </p>
      </div>
    </div>
    <div class="mx-auto text-left mt-12">
      <h2 class="sr-only">intro.</h2><div>
        <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
          <div>
            <p
              class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
              $70M
            </p>
          </div>
          <div>
            <p
              class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
              3 months faster
            </p>
          </div>
          <div>
            <p
              class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
              5%
            </p>
          </div>
          <div>
            <p
              class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
              50 new countries
            </p>
          </div>

          <div>
            <p
              class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
              600 Hours
            </p>
          </div>
          <div>
            <p
              class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
              3 days less
            </p>
          </div>
          <div>
            <p
              class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
              1 Miliion workers
            </p>
          </div>
          <div>
            <p
              class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
              3 head quarters
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
