<section aria-labelledby="pricing-one" id="pricing-one" class="bg-white">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2
        class="inline-flex items-center text-blue-600"
        id="table-of-contents-title">
        <span class="font-mono text-sm" aria-hidden="true">01</span><span
          class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
          class="ml-3 text-base font-medium tracking-tight">Stats</span
        >
      </h2>

      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        Creative layouts for your App or Saas
      </h2>
    </div>
    <div class="mx-auto text-left mt-12">
      <h2 class="sr-only">intro.</h2><div>
        <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
          <div>
            <div>
              <div>
                <p
                  class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
                  $70M
                </p>
              </div>
              <p class="text-slate-500 mt-6 border-blue-500">
                total increase in Lexington
              </p>
            </div>
          </div>
          <div>
            <div>
              <div>
                <p
                  class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
                  3m faster
                </p>
              </div>
              <p class="text-slate-500 mt-6 border-blue-500">
                Spazio to launch a platform
              </p>
            </div>
          </div>
          <div>
            <div>
              <div>
                <p
                  class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
                  5%
                </p>
              </div>
              <p class="text-slate-500 mt-6 border-blue-500">
                uplift in Unwrapped payment
              </p>
            </div>
          </div>
          <div>
            <div>
              <div>
                <p
                  class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
                  5 days
                </p>
              </div>
              <p class="text-slate-500 mt-6 border-blue-500">
                Ike expansion in one lexington
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
