---
import BaseHead from "../components/BaseHead.astro";
---

<html
  lang="en"
  class="scroll-smooth selection:bg-purple-900 selection:text-white">
  <head>
    <BaseHead />
  </head>

  <body>
    <slot />
  </body>
</html>
