---
import BaseHead from "../components/BaseHead.astro";
---

<html
  lang="en"
  class="scroll-smooth selection:bg-tangaroa-400 selection:text-white"
>
  <head>
    <BaseHead />
  </head>

  <body class="bg-mercury-50">
    <slot />
  </body>
</html>
