<section id="colors" aria-labelledby="colors">
  <div
    class="px-8 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pb-36"
  >
    <div>
      <div class="max-w-xl py-3">
        <div class="relative">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-orange"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="pr-3 bg-mercury-50 text-xl text-tangaroa-500"
              >Main color palette
            </span>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-4 lg:grid-cols-6 py-3 gap-3">
        <div class="bg-mint p-6 rounded-md lg:p-12 h-4 w-4"></div>
        <div class="bg-orange p-6 rounded-md lg:p-12 h-4 w-4"></div>
        <div class="bg-white p-6 rounded-md lg:p-12 h-4 w-4"></div>
        <div
          class="bg-mercury-50 border border-mercury-400 p-6 rounded-md lg:p-12 h-4 w-4"
        >
        </div>
        <div
          class="bg-mercury-100 border border-mercury-400 p-6 rounded-md lg:p-12 h-4 w-4"
        >
        </div>
        <div class="bg-tangaroa-500 p-6 rounded-md lg:p-12 h-4 w-4"></div>
      </div>
    </div>
  </div>
</section>
