<section id="typograpy" aria-labelledby="typography">
  <div
    class="px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div>
      <div class="max-w-xl">
        <p
          class="text-3xl font-medium tracking-tight text-tangaroa-500 lg:text-5xl"
        >
          Style guide
        </p>
      </div>
      <div class="max-w-xl">
        <div class="py-3 mt-12">
          <div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-orange"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="pr-3 bg-mercury-50 text-xl tangaroa-500"
                >Typography
                <span class="text-sm">· Inter & Inter Tight</span>
              </span>
            </div>
          </div>
        </div>
        <div class="py-3 space-y-6">
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-500">Header 1</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-3xl font-medium tracking-tight text-tangaroa-500 lg:text-5xl"
                >Header 1
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-400">Header 2</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-2xl font-medium tracking-tight text-tangaroa-500 lg:text-4xl"
                >Header 2
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-400">Header 3</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-xl font-medium tracking-tight text-tangaroa-500 lg:text-3xl"
                >Header 3
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-400">Header 4</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-lg font-medium tracking-tight text-tangaroa-500 lg:text-2xl"
                >Header 4
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-400">Header 5</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-base font-medium tracking-tight text-tangaroa-500 lg:text-xl"
                >Header 5
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-400">Header 6</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-sm font-medium tracking-tight text-tangaroa-500 lg:text-lg"
                >Header 6
              </span>
            </div>
          </div>

          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-400">Link</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-sm text-orange font-semibold hover:text-tangaroa-500 underlined"
                >Link text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-400">Subtitle</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-lg lg:text-2xl text-tangaroa-500"
                >Subtitle text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-400">Paragraph</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-tangaroa-400"
                >I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-tangaroa-400">Caption</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-xs text-tangaroa-400"
                >Picture about something
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div>
              <span class="text-tangaroa-400">List</span>
            </div>
            <div class="col-span-2 lg:col-span-3">
              <ul
                class="list-decimal list-inside space-y-3 mt-6 text-tangaroa-400"
                role="list"
              >
                <li>Next.js and/or Nuxt.js</li>
                <li>CReact Native .</li>
                <li>AWS and/or Firebase</li>
                <li>Familiarity with noSQL databases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
