<section aria-labelledby="feature-One" id="feature-One" class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="grid grid-cols-1 items-end md:grid-cols-2">
      <div class="lg:pr-24 md:pr-12">
        <h2
          class="inline-flex items-center text-blue-600"
          id="table-of-contents-title">
          <span class="font-mono text-sm" aria-hidden="true">01</span><span
            class="ml-3 h-3.5 w-px bg-blue-600/20"></span><span
            class="ml-3 text-base font-medium tracking-tight">Submit</span
          >
        </h2>
        <h2
          class="text-purple-900 font-semibold mt-6 text-4xl lg:text-7xl tracking-tighter">
          Contact our sales team
        </h2>
        <p class="text-slate-500 mt-5">
          Receive dividends bull investment mutual funds rise federal funds
          strategy substantially treasury municipal public index funds.
        </p>

        <ul role="list" class="list-none mt-12">
          <li>
            <div>
              <p class="mt-5 font-semibold text-purple-900">
                Prebuilt integrations
              </p>
            </div>
            <div class="mt-5">
              <ul
                role="list"
                class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Embeddable checkout</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Custom UI toolkit</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Invoice support</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Payment optimization</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4">Data migration</span>
                </li>
                <li class="flex items-start">
                  —
                  <span class="ml-4"> Product monetization strategy</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="lg:mt-0 mt-12 md:pl-12 md:border-l lg:pl-24 border-slate-200">
        <div class="flex flex-col">
          <form action="https://submit-form.com/r4PIGvAB">
            <input name="hidden" autocomplete="false" style="display:none" />
            <input name="_redirect" type="hidden" value="#" /><div
              class="space-y-2">
              <div>
                <label class="sr-only" name="name">Firist name</label>
                <input
                  type="text"
                  class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
                  placeholder="Full Name"
                />
              </div>

              <div>
                <label class="sr-only">Work email adress</label>
                <input
                  type="email"
                  class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
                  placeholder="Work Email"
                />
              </div>
              <div>
                <label class="sr-only">Work email adress</label>
                <input
                  type="tel"
                  class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
                  placeholder="Work Phone"
                />
              </div>
              <div>
                <label class="sr-only">Work website</label>
                <input
                  type="url"
                  class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
                  placeholder="Work website address"
                />
              </div>

              <div>
                <div>
                  <label class="sr-only" name="message">Project details</label
                  ><div class="mt-1">
                    <textarea
                      class="w-full focus:outline-none border focus:border-slate-200 py-3 appearance-none block border-transparent focus:bg-white bg-slate-50 px-3 rounded-xl text-purple-900"
                      placeholder="What are you working on?"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>

              <div class="col-span-full">
                <button
                  class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-full"
                  type="submit">Submit your request</button
                >
              </div>
              <div>
                <p class="font-medium text-sm leading-tight text-purple-900">
                  Not a member? <a
                    class="text-purple-900 hover:text-blue-600 ml-3"
                    href="/signup">Sign up now</a
                  >
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
