<section aria-labelledby="feature-One" id="feature-One" class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-36 py-24">
    <div class="grid grid-cols-1 items-start md:grid-cols-2">
      <div class="lg:pr-24 md:pr-12">
        <span class="text-orange uppercase text-xs font-semibold"
          >Submit Form
        </span><h2 class="text-tangaroa-500 font-semibold mt-6 text-3xl">
          Contact our sales team
        </h2>
        <p class="text-tangaroa-400 mt-5">
          Receive dividends bull investment mutual funds rise federal funds
          strategy substantially treasury municipal public index funds.
        </p>

        <ul role="list" class="list-none mt-12">
          <li>
            <div>
              <p class="mt-5 font-semibold text-tangaroa-500 text-sm">
                Prebuilt integrations
              </p>
            </div>
            <div class="mt-5">
              <ul
                role="list"
                class="order-last flex flex-col gap-y-2 text-sm text-tangaroa-400">
                <li class="flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-6 h-6">
                    <path
                      fill-rule="evenodd"
                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="ml-4"> Embeddable checkout</span>
                </li>
                <li class="flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-6 h-6">
                    <path
                      fill-rule="evenodd"
                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="ml-4"> Custom UI toolkit</span>
                </li>
                <li class="flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-6 h-6">
                    <path
                      fill-rule="evenodd"
                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="ml-4"> Invoice support</span>
                </li>
                <li class="flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-6 h-6">
                    <path
                      fill-rule="evenodd"
                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="ml-4"> Payment optimization</span>
                </li>
                <li class="flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-6 h-6">
                    <path
                      fill-rule="evenodd"
                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="ml-4">Data migration</span>
                </li>
                <li class="flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="w-6 h-6">
                    <path
                      fill-rule="evenodd"
                      d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                      clip-rule="evenodd"></path>
                  </svg>
                  <span class="ml-4"> Product monetization strategy</span>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div
        class="lg:mt-0 mt-12 md:pl-12 md:border-l lg:pl-24 border-mercury-400 h-full">
        <div class="flex flex-col">
          <form action="https://submit-form.com/r4PIGvAB">
            <input name="hidden" autocomplete="false" style="display:none" />
            <input name="_redirect" type="hidden" value="#" /><div
              class="space-y-6">
              <div>
                <label class="sr-only" name="name">Firist name</label>
                <input
                  type="text"
                  class="w-full focus:outline-none border py-2 appearance-none block border-mint focus:bg-white bg-mercury-50 focus:border-mint focus:shadow-xl focus:shadow-mint/20 focus:ring-tangaroa-500 placeholder-mercury-500 px-3 rounded-xl sm:text-sm text-tangaroa-500"
                  placeholder="Full Name"
                />
              </div>

              <div>
                <label class="sr-only">Work email adress</label>
                <input
                  type="email"
                  class="w-full focus:outline-none border py-2 appearance-none block border-mint focus:bg-white bg-mercury-50 focus:border-mint focus:shadow-xl focus:shadow-mint/20 focus:ring-tangaroa-500 placeholder-mercury-500 px-3 rounded-xl sm:text-sm text-tangaroa-500"
                  placeholder="Work Email"
                />
              </div>
              <div>
                <label class="sr-only">Work email adress</label>
                <input
                  type="tel"
                  class="w-full focus:outline-none border py-2 appearance-none block border-mint focus:bg-white bg-mercury-50 focus:border-mint focus:shadow-xl focus:shadow-mint/20 focus:ring-tangaroa-500 placeholder-mercury-500 px-3 rounded-xl sm:text-sm text-tangaroa-500"
                  placeholder="Work Phone"
                />
              </div>
              <div>
                <label class="sr-only">Work website</label>
                <input
                  type="url"
                  class="w-full focus:outline-none border py-2 appearance-none block border-mint focus:bg-white bg-mercury-50 focus:border-mint focus:shadow-xl focus:shadow-mint/20 focus:ring-tangaroa-500 placeholder-mercury-500 px-3 rounded-xl sm:text-sm text-tangaroa-500"
                  placeholder="Work website address"
                />
              </div>
              <div>
                <label for="countries" class="sr-only">Select an option</label>
                <select
                  id="countries"
                  class="bg-gray-50 border border-mint text-tangaroa-500 text-sm rounded-xl focus:ring-blue-500 py-3 focus:border-blue-500 block w-full p-2.5 mercury-500">
                  <option selected>Choose your country</option>
                  <option value="US">Spain</option>
                  <option value="CA">Italy</option>
                  <option value="FR">Åland Islands</option>
                  <option value="DE">Sweden</option>
                </select>
              </div>
              <div>
                <label for="countries" class="sr-only">Select an option</label>
                <select
                  id="countries"
                  class="bg-gray-50 border border-mint text-tangaroa-500 text-sm rounded-xl focus:ring-blue-500 py-3 focus:border-blue-500 block w-full p-2.5 mercury-500">
                  <option selected>Select a monthly amount</option>
                  <option value="US">United States</option>
                  <option value="CA">Canada</option>
                  <option value="FR">France</option>
                  <option value="DE">Germany</option>
                </select>
              </div>
              <div>
                <div>
                  <label class="sr-only" name="message">Project details</label
                  ><div class="mt-1">
                    <textarea
                      class="w-full focus:outline-none border py-2 appearance-none block border-mint focus:bg-white bg-mercury-50 focus:border-mint focus:shadow-xl focus:shadow-mint/20 focus:ring-tangaroa-500 placeholder-mercury-500 px-3 rounded-xl sm:text-sm text-tangaroa-500"
                      placeholder="What are you working on?"
                      rows="4"></textarea>
                  </div>
                </div>
              </div>

              <div class="col-span-full">
                <button
                  class="inline-flex items-center justify-center rounded-full w-full py-3 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 bg-tangaroa-500 text-white hover:bg-orange hover:text-tangaroa-500 active:bg-tangaroa-600 active:text-white focus-visible:outline-tangaroa-900"
                  type="submit">Submit your request</button
                >
              </div>
              <div>
                <p class="font-medium text-sm leading-tight text-tangaroa-500">
                  Not a member? <a
                    class="text-tangaroa-500 hover:text-orange ml-3"
                    href="/signup">Sign up now</a
                  >
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
