---
// Fundations
import Logo from "@/components/assets/Logo.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<!-- <header class="fixed w-full z-50">
  <Wrapper variant="standard" class="relative overflow-hidden">
    <div class="flex justify-between items-center py-4">
      <div class="relative">
        <a href="/"><Logo class="h-4" /></a>
      </div>
      <div
        class="flex gap-4 text-xs rounded-full p-1 hover:cursor-pointer transition-all"
      >
        <Text
          tag="a"
          variant="textXS"
          href="/system/overview"
          class="transition-all text-base-900"
        >
          Overview
        </Text>
        <Text
          tag="a"
          variant="textXS"
          href="https://buy.polar.sh/polar_cl_i_IYoyQu3ahT_zZQ1CN1uaDgu7ZBdBGVpLThHkMDt0s"
          class="transition-all text-base-600"
        >
          Buy S:Bianco
        </Text>
        
      </div>
    </div>
  </Wrapper>
</header> -->
