<section>
  <div class="flex justify-center md:px-12 lg:px-0">
    <div
      class="relative grid grid-cols-1 lg:grid-cols-2 px-4 py-10 lg:py-24 sm:justify-center md:flex-none md:px-28 w-full"
    >
      <div>
        <h1
          class="text-white text-6xl italic tracking-tighter font-black lg:text-[11rem]"
        >
          Get started.
        </h1>
        <div class="max-w-xl">
          <p class="text-white/80 text-lg mt-3 font-light leading-snug">
            Complete the details below so I can process your request and then
            schedule a time to discuss your goals.
          </p>
          <p class="text-white/80 text-lg mt-3 font-thin leading-snug">
            Normally i answer back within 4 to 5 hours, depending on what I am
            doing.
          </p>

          <div>
            <nav class="flex flex-wrap items-center w-full mt-12 lg:mt-32">
              <a
                class="w-full text-sm font-normal text-center leading-24px md:w-auto md:text-left md:py-4 inline-flex items-center text-white hover:text-white/80"
                href="/"
              >
                <span>
                  <svg
                    class="w-5 h-5 lg:w-20 lg:h-20"
                    viewBox="0 0 30 13"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <line
                      y1="-0.333732"
                      x2="29.3684"
                      y2="-0.333732"
                      transform="matrix(-1 0 0 1 29.3684 6.67464)"
                      stroke="white"
                      stroke-width="0.667464"></line>
                    <path
                      d="M-9.53674e-07 6.00718C0.788873 6.00718 1.57002 5.8518 2.29885 5.54991C3.02767 5.24802 3.6899 4.80553 4.24772 4.24772C4.80553 3.6899 5.24802 3.02767 5.54991 2.29885C5.8518 1.57002 6.00718 0.788874 6.00718 0"
                      stroke="white"
                      stroke-width="0.667464"></path>
                    <path
                      d="M-9.53674e-07 6.67464C0.788873 6.67464 1.57002 6.83002 2.29885 7.13191C3.02767 7.4338 3.6899 7.87628 4.24772 8.4341C4.80553 8.99192 5.24802 9.65414 5.54991 10.383C5.8518 11.1118 6.00718 11.8929 6.00718 12.6818"
                      stroke="white"
                      stroke-width="0.667464"></path>
                  </svg>
                </span>
                <span class="text-2xl font-black uppercase lg:text-4xl ml-4"
                  >Go back</span
                >
              </a>
            </nav>
          </div>
        </div>
      </div>
      <div class="w-full sm:px-4 md:px-0 max-w-sm mx-auto">
        <form name="jamstacker" method="POST" data-netlify="true">
          <label class="hidden">
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
          <div class="mt-4 space-y-6">
            <div class="">
              <label
                name="name"
                class="block mb-3 text-sm text-white uppercase lg:text-2xl font-black italic"
              >
                First name
              </label>
              <input
                type="text"
                placeholder="Your name"
                name="name"
                class="block w-full px-3 py-2 bg-black border border-white/10 text-tangaroa-500 appearance-none placeholder-white/30 focus:border-black focus:bg-white focus:outline-none focus:ring-white sm:text-sm"
              />
            </div>
            <div class="col-span-full">
              <label
                name="company"
                class="block mb-3 text-sm text-white uppercase lg:text-2xl font-black italic"
              >
                What is the name of your company / organisation?
              </label>
              <input
                type="text"
                name="company"
                class="block w-full px-3 py-2 bg-black border border-white/10 text-tangaroa-500 appearance-none placeholder-white/30 focus:border-black focus:bg-white focus:outline-none focus:ring-white sm:text-sm"
                placeholder="Company name"
              />
            </div>
            <div class="col-span-full">
              <label
                name="email"
                class="block mb-3 text-sm text-white uppercase lg:text-2xl font-black italic"
              >
                How shall we contact you?
              </label>
              <input
                type="email"
                name="email"
                autocomplete="off"
                placeholder="email@example.com"
                class="block w-full px-3 py-2 bg-black border border-white/10 text-tangaroa-500 appearance-none placeholder-white/30 focus:border-black focus:bg-white focus:outline-none focus:ring-white sm:text-sm"
              />
            </div>
            <div>
              <div>
                <label
                  name="message"
                  class="block mb-3 text-sm text-white uppercase lg:text-2xl font-black italic"
                  >Project details</label
                >
                <div class="mt-1">
                  <textarea
                    rows="4"
                    placeholder="What are you working on?"
                    name="message"
                    class="block w-full px-3 py-2 bg-black border border-white/10 text-tangaroa-500 appearance-none placeholder-white/30 focus:border-black focus:bg-white focus:outline-none focus:ring-white sm:text-sm"
                  ></textarea>
                </div>
              </div>
            </div>
            <div class="col-span-full">
              <div>
                <button
                  type="submit"
                  class="block w-full px-8 py-6 text-2xl font-black uppercase tracking-tighter italic leading-none text-center ease-in-out bg-white border-2 hover:border-white/90 hover:bg-white/90 text-tangaroa-500 border-white duration-650"
                >
                  Get started today
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
